<%= content_for(:title, "Evercam: Support") %>

<div class="page-content-wrapper" id="support">
  <div class="page-content">
    <div class="row">
      <div class="section-header">
        <div class="camera-title">
          Feedback
        </div>
      </div>
    </div>
    <div class="margin-top-20 ">
      <%= form_for @message, url: support_path do |message_form| %>
        <fieldset>
          <div class="form-group">
            <label>Your Name</label>
            <%= message_form.text_field :name, value: current_user.fullname %>
          </div>
          <div class="form-group">
            <label>Your Email</label>
            <%= message_form.email_field :email, value: current_user.email %>
          </div>
          <div class="form-group">
            <label>Your feedback</label>
            <%= message_form.text_area :content, placeholder: "You can be as honest as"%>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <%= message_form.submit "Send" %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>

