<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <ul class="page-breadcrumb breadcrumb">
          <li>
            <i class="fa fa-home"></i>
            <a href="/admin">Home</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li>
            <a href="#">Users</a>
          </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
      </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div id="user-list-row" class="row hide">
      <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover user-list-table" id="datatable_ajax">
          <thead>
            <tr role="row" class="heading">
              <th name="order_admin" class="sorting">Admin</th>
              <th name="order_username" class="sorting">Username</th>
              <th name="order_name" class="sorting">Name</th>
              <th name="order_email" class="sorting">Email</th>
              <th name="order_camera_count" class="sorting">Cameras</th>
              <th name="order_country" class="sorting">Country</th>
              <th name="order_registered" class="sorting datatable-date">Registered</th>
              <th name="order_email_confirmed" class="sorting">Confirmed Email</th>
            </tr>
          </thead>
          <tbody>
            <% @dash_users.each do |dash_user| %>
            <tr>
              <td>
                <% if dash_user.is_admin? %>
                  Yes
                <% else %>
                  No
                <% end %>
              </td>
              <td><%= dash_user.username %></td>
              <td><%= link_to dash_user.fullname, admin_dash_user_path(dash_user) %></td>
              <td><%= dash_user.email %></td>
              <td><%= link_to dash_user.dash_cameras.length, "#{admin_dash_user_path(dash_user)}#tab_1_12" %></td>
              <td><%= dash_user.dash_country.name unless dash_user.dash_country.blank? %></td>
              <td><%= dash_user.created_at.strftime("%d/%m/%y") %></td>
              <td><%= human_boolean(dash_user.confirmed_at.present?) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- END PAGE CONTENT-->
  </div>
</div>
<!-- END CONTENT -->
<script>
  $(".user-list-table").dataTable({
    aaSorting: [1, "asc"],
    aLengthMenu: [[25, 50, 100, 200, -1], [25, 50, 100, 200, "All"]],
    iDisplayLength: 50,
    columnDefs: [
      {
        type: "date-uk",
        targets: 'datatable-date'
      }
    ],
    initComplete: function(){
      $("#user-list-row").removeClass('hide');
    }
  });

</script>
