<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>

<form action="" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <div id="user-rights-modal" class="modal fade">
    <div class="modal-dialog" style="width:400px;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h5>User Details</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <table class="user-table">
              <tr>
                <td class="col-md-4"><label class="control-label">First Name:</label></td>
                <td><input data-validation-error-msg="Cannot be blank" type="text" data-validation="length" data-validation-length="min1" id="firstname" name="firstname" class="form-control" value="<%= @dash_user.firstname %>"/></td>
              </tr>
              <tr>
                <td class="col-md-4"><label class="control-label">Last Name:</label></td>
                <td><input data-validation-error-msg="Cannot be blank" type="text" data-validation="length" data-validation-length="min1" id="lastname" name="lastname" class="form-control" value="<%= @dash_user.lastname %>"/></td>
              </tr>
              <tr>
                <td class="col-md-4"><label class="control-label">Email:</label></td>
                <td><input data-validation="email" type="text" id="email" name="email" class="form-control" value="<%= @dash_user.email %>"/></td>
              </tr>
              <tr>
                <td class="col-md-4"><label class="control-label">Country:</label></td>
                <td>
                  <select id="country_id" name="country_id" class="form-control is-required">
                    <% @countries.each do |c| %>
                      <option value="<%= c.id -%>" <% if c.name == @dash_user.dash_country.name %>selected="selected"<% end %>>
                        <%= c.name -%>
                      </option>
                    <% end %>
                  </select>
                </td>
              </tr>
              <tr>
                <td class="col-md-4"><label class="control-label">Permissions:</label></td>
                <td>
                  <div class="radio-list">
                    <label class="radio-inline">
                      <input type="radio" name="is_admin" id="user-rights-radios1" value="true" <%= "checked" if @dash_user.is_admin %>>
                      Allow admin permissions</small>
                    </label>

                    <label class="radio-inline">
                      <input type="radio" name="is_admin" id="user-rights-radios2" value="false" <%= "checked" if !@dash_user.is_admin %>>
                      Do not allow admin permissions</small>
                    </label>
                  </div>
                </td>
              </tr>
            </table>

          </div>
        </div>

        <fieldset>
          <div class="modal-footer">
            <input name="_method" type="hidden" value="put" />
            <button type="submit" id="save-user-rights" name="save-user-rights" class="push btn btn-primary">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </fieldset>
      </div>
    </div>
  </div><!-- /.modal -->

  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <!-- BEGIN PAGE HEADER-->
      <div class="row">
        <div class="col-md-6">
          <!-- BEGIN PAGE TITLE & BREADCRUMB-->
          <h3 class="page-title">
            Evercam User
          </h3>
        </div>
        <div class="col-md-6">
          <h4 class=" text-right">
            <%= link_to admin_impersonate_path(@dash_user) do %>
              <%= "Sign in as #{@dash_user.fullname}" %>
              <i class="fa fa-sign-in"></i>
            <% end %>
          </h4>
        </div>
        <div class="col-md-12">
          <ul class="page-breadcrumb breadcrumb">
            <li>
              <i class="fa fa-home"></i>
              <a href="/admin">Home</a>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="/admin/users">Users</a>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
            <%= link_to @dash_user.fullname, admin_dash_user_path(@dash_user) %>
            </li>
          </ul>
          <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
      </div>
      <!-- END PAGE HEADER-->
      <!-- BEGIN PAGE CONTENT-->
      <div class="row">
        <div class="col-md-12">
          <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs">
              <li class="active">
                <a data-toggle="tab" href="#tab_1_1">Overview</a>
              </li>
              <li class="">
                <a data-toggle="tab" href="#tab_1_3">Snapshots</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active row col-md-9" id="tab_1_1">
                <div class="row">
                  <div class="col-md-8 profile-info">
                    <h1><%= @dash_user.fullname %></h1>
                    <p></p>
                    <ul class="list-inline">
                      <li><i class="fa fa-map-marker"></i> <%= @dash_user.dash_country.name %></li>
                      <li><i class="fa fa-calendar"></i> Registered on <%= @dash_user.created_at.strftime("%d/%m/%y") %></li>
                    </ul>
                  </div><!--end col-md-8-->
                  <div class="col-md-4">
                    <div class="portlet sale-summary">
                      <div class="portlet-title">
                        <div class="caption">
                          User Summary
                        </div>
                        <div class="tools">
                          <a class="reload" href="javascript:;">
                          </a>
                        </div>
                      </div>
                      <div class="portlet-body">
                        <ul class="list-unstyled">
                          <li>
                            <span class="sale-info">
                              Cameras Owned
                              <i class="fa fa-img-up"></i>
                            </span>
                            <span class="sale-num">
                              <%= @dash_user.dash_cameras.count %>
                            </span>
                          </li>
                          <li>
                            <span class="sale-info">
                              Cameras shared with this User
                              <i class="fa fa-img-down"></i>
                            </span>
                            <span class="sale-num">
                             <%= @dash_user.dash_camera_shares.count %>
                           </span>
                         </li>
                       </ul>
                     </div>
                   </div>
                 </div>
               </div><!--end row-->
               <div class="tabbable tabbable-custom tabbable-custom-profile">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a data-toggle="tab" href="#tab_1_11">User's Information</a>
                  </li>
                  <li class="">
                    <a data-toggle="tab" href="#tab_1_12">User's Cameras</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active portlet-body" id="tab_1_11">
                    <table class="table table-striped table-bordered table-advance table-hover">
                      <tbody>
                        <tr>
                          <td>
                            First Name
                          </td>
                          <td><%= @dash_user.firstname %></td>
                        </tr>
                        <tr>
                          <td>
                            Last Name
                          </td>
                          <td><%= @dash_user.lastname %></td>
                        </tr>
                        <tr>
                          <td>
                            Username
                          </td>
                          <td><%= @dash_user.username %></td>
                        </tr>
                        <tr>
                          <td>Country</td>
                          <td><%= @dash_user.dash_country.name %></td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td><%= @dash_user.email %></td>
                        </tr>
                        <tr>
                          <td>Registered Since</td>
                          <td><%= @dash_user.created_at.strftime("%d/%m/%y") %></td>
                        </tr>
                        <tr>
                          <td>Is Admin</td>
                          <td>
                            <% if @dash_user.is_admin? %>
                                Yes
                            <% else %>
                                No
                            <% end %>
                            <a href="#" class="change" data-toggle="modal" data-target="#user-rights-modal">Change</a>
                          </td>
                        </tr>
                        <tr>
                          <td>API ID</td>
                          <td><%= @dash_user.api_id %></td>
                        </tr>
                        <tr>
                          <td>API Key</td>
                          <td><%= @dash_user.api_key %></td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!--tab-pane-->
                  <div class="tab-pane portlet-body" id="tab_1_12">
                    <table class="table table-striped table-bordered table-hover table-datatable" id="datatable_ajax">
                      <thead>
                        <tr role="row" class="heading">
                          <th name="order_id" class="sorting">ID</th>
                          <th name="order_name" class="sorting">Name</th>
                          <th name="order_model" class="sorting">Model</th>
                          <th name="order_vendor" class="sorting">Vendor</th>
                          <th name="order_public" class="sorting">Public</th>
                          <th name="order_online" class="sorting">Online</th>
                          <th name="order_created" class="sorting datatable-date">Created At</th>
                          <th name="order_polled" class="sorting datatable-date">Last Polled</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @dash_user.dash_cameras.each do |dash_camera| %>
                        <tr>
                          <td><%= dash_camera.exid %></td>
                          <td><%= dash_camera.name %></td>
                          <td>
                            <%= dash_camera.dash_vendor_model.name if dash_camera.model_id %>
                          </td>
                          <td>
                            <%= dash_camera.dash_vendor_model.vendor.name if dash_camera.model_id %>
                          </td>
                          <td><%= human_boolean(dash_camera.is_online) %></td>
                          <td><%= human_boolean(dash_camera.is_public) %></td>
                          <td><%= dash_camera.created_at.strftime("%d/%m/%y") %></td>
                          <td><%= dash_camera.last_polled_at.strftime("%d/%m/%y") %></td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div><!--tab-pane-->
                </div>
              </div>
            </div><!--tab_1_2-->
            <div class="tab-pane row profile-account" id="tab_1_3">
              <div class="row mix-grid">
                <% @dash_user.dash_cameras.order(:is_online).reverse.each do |dash_camera| %>
                <div class="col-md-3 col-sm-4 mix category_1 mix_all camera-snapshot" style="display: block; opacity: 1;">
                  <div class="mix-inner">
                    <% if dash_camera.preview %>
                    <img class="img-responsive" src="data:image/jpeg;base64,<%= Base64.encode64(dash_camera.preview) %>" />
                    <% else %>
                    <img class="img-responsive" src="<%= image_path 'noise.png' %>" />
                    <% end %>
                    <div class="mix-details">
                      <h4><%= dash_camera.name %></h4>
                      <a class="mix-link" href="<%= admin_dash_camera_path(dash_camera) %>" title="<%= dash_camera.name %>" data-rel="fancybox-button">
                        <i class="fa fa-link"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div><!--end tab-pane-->
            <!--end tab-pane-->
          </div>
        </div>
      </div>
    </div>
    <!-- END PAGE CONTENT-->
  </div>
  </div>
  <!-- END CONTENT -->
</form>
<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<script type="text/javascript">
  $(function(){
    $.validate();

    // Notifications
    Notification.init(".bb-alert");
    <% if flash[:message] %>
    Notification.show('<%= flash[:message] %>');
    <% end %>
  });
</script>
