<div>
   <p>Hello from Evercam,</p>
   <p>
      Evercam user <strong><%= @user.username %></strong> (<%= @user.fullname %>) has shared the
      <em><%= @camera_id %></em> camera with you.
   </p>
   <p>
     To access this camera, you will need to click on this link and create an account.
   </p>
   <p><a href="https://dashboard.evercam.io/cameras/<%= @camera_id %>">https://dashboard.evercam.io/cameras/<%= @camera_id %></a></p>
</div>