<div class='panel-body'>

  <p>Make requests to our REST API and explore responses.</p><p> You can use this Cameras ID: <span class="bold explorer-id"><%= @camera['id'] %></span> </p>


<div class="col-md-12">
  <%= stylesheet_link_tag "swagger"%>
  <%= javascript_include_tag "swagger"%>
    <script type="text/javascript">
        $(function () {

            window.swaggerUi = new SwaggerUi({
                url: "https://api.evercam.io/v1/swagger/cameras.json",
                dom_id: "swagger-ui-container",
                supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
                onComplete: function(swaggerApi, swaggerUi){
                    window.authorizations.add("api_id", new ApiKeyAuthorization("api_id", "<%= current_user.api_id unless current_user.nil? %>", "query"));
                    window.authorizations.add("api_key", new ApiKeyAuthorization("api_key", "<%= current_user.api_key unless current_user.nil? %>", "query"));
                    $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
                    $('#resources h2').each( function() { $(this).next('ul').find('li:last').remove(); } );
                    $("a:contains('/cameras/{id}/snapshot.jpg.json')").text('/cameras/{id}/snapshot.jpg');
                },
                onFailure: function(data) {
                },
                docExpansion: "list"
            });

            window.swaggerUi.load();

        });

    </script>
      <div id="exp-swagger">
        <div id="swagger">
          <div id="swagger-ui-container" class="swagger-ui-wrap">
            &nbsp;
          </div>
        </div>
      </div>

</div>
</div><!--panel-body -->

<script type="text/javascript">
  $(window.Evercam.Explorer.initializeTab);
</script>