<div class="subscriptions page-content-wrapper">
  <div class="page-content">
    <div class="portlet-body">
      <div class="invoice col-md-12">
        <div class="card">
          <img class="img-invoice" src="/assets/evercam-invoice.png">
          <div class="col-md-12">
            <% @address = @custom['CUSTOMERTEXT'].split("\n") %>
            <div class="col-md-4 address ">
              <% @address.each do |address| %>
                <div class="address-text"><%= address  %></div>
              <%end%>
            </div>

            <div class="invoice-header col-md-8 text-right">
              <div class="head-text"><strong class="margin-right-10" >Reference:</strong> <%= @custom['REFERENCE']? @custom['REFERENCE'] : "None"  %></div>
              <div class="head-text"><strong class="margin-right-10" >Account No:</strong> <%= @custom['CUSTOMERCODE'] %></div>
              <div class="head-text"><strong class="margin-right-10" >Manager:</strong> <%= @custom['CUSTOMERNAME'] %></div>
              <div class="head-text"><strong class="margin-right-10">Invoice Date:</strong> <%= @custom['POSTDATE'] %></div>
              <div class="head-text"><strong class="margin-right-10">Terms:</strong>As per quotation</div>
            </div>
          </div>

          <div class="col-md-12 margin-top-30">
            <div class="invoice-no"><strong>Invoice No. </strong><strong><%= @custom['NUMBER'] %></strong></div>

          </div>

          <div class="col-md-12 ">
            <table class="table">
              <tr>
                <th class="col-md-7">
                  Product or Service
                </th>
                <th class="col-md-1 text-right">
                  Quantity
                </th>
                <th class="col-md-1 text-right">
                  Price
                </th>
                <th class="col-md-1 text-right">
                  VAT Exc
                </th>
                <th class="col-md-1 text-right">
                  VAT
                </th>
                <th class="col-md-1 text-right">
                  VAT Inc
                </th>

              </tr>
              <% @product.each do |products| %>
              <tr>
                <td class="col-md-7"><%= products['ITEMNAME'] %></td>
                <td class="col-md-1 text-right"><%= products['QUANTITY'] %></td>
                <td class="col-md-1 text-right"><%= products['FRGSALEPRICE'] %></td>
                <td class="col-md-1 text-right"><%= products['FRGAMOUNTVATEXC'] %></td>
                <td class="col-md-1 text-right"><%= products['FRGVATAMOUNT'] %></td>
                <td class="col-md-1 text-right"><%= products['FRGAMOUNTVATINC'] %> </td>
              </tr>
              <% end %>
            </table>
          </div>
          <div class="col-md-12 text-right footer-text pull-right">
            <div class="row">
              <div class="col-md-9">Total:</div>
              <%@exc = 0 %>
              <%@vat = 0 %>
              <%@inc = 0 %>
              <% @product.each do |products| %>
                <%@exc = @exc + products['FRGAMOUNTVATEXC'].to_f %>
                <%@vat = @vat + products['FRGVATAMOUNT'].to_f %>
                <%@inc = @inc + products['FRGAMOUNTVATINC'].to_f %>
              <%end%>
              <div class="col-md-1 text-right"><%= @exc %></div>
              <div class="col-md-1 text-right"><%= @vat %></div>
              <div class="col-md-1 text-right"><%= @inc %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
