<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<div class="subscriptions invoices page-content-wrapper">
  <div class="page-content">
    <div class="portlet-body">
      <div class="col-md-12 margin-top-20">
        <div class="card">
        <% if !@invoices %>
          <p>You have no invoices.</p>
        <% else %>
          <table style="width:100%;" class="table table-full-width">
            <tr>
              <th class="col-md-2">Date</th>
              <th class="col-md-2">Total</th>
              <th class="col-md-2">Status</th>
              <th class="col-md-2">Action</th>
            </tr>
            <% @invoices.each do |invoice| %>
              <tr>
                <td><%= link_to Time.at(invoice[:date]).strftime("%d %B %Y"), invoice_show_path(current_user.username, invoice[:id])%></td>
                <td><%= cents_to_currency(invoice[:total]) %></td>
                <td>
                  <% if invoice[:paid] %>
                    <span class="green">Paid</span>
                  <% else %>
                    <span class='green'>Pending</span>
                  <% end %>
                </td>
                <td>
                  <span class="download-pdf"><%= link_to "PDF", create_invoice_pdf_path(current_user.username, invoice[:id])%><i class="fa fa-file-pdf-o"></i></span>
                  <span class="send-email"><%= link_to "Email", send_invoic_email_path(current_user.username, invoice[:id])%><i class="fa fa-send-o"></i></span>
                </td>
              </tr>
            <% end %>
          </table>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    Notification.init(".bb-alert")
    <% if flash[:message] %>
    Notification.show('<%= flash[:message] %>');
    <% end %>
  });
</script>
