<% @paid_cameras = {} %>
<% @paid_cameras['August 2014'] = ['carrolls-packing-cam', 'carrollszoocam'] %>
<% @paid_cameras['October 2014'] = ['church-twitter-cam']  %>

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr role="row" class="heading">
    <th>&nbsp;</th>
    <% 11.downto(0) do |i| %>
      <th>
        <%= i.months.ago.strftime("%B %Y") %>
      </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      New Cameras
    </td>
    <% 11.downto(0) do |i| %>
      <td>
        <%= DashCamera.where(created_at: i.months.ago.beginning_of_month..i.months.ago.end_of_month).count %>
      </td>
    <% end %>
  </tr>
  <tr>
    <td>
      Total Cameras
    </td>
    <% 11.downto(0) do |i| %>
      <td>
        <%= DashCamera.where(created_at: DashCamera.select(:created_at).order(:created_at).first.created_at..i.months.ago.end_of_month).count %>
      </td>
    <% end %>
  </tr>
  <tr>
    <td>
      New Paid Cameras
    </td>
    <% 11.downto(0) do |i| %>
      <td>
        <%= @paid_cameras[i.months.ago.strftime("%B %Y")].to_a.count %>
      </td>
    <% end %>
  </tr>
  <tr>
    <td>
      Total Paid Cameras
    </td>
    <% total = 0 %>
    <% 11.downto(0) do |i| %>
      <td>
        <% total += @paid_cameras[i.months.ago.strftime("%B %Y")].to_a.count %>
        <%= total %>
      </td>
    <% end %>
  </tr>
  <tr>
    <td>
      New Users
    </td>
    <% 11.downto(0) do |i| %>
      <td>
        <%= DashUser.where(created_at: i.month.ago.beginning_of_month..i.month.ago.end_of_month).count %>
      </td>
    <% end %>
  </tr>
  <tr>
    <td>
      Total Users
    </td>
    <% 11.downto(0) do |i| %>
      <td>
        <%= DashUser.where(created_at: DashCamera.select(:created_at).order(:created_at).first.created_at..i.months.ago.end_of_month).count %>
      </td>
    <% end %>
  </tr>
  </tbody>
</table>
