<div class="row">
  <div class="col-md-12">
    <table style="width:100%;" class="table table-full-width">
      <thead>
        <tr>
          <th class="col-md-1">Licence Required</th>
          <th class="col-md-1 text-center">Qty.</th>
          <th class="col-md-6">Camera(s)</th>
        </tr>
      </thead>
      <tbody>
      <% one_day = []
         seven = []
         thirty = []
         ninety = []
         infinity = []
      @cameras_products.each do |camera|
        if camera.cloud_recording.present?
          if camera.cloud_recording.storage_duration.equal?(-1)
            infinity[infinity.count] = camera
          elsif  camera.cloud_recording.storage_duration.equal?(1)
            one_day[one_day.count] = camera
          elsif  camera.cloud_recording.storage_duration.equal?(7)
            seven[seven.count] = camera
          elsif  camera.cloud_recording.storage_duration.equal?(30)
            thirty[thirty.count] = camera
          elsif  camera.cloud_recording.storage_duration.equal?(90)
            ninety[ninety.count] = camera
          end
        end
      end %>
      <% if infinity.present? %>
        <tr>
          <td>Infinity Recording</td>
          <td class="text-center" id="licence-required-infinity"><%= infinity.count %></td>
          <td>
            <% infinity.each do |item| %>
              <div><%= item.name %></div>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% if one_day.present? %>
        <tr>
          <td><%= one_day[0].cloud_recording.storage_duration %> Days Recording</td>
          <td class="text-center" id="licence-required-one-day"><%= one_day.count %></td>
          <td>
            <% one_day.each do |item| %>
              <div><%= item.name %></div>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% if seven.present? %>
        <tr>
          <td><%= seven[0].cloud_recording.storage_duration %> Days Recording</td>
          <td class="text-center" id="licence-required-seven-day"><%= seven.count %></td>
          <td>
            <% seven.each do |item| %>
              <div><%= item.name %></div>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% if thirty.present? %>
        <tr>
          <td><%= thirty[0].cloud_recording.storage_duration %> Days Recording</td>
          <td class="text-center" id="licence-required-thirty-day"><%= thirty.count %></td>
          <td>
            <% thirty.each do |item| %>
              <div><%= item.name %></div>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% if ninety.present? %>
        <tr>
          <td><%= ninety[0].cloud_recording.storage_duration %> Days Recording</td>
          <td class="text-center" id="licence-required-ninety-day"><%= ninety.count %></td>
          <td>
            <% ninety.each do |item| %>
              <div><%= item.name %></div>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <td><strong>Total</strong></td>
        <td class="green text-center" id="total-required-licence"><%= one_day.count + seven.count + thirty.count + ninety.count + infinity.count %></td>
        <td></td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>


