<div class="col-md-12">
  <h3 id="licences">Licences Required</h3>
  <div class="licence-alert alert alert-danger" style="display:none;">
    <span>You require <span id="licence-message"></span> licences</span>
  </div>
  <div class="licence-cameras">
    <%= render 'subscriptions/licences/cameras' %>
  </div>
</div>

<div class="col-md-12 margin-top-15">
  <% monthly_total = @seven_days_recording + @thirty_days_recording + @ninety_days_recording + @twenty_four_hours_recording + @infinity %>
  <% annual_total = @seven_days_recording_annual + @thirty_days_recording_annual + @ninety_days_recording_annual + @twenty_four_hours_recording_annual + @infinity_annual %>
  <% has_custom = @custom_licence.count %>
  <%total = monthly_total + annual_total + has_custom%>
  <h3>Licences Purchased (<%=total%>)</h3>
  <form id="form-make-payment" method="post" action="<%= new_charge_path %>">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <div class="portlet-body table-border">
      <div class="tabbable tabbable-custom">
        <div class="center-tabs">
          <ul id="ul-nav-tab" class="nav-plans nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" data-target="#monthly-plans" class="nav-tab-licences nav-tab-">Monthly (<%= monthly_total %>)</a>
            </li>
            <li>
              <a data-toggle="tab" data-target="#annual-plans" class="nav-tab-history">Annual (<%= annual_total %>) (Save 20%)</a>
            </li>
            <% if has_custom > 0 %>
            <li>
              <a data-toggle="tab" data-target="#custom-licence" class="nav-tab-history tab-custom-licence">Created by Admin (<%= has_custom %>)</a>
            </li>
              <div id="custom-licence">
              <span>Please pay your custom licences</span>
              </div>
            <% end %>
          </ul>
        </div>
        <div class="tab-content tables-border-right">
          <div id="monthly-plans" class="tab-pane margin-top-20 active">
            <%= render partial: "subscriptions/licences/monthly_plan" %>
          </div>
          <div id="annual-plans" class="tab-pane margin-top-20">
            <%= render partial: "subscriptions/licences/annual_plan" %>
          </div>
          <% if has_custom > 0 %>
          <div id="custom-licence" class="tab-pane margin-top-20">
            <%= render partial: "subscriptions/licences/custom_licence" %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="tables-border-right">
        <div class="row">
          <div class="col-md-12">
            <div class="row margin-top-20">
              <div class="col-md-8 margin-top-15">
              <% unless !@next_charge %>
                  <div class="col-md-8">
                    <strong>
                      Next Renewal: <%= Time.at(@next_charge[:date]).strftime("%d %B %Y") %>
                      <% cents_to_currency @next_charge[:total] %></strong>
                  </div>
                  <div class="col-md-4 text-right">
                    <strong></strong>
                  </div>
              <% end %>
              </div>
              <div class="col-md-4 text-right">
                <input id="submit-licences" type="button" class="btn btn-primary red save-button" value="Add/Remove Licence" />
                <input id="pay-custom-licences" type="button" class="btn btn-primary red save-button" style="display: none" value="Pay"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="payNowModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="col-md-12">
          <p class="text-left margin-top-10 change-plan-desc" id="add-card-message">Add a credit card before save your plan(s).</p>
          <p id="checkout-message" class="text-left margin-top-10">
            <strong><span id="spnTotalPrice"></span></strong>Click Save to update your licences</p>
          <p id="message-custom-licence" class="text-left margin-top-10">Click pay to complete your payment.</p>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-sm-8">
          <input type="hidden" id="has-credit-card" value="<%= has_credit_cards? %>">
          <input id="saveSubscriptions" type="button" class="btn btn-primary pull-left" value="Save Licences" />&nbsp;
          <input type="button" class="btn btn-default pull-left margin-left2" value="Cancel" data-dismiss="modal" />
        </div>
      </div>
    </div>
  </div>
</div>