<% qty = @subscriptions[:data][0][:quantity] if @subscriptions.present? %>
<table class="table margin-bottom-15">
  <tr>
    <th class="col-md-6">Description</th>
    <th class="col-md-3 text-center" data-container="body" data-toggle="tooltip" data-placement="top" title="Price per month depending whether your on a monthly or annual plan.">Price <i class="fa fa-question-circle grey"></i></th>
    <th class="col-md-1 text-center">Qty.</th>
    <th class="col-md-2 text-right">Change</th>
  </tr>
  <tr class="plan-monthly">
    <td>7 days recording monthly</td>
    <td class="text-center">
      <%= cents_to_currency(@prices.seven_days_recording) %>
    </td>
    <td class="text-center">
      <% if @subscription && @subscription[:id].eql?('7-days-recording') && qty.present? %>
        <%=qty %>
      <% else %>
        <input id="7-days-recording-qty" type="text" value="0" class="quantity-text small">
      <% end %>
    </td>
    <td class="text-right">
      <% if !@subscription %>
        <div class="plan-button <%= "highlight-plan-button" unless has_subscription? %>">
          <form class="button_to" data-remote="true" action="/line_items/create_subscription?product_id=7-days-recording&type=plan" method="post">
            <input id="7-days-recording-quantity" name="quantity" type="hidden" value="0">
            <input data-plan="7-days-recording" class="btn btn-default add-to-cart" type="submit" value="Add to Cart">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          </form>
        </div>
      <% else %>
        <div class="plan-button <%= "highlight-plan-button" if @subscription[:id].eql?('7-days-recording') %>">
          <% if @subscription[:id].eql?('7-days-recording') %>
            <input class="btn btn-primary change-plan" disabled type="button" value="Current Plan">
          <% else %>
            <input class="btn btn-primary change-plan" data-price="<%= cents_to_currency(@prices.seven_days_recording) %>"
              data-toggle="modal" data-target="#upgradeDwongradeModal" type="button" value="Downgrade"
              data-period="monthly" data-plan="7 days recording" data-plan-id="7-days-recording">
          <% end %>
        </div>
      <% end %>
    </td>
  </tr>
  <tr class="plan-monthly">
    <td>30 days recording monthly</td>
    <td class="text-center">
      <%= cents_to_currency(@prices.thirty_days_recording) %>
    </td>
    <td class="text-center">
      <% if @subscription && @subscription[:id].eql?('30-days-recording') && qty.present? %>
        <%=qty %>
      <% else %>
        <input id="30-days-recording-qty" type="text" value="0" class="quantity-text small">
      <% end %>
    </td>
    <td class="text-right">
      <% if !@subscription %>
        <div class="plan-button <%= "highlight-plan-button" unless has_subscription? %>">
          <form class="button_to" data-remote="true" action="/line_items/create_subscription?product_id=30-days-recording&type=plan" method="post">
            <input id="30-days-recording-quantity" name="quantity" type="hidden" value="0">
            <input data-plan="30-days-recording" class="btn btn-default add-to-cart" type="submit" value="Add to Cart">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          </form>
          <% button_to 'Add to Cart', line_item_subscription_path(type: 'plan', product_id: '30-days-recording'), remote: true, class: 'btn btn-default'  %>
        </div>
      <% else %>
        <div class="plan-button <%= "highlight-plan-button" if @subscription[:id].eql?('30-days-recording') %>">
          <div class="col-xs-121">
            <% thirty_days_recording = case @subscription[:id]
                               when "7-days-recording"
                                 "Upgrade"
                               when "90-days-recording","7-days-recording-annual","30-days-recording-annual","90-days-recording-annual"
                                 "Downgrade"
                               when "30-days-recording"
                                 "Current Plan"
                             end
            %>
            <input class="btn btn-primary change-plan" <%= "disabled" if @subscription[:id].eql?('30-days-recording') %>
               data-price="<%= cents_to_currency(@prices.thirty_days_recording) %>" data-toggle="modal" data-target="#upgradeDwongradeModal"
               type="button" data-period="monthly" data-plan-id="30-days-recording" data-plan="30 days recording" value="<%= thirty_days_recording %>">
          </div>
        </div>
      <% end %>
    </td>
  </tr>
  <tr class="plan-monthly">
    <td>90 days recording monthly</td>
    <td class="text-center">
      <%= cents_to_currency(@prices.ninety_days_recording) %>
    </td>
    <td class="text-center">
      <% if @subscription && @subscription[:id].eql?('90-days-recording') && qty.present? %>
        <%=qty %>
      <% else %>
        <input id="90-days-recording-qty" type="text" value="0" class="quantity-text small">
      <% end %>
    </td>
    <td class="text-right">
      <% if !@subscription %>
        <div class="plan-button <%= "highlight-plan-button" unless has_subscription? %>">
          <form class="button_to" data-remote="true" action="/line_items/create_subscription?product_id=90-days-recording&type=plan" method="post">
            <input id="90-days-recording-quantity" name="quantity" type="hidden" value="0">
            <input data-plan="90-days-recording" class="btn btn-default add-to-cart" type="submit" value="Add to Cart">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          </form>
          <% button_to 'Add to Cart', line_item_subscription_path(type: 'plan', product_id: '90-days-recording'), remote: true, class: 'btn btn-default'  %>
        </div>
      <% else %>
        <div class="plan-button <%= "highlight-plan-button" if @subscription[:id].eql?('90-days-recording') %>">
          <div class="col-xs-121">
            <% ninty_days_recording = case @subscription[:id]
                                        when "7-days-recording","30-days-recording"
                                          "Upgrade"
                                        when "7-days-recording-annual","30-days-recording-annual","90-days-recording-annual"
                                          "Downgrade"
                                        when "90-days-recording"
                                          "Current Plan"
                                      end
            %>
            <input class="btn btn-primary change-plan" <%= "disabled" if @subscription[:id].eql?('90-days-recording') %>
                   data-price="<%= cents_to_currency(@prices.ninety_days_recording) %>" data-toggle="modal" data-target="#upgradeDwongradeModal"
                   type="button" value="<%= ninty_days_recording %>" data-plan-id="90-days-recording" data-period="monthly" data-plan="90 days recording">
          </div>
        </div>
      <% end %>
    </td>
  </tr>

  <tr class="plan-annual hide">
    <td>7 days recording annual</td>
    <td class="text-center">
      <%= cents_to_currency(@prices.seven_days_recording_annual) %>
    </td>
    <td class="text-center">
      <% if @subscription && @subscription[:id].eql?('7-days-recording-annual') && qty.present? %>
        <%=qty %>
      <% else %>
        <input id="7-days-recording-annual-qty" type="text" value="0" class="quantity-text small">
      <% end %>
    </td>
    <td class="text-right">
      <% if !@subscription %>
        <div class="plan-button <%= "highlight-plan-button" unless has_subscription? %>">
          <form class="button_to" data-remote="true" action="/line_items/create_subscription?product_id=7-days-recording-annual&type=plan" method="post">
            <input id="7-days-recording-annual-quantity" name="quantity" type="hidden" value="0">
            <input data-plan="7-days-recording-annual" class="btn btn-default add-to-cart" type="submit" value="Add to Cart">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          </form>
          <% button_to 'Add to Cart', line_item_subscription_path(type: 'plan', product_id: '7-days-recording-annual', quantity: "<script>$('#seven-days-annual-qty').val();</script>"), remote: true, class: 'btn btn-default'  %>
        </div>
      <% else %>
        <div class="plan-button <%= "highlight-plan-button" if @subscription[:id].eql?('7-days-recording-annual') %>">
          <div class="col-xs-121">
            <% seven_days_recording_annual = case @subscription[:id]
                                               when "7-days-recording","30-days-recording","90-days-recording"
                                                 "Upgrade"
                                               when "30-days-recording-annual","90-days-recording-annual"
                                                 "Downgrade"
                                               when "7-days-recording-annual"
                                                 "Current Plan"
                                             end
            %>
            <input class="btn btn-primary change-plan" <%= "disabled" if @subscription[:id].eql?('7-days-recording-annual') %>
                   data-price="<%= cents_to_currency(@prices.seven_days_recording_annual) %>" data-toggle="modal" data-target="#upgradeDwongradeModal"
                   type="button" data-period="annual" data-plan-id="7-days-recording-annual" data-plan="7 days recording annual" value="<%= seven_days_recording_annual %>">
          </div>
        </div>
      <% end %>
    </td>
  </tr>
  <tr class="plan-annual hide">
    <td>30 days recording annual</td>
    <td class="text-center">
      <%= cents_to_currency(@prices.thirty_days_recording_annual) %>
    </td>
    <td class="text-center">
      <% if @subscription && @subscription[:id].eql?('30-days-recording-annual') && qty.present? %>
        <%=qty %>
      <% else %>
        <input id="30-days-recording-annual-qty" type="text" value="0" class="quantity-text small">
      <% end %>
    </td>
    <td class="text-right">
      <% if !@subscription %>
        <div class="plan-button <%= "highlight-plan-button" unless has_subscription? %>">
          <form class="button_to" data-remote="true" action="/line_items/create_subscription?product_id=30-days-recording-annual&type=plan" method="post">
            <input id="30-days-recording-annual-quantity" name="quantity" type="hidden" value="0">
            <input data-plan="30-days-recording-annual" class="btn btn-default add-to-cart" type="submit" value="Add to Cart">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          </form>
          <% button_to 'Add to Cart', line_item_subscription_path(type: 'plan', product_id: '30-days-recording-annual'), remote: true, class: 'btn btn-default'  %>
        </div>
      <% else %>
        <div class="plan-button <%= "highlight-plan-button" if @subscription[:id].eql?('30-days-recording-annual') %>">
          <div class="col-xs-121">
            <% thirty_days_recording_annual = case @subscription[:id]
                                                 when "7-days-recording-annual","7-days-recording","30-days-recording","90-days-recording"
                                                   "Upgrade"
                                                 when "90-days-recording-annual"
                                                   "Downgrade"
                                                 when "30-days-recording-annual"
                                                   "Current Plan"
                                               end
            %>
            <input class="btn btn-primary change-plan" <%= "disabled" if @subscription[:id].eql?('30-days-recording-annual') %>
                   data-price="<%= cents_to_currency(@prices.thirty_days_recording_annual) %>" data-toggle="modal" data-target="#upgradeDwongradeModal"
                   type="button" data-period="annual" data-plan-id="30-days-recording-annual" data-plan="30 days recording annual" value="<%= thirty_days_recording_annual %>">
          </div>
        </div>
      <% end %>
    </td>
  </tr>
  <tr class="plan-annual hide">
    <td>90 days recording annual</td>
    <td class="text-center">
      <%= cents_to_currency(@prices.ninety_days_recording_annual) %>
    </td>
    <td class="text-center">
      <% if @subscription && @subscription[:id].eql?('90-days-recording-annual') && qty.present? %>
        <%=qty %>
      <% else %>
        <input id="90-days-recording-annual-qty" type="text" value="0" class="quantity-text small">
      <% end %>
    </td>
    <td class="text-right">
      <% if !@subscription %>
        <div class="plan-button <%= "highlight-plan-button" unless has_subscription? %>">
          <form class="button_to" data-remote="true" action="/line_items/create_subscription?product_id=90-days-recording-annual&type=plan" method="post">
            <input id="90-days-recording-annual-quantity" name="quantity" type="hidden" value="0">
            <input data-plan="90-days-recording-annual" class="btn btn-default add-to-cart" type="submit" value="Add to Cart">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          </form>
          <% button_to 'Add to Cart', line_item_subscription_path(type: 'plan', product_id: '90-days-recording-annual'), remote: true, class: 'btn btn-default'  %>
        </div>
      <% else %>
        <div class="plan-button <%= "highlight-plan-button" if @subscription[:id].eql?('90-days-recording-annual') %>">
          <div class="col-xs-121">
            <% if @subscription[:id].eql?('90-days-recording-annual')
                 ninty_days_recording_annual = "Current Plan"
               else
                 ninty_days_recording_annual = "Upgrade"
               end
            %>
            <input class="btn btn-primary change-plan" <%= "disabled" if @subscription[:id].eql?('90-days-recording-annual') %>
                   data-price="<%= cents_to_currency(@prices.ninety_days_recording_annual) %>" data-toggle="modal" data-target="#upgradeDwongradeModal"
                   type="button" value="<%= ninty_days_recording_annual %>" data-plan-id="90-days-recording-annual" data-period="annual" data-plan="90 days recording annual">
          </div>
        </div>
      <% end %>
    </td>
  </tr>
</table>

<div id="upgradeDwongradeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="col-md-12">
          <p class="text-left change-plan-desc" id="plan-descprition"></p>
          <div id="confirm-upgrading" style="display: none;">
            <p class="text-left change-plan-desc">One moment while we upgrade your account...</p>
            <br>
            <p class="text-left">We're just confirming your payment.</p>
          </div>
          <div id="section-downgrade" style="display: none;">
            <p class="text-left downgrade-note">Feel free to upgrade again any time, we'll credit you for
              any time you haven't used on you current plan and put that towards your next invoice.
            </p>
            <p>If you're sure you want to proceed, type '<strong>downgrade</strong>' in the field below.</p>
            <input id="downgrade-plan" name="downgrade-plan" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-sm-8 margin-top-10">
          <input type="hidden" id="has-credit-card" value="<%= has_credit_cards? %>">
          <input type="hidden" id="change-plan-id">
          <input type="hidden" id="change-plan-action">
          <input id="btn-change-plan" type="button" class="btn btn-primary pull-left" value="Upgrade my plan">
          <input type="button" class="btn btn-default pull-left margin-left2" value="Cancel" data-dismiss="modal" />
        </div>
      </div>
    </div>
  </div>
</div>