<div id="billing">
  <div class="row">
    <div class="col-md-12">
      <div class="row margin-bottom-30">
        <div class="panel-description col-md-12">
          <div class="panel-title row">
            <h4 class="margin-bottom-10">Billing Information</h4>
          </div>

          <%= render partial: 'shared/stripe' %>

            <!-- New Stripe customer -->
            <% unless is_stripe_customer? %>
              <p>You have not yet associated a credit card with this account.</p>
              <form action="<%= stripe_customers_path -%>" method="POST">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] -%>"
                  data-image="<%= asset_path('evercam-e.svg') -%>"
                  data-email="<%= current_user.email -%>"
                  data-name="Stripe.com"
                  data-description="Add Credit Card"
                  data-label="Add Credit Card">
                </script>
              </form>
            <% end %>

            <!-- View Credit Cards -->
            <% if has_credit_cards? %>
              <table class="table table-striped margin-top-20">
                <tr>
                  <th>Provider</th>
                  <th>Card Number</th>
                  <th>Expiry</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                <% @credit_cards.each do |card| -%>
                <tr>
                  <td><%=  card.brand -%></td>
                  <td>Ending in ... <%= card.last4 -%></td>
                  <td><%= card.exp_month -%>&#47;<%= card.exp_year %></td>
                  <% default_card?(card.id) ? 'Default Card' : (button_to 'Make Default', stripe_customer_path({:card_id => card.id, :default_source => true}), method: :put) %>
                  <% button_to 'Delete', credit_card_path(:card_id => card.id), method: :delete, confirm: 'Are you sure you wish to delete this card?' %>
                </tr>
                <% end -%>
              </table>
            <% end %>

            <!-- Add credit card for existing Stripe customer -->
            <% if stripe_customer_without_current_cards? %>
              <p>You have no current cards associated with this account.</p>
            <% end %>
            <% if is_stripe_customer? %>
              <div>
                <form action="<%= credit_cards_path -%>" method="POST">
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] -%>"
                    data-image="<%= asset_path('evercam-e.svg') -%>"
                    data-email="<%= current_user.email -%>"
                    data-name="Stripe.com"
                    data-description="Add New Credit Card"
                    data-label="Add New Credit Card">
                  </script>
                </form>
              </div>
            <% end %>
            <br>
        </div>
      </div>

      <div class="row margin-bottom-20">
        <div class="panel-description col-md-12">
          <h4 class="margin-bottom-10">Subscriptions</h4>
          <% if stripe_customer_without_subscriptions? %>
            <p>You have no current subscriptions.</p>
          <% end %>
          <!-- Subscriptions table -->
          <% if stripe_customer_with_subscriptions? -%>
            <table class="table table-striped margin-top-20">
              <tr>
                <th>Plan Expires</th>
                <th>Plan</th>
                <th>Status</th>
                <th>Interval</th>
                <th>Amount</th>
                <th>Cancel</th>
              </tr>
              <% @subscriptions.each do |s| %>
                <tr>
                  <td><%= format_time(s.current_period_end) -%></td>
                  <td><%= s.plan.name -%></td>
                  <td><%= s.status.capitalize -%></td>
                  <td><%= s.plan.interval.capitalize -%></td>
                  <td><%= cents_to_currency(s.plan.amount) -%></td>
                  <td>
                    <%= button_to 'Cancel Subscription',
                          subscription_path({:subscription_id => s.id, :plan_name => s.plan.name}),
                          method: :delete,
                          confirm: 'Are you sure you wish to delete this subscription?' -%>
                  </td>
                </tr>
              <% end -%>
              <td><strong>Total</strong></td>
              <% 3.times do -%>
                <%= content_tag(:td, "") %>
              <% end -%>
              <td><%= total_subscriptions_amount -%></td>
            </table>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>
