<div class="row" id="billing">
  <div class="col-md-12">
    <ul class="list-group list-group-lg">
      <li class="list-group-item">
        <div class="panel-section row">
          <div class="row">
            <div class="panel-description col-md-4">
              <div class="panel-title row">
                <h4>Billing Information</h4>
              </div>
            </div>
            <div class="panel-content col-md-8">
              <% if @customer.nil? %>
                <p>You have not registered a credit card with us.</p>

              <% else %>
                <p>This account is billed to: <strong><%= @customer['cards']['data'].first['brand'] %>-<%= @customer['cards']['data'].first['last4'] %></strong></p>
              <% end %>
            </div>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="panel-section row">
          <div class="row">
            <div class="panel-description col-md-4">
              <div class="panel-title row">
                <h4 class="margin-bottom-10">Subscriptions</h4>
              </div>
              <% if @customer.nil? %>
                <p class="grey">You are not subscribed to any plans.</p>
              <% else %>
                <p class="grey">You are currently subscribed to <strong><%= @subscriptions.count %></strong> plan.</p>
              <% end %>
            </div>

          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="panel-title margin-bottom-10 row">
          <h4>Plans</h4>
        </div>
        <div class="row">
          <div class="panel-section row">
            <div class="panel-description col-md-4 margin-bottom-20">
              <h5>Gold</h5>
              <p class="grey">The Evercam Silver Bundle entitles you to almost everything</p>
            </div>
            <div class="panel-content col-md-8">
              <div class="row">
                <div class="col-md-4">
                  <p class="margin-bottom-10">Annual - €199.00</p>
                  <%= form_tag charges_path do %>
                    <input type="hidden" name="amount" value="19500"/>
                    <input type="hidden" name="token" value="<%= current_user.billing_id %>"/>
                    <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-name="Demo SaaS Site"
                    data-description="Pro Subscription (€199.00 per yr)"
                    data-panel-label="Subscribe"
                    data-label="Subscribe"
                    data-plan="silver-annual"
                    data-allow-remember-me="false">
                    </script>
                  <% end %>
                </div>
                <div class="col-md-4">
                  <p class="margin-bottom-10">Monthly - €25.00</p>
                  <%= form_tag charges_path do %>
                    <input type="hidden" name="amount" value="2500"/>
                    <input type="hidden" name="token" value="<%= current_user.billing_id %>"/>
                    <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_1MCYLYHQDa4DwnBoKd5CqoaP"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-name="Demo SaaS Site"
                    data-description="Pro Subscription ($29 per month)"
                    data-panel-label="Subscribe"
                    data-label="Subscribe"
                    data-plan="silver-annual"
                    data-allow-remember-me="false">
                    </script>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-section row">
            <div class="panel-description col-md-4 margin-bottom-20">
              <h5>Silver</h5>
              <p class="grey">The Evercam Silver Bundle entitles you to everything</p>
            </div>
            <div class="panel-content col-md-8">
              <div class="row">
                <div class="col-md-4">
                  <p class="margin-bottom-10">Annual - €199.00</p>
                  <%= form_tag charges_path do %>
                  <input type="hidden" name="amount" value="19900"/>
                  <input type="hidden" name="token" value="<%= current_user.billing_id %>"/>
                  <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  data-name="Demo SaaS Site"
                  data-description="Pro Subscription ($29 per month)"
                  data-panel-label="Subscribe"
                  data-label="Subscribe"
                  data-amount="19900"
                  data-currency="eur"
                  data-allow-remember-me="false">
                  </script>
                  <% end %>
                </div>
                <div class="col-md-4">
                  <p class="margin-bottom-10">Monthly - €25.00</p>
                  <%= form_tag charges_path do %>
                    <input type="hidden" name="amount" value="2500"/>
                    <input type="hidden" name="token" value="<%= current_user.billing_id %>"/>
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                            data-description="Evercam Bundle Silver (Monthly)"
                            data-amount="2500"
                            data-currency="eur"></script>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>
      </li>


    </ul>
  </div>
</div>
