<div class="portlet">
  <div class="portlet-title">
    <div class="caption">
      Android
    </div>
  </div>
  <div class="portlet-body">
    <div class="row">
      <li class="col-md-3 col-sm-3 col-xs-12">
        <a href="https://play.google.com/store/apps/details?id=io.evercam.androidapp" target="_blank">
          <div class="apps">
            <%= image_tag("evercam-play.png", alt: "Evercam Play") %>
            <h4>Evercam Play</h4>
            <p>Access to all your IP Cameras connected to Evercam</p>
            <span id="hover-arrow" class="fa fa-share-square-o"></span>
          </div>
        </a>
      </li>
      <li class="col-md-3 col-sm-3 col-xs-12">
        <a href="https://play.google.com/store/apps/details?id=io.evercam.capture&hl=en" target="_blank">
          <div class="apps">
            <%= image_tag("evercam-capture.png", alt: "Evercam Capture") %>
            <h4>Evercam Capture</h4>
            <p>Turn your Android phone into an IP camera</p>
            <span id="hover-arrow" class="fa fa-share-square-o">
          </div>
        </a>
      </li>
      <li class="col-md-3 col-sm-3 col-xs-12">
        <a href="https://play.google.com/store/apps/details?id=io.evercam.bigredsnapshot&hl=en" target="_blank">
          <div class="apps">
            <%= image_tag("bigredbutton.png", alt: "Big Red Button") %>
            <h4>Big Red Button</h4>
            <p>Capture snapshots from Evercam connected cameras</p>
            <span id="hover-arrow" class="fa fa-share-square-o"></span>
          </div>
        </a>
      </li>
      <li class="col-md-3 col-sm-3 col-xs-12">
        <a href="https://play.google.com/store/apps/details?id=io.evercam.connect&hl=en" target="_blank">
          <div class="apps">
            <%= image_tag("evercam-discover.png", alt: "Evercam Discover") %>
            <h4>Evercam Discover</h4>
            <p>Discover your cameras in the local network</p>
            <span id="hover-arrow" class="fa fa-share-square-o"></span>
          </div>
        </a>
      </li>
    </div>
  </div>
</div>

<div class="portlet">
  <div class="portlet-title">
    <div class="caption">
      Web
    </div>
  </div>
  <div class="portlet-body">
    <div class="row">
      <li class="col-md-3 col-sm-3 col-xs-12">
        <a href="http://snapmails.cloudapp.net/login.html" target="_blank">
          <div class="apps">
            <%= image_tag("snapmail.png", alt: "Snapmail") %>
            <h4>Snapmail</h4>
            <p>Schedule email notifications from your camera</p>
            <span id="hover-arrow" class="fa fa-share-square-o"></span>
          </div>
        </a>
      </li>
      <li class="col-md-3 col-sm-3 col-xs-12">
        <a href="http://selfies.ever.camera/" target="_blank">
          <div class="apps">
            <%= image_tag("hashcam.png", alt: "Hashcam") %>
            <h4>#Cam</h4>
            <p>Built with Evercam API and Twitter API to reply to #&#123;yourcam&#125;</p>
            <span id="hover-arrow" class="fa fa-share-square-o"></span>
          </div>
        </a>
      </li>
      <li class="col-md-3 col-sm-3 col-xs-12">
        <a href="http://astimegoes.by" target="_blank">
          <div class="apps">
            <%= image_tag("timegoes.png", alt: "AsTimeGoes.by") %>
            <h4>AsTimeGoes.by</h4>
            <p>Easily create and share timelapses from your cameras.</p>
            <span id="hover-arrow" class="fa fa-share-square-o"></span>
          </div>
        </a>
      </li>
      <li class="col-md-3 col-sm-3 col-xs-12">
        <a href="http://1button.info/" target="_blank">
          <div class="apps">
            <%= image_tag("1buttonapp.png", alt: "1 Button App") %>
            <h4>Single Button App</h4>
            <p>Create an Android app of your camera in 1 click</p>
            <span id="hover-arrow" class="fa fa-share-square-o"></span>
          </div>
        </a>
      </li>
    </div>
  </div>
</div>
