<form method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <%= render partial: "cameras/single/info/settings_modal" %>
  <div class="row">
    <div class="col-md-6">
      <%= render partial: "cameras/single/info/last_snapshot_panel" %>
      <%= render partial: "cameras/single/info/location_panel" %>
    </div>
    <div class="col-md-6">
      <%= render partial: "cameras/single/info/camera_details_panel" %>
      <%= render partial: "cameras/single/info/general_info_panel" %>
    </div>
    <div class="col-md-12">
      <%= render partial: "cameras/single/info/urls_panel" %>
    </div>
  </div>
</form>

<script src="//maps.google.com/maps/api/js?sensor=true"></script>
