<% if @camera['is_online'] %>
  <div class="camera-preview">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div id="fullscreen" class="html5-fullscreen-api">
          <img id="live-player-image" src="<%= EVERCAM_API %>cameras/<%= @camera['id'] %>/snapshot.jpg?api_id=<%= current_user.api_id %>&api_key=<%= current_user.api_key %>" />
          <div class="live-options">
            <div class="live-option" id="toggle"><i class="icon-size-fullscreen"></i></div>
            <div class="live-option"><a id="link-popout"><i class="icon-share-alt" aria-hidden="true"></i></a></div>
          </div>
          <div class="btn-live-player play-pause hide"><i class="icon-control-pause"></i></div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-lg-8 col-md-12">
      <div class="tint"><%= preview(@camera, true) %></div>
      <p class="margin-top-20"><span class="red">Camera offline</span> - we can't get a live feed at the moment</p>
      <p class="margin-top-10 refresh-camera"><i class="icon-refresh"></i> Refresh</p>
    </div>
  </div>
<% end %>
<input type="hidden" id="live-snapshot-url" value="<%= EVERCAM_API %>cameras/<%= @camera["id"] %>/snapshot.jpg?api_id=<%=  current_user.api_id %>&api_key=<%= current_user.api_key %>">
