<div class="info-panel padding-right15">
  <div id="logs-filter" class="filter">
    <div class="row dates margin-top-10">
      <div class="col-sm-2 set-margin padding-right-left-10"><h5>Date, Time &amp; Filter</h5></div>
      <div class="col-sm-1 min-width200">
        <label>From:</label>
        <input id="datetimepicker" class="datetimepicker" type="text" value="">
      </div>
      <div class="col-sm-1 min-width200">
        <label>To:</label>
        <input id="datetimepicker2" class="datetimepicker to-time" type="text" value="">
      </div>
      <div class="col-sm-1 min-width150 dropdown-checklist filter" id="div-dropdown-checklist" style="visibility: visible;">
        <label>Filter:</label>
        <div href="#" class="btn btn-default grey filter-dialog" data-toggle="modal" data-target="#flter-logs">
          <i class="fa fa-columns"></i>
        </div>
      </div>
       <div class="col-sm-2">
        <input id="current-page" type="hidden" value="<%= @page + 1 %>">
        <input id="exid" type="hidden" value="<%= @camera['id'] %>">
        <input id="base-url" type="hidden" value="<%= "#{EVERCAM_API}cameras/#{params[:id]}/logs?api_id=#{current_user.api_id}&api_key=#{current_user.api_key}&objects=true&limit=10000" %>">
        <input id="ajax-url" type="hidden" value="<%= "#{EVERCAM_API}cameras/#{params[:id]}/logs?api_id=#{current_user.api_id}&api_key=#{current_user.api_key}&objects=true&limit=10000" %>">
        <button id="apply-types" class="btn btn-primary btn-setting">Show Report</button>
      </div>
    </div>

    <div id="flter-logs" class="modal fade sharing-modal">
      <div class="modal-dialog max-width-300">
        <div class="modal-content">
          <div class="modal-body">
            <div class='portlet sharing-portlet'>
              <div class="portlet-title">
                <div class="caption"> Filter by events</div>
              </div>
            </div>
            <div class="col-md-12 padding-0">
              <div class="form-group padding-0 col-md-10 margin-top-bottom10" id="types">
                <div class="checkbox-list">
                  <div class="input-group checkbox">
                    <input id="type-all" name="type" class="" type="checkbox" value="" /> <label class="type-label" for="type-all">All </label>
                  </div>
                  <% @types.each do |t| %>
                    <div class="input-group checkbox">
                      <input id="type-<%= t %>" name="type" class="logs-checkbox" type="checkbox" value="<%= t %>" <% if params[:types] and params[:types].include?(t) %> checked<% end %> > <label class="type-label" for="type-<%= t %>"><%= t.capitalize %></label>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row margin-top-20">
    <div class="div-elms"><img class="full-image" width="100%"></div>
    <div class="col-sm-12 padding-right-left-10">
      <table id="logs-table" class="table table-logs table-striped table-bordered table cell-border display compact">
        <thead>
        <th>Date &amp; Time</th>
        <th>Event</th>
        <th>User/Client</th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
