<p id="notice"><%= notice %></p>

<h1>Listing Stripe Customers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stripe_customers.each do |stripe_customer| %>
      <tr>
        <td><%= link_to 'Show', stripe_customer %></td>
        <td><%= link_to 'Edit', edit_stripe_customer_path(stripe_customer) %></td>
        <td><%= link_to 'Destroy', stripe_customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stripe customer', new_stripe_customer_path %>
