<% provide(:title, "Create New Account") %>
<section id="new-account" class="site-min-height">
  <div id="evercam-video-section" class="evercam-video-section">
    <video class="cover-image" autoplay="" loop="" preload="" poster="/assets/poster.jpg" id="loop-video">
      <source src="/assets/gpoview.mp4" type="video/mp4">
      <source src="/assets/gpoview.webm" type="video/webm">
    </video>
  </div>
  <div class="container section section-position no-padding" id="new-account">
    <div id="signin" class="col-md-12 text-center no-padding">
      <div class="bb-alert alert alert-danger" style="display:none;">
        <span></span>
      </div>
      <div id="registration" class="center-div width-400 col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="branding">
          <%= link_to root_path, class: 'sign-in-logo' do %>
            <%= image_tag("evercam_logo.png", :class => "svg-logo", alt: "Evercam.io") %>
          <% end %>
        </div>
        <div class="col-sm-12 padding-left-right-40">
          <%= form_for(:user, url: signup_path, :html => { :id => "create-account" } ) do |f| %>
            <% field_errors = (flash[:field_errors] || {}) %>

            <div class="text-center">
              <div class="col-sm-12 no-padding form-group<%= field_errors.include?("firstname") ? " has-error" : "" %>">
                <%= f.text_field :firstname, value: params.fetch('user', {})[:firstname], class: "form-control", "required" => "", "data-validation" => "custom", "data-validation-regexp" => "^[A-Za-z\/\s\']*$", "data-validation-error-msg" => "First names can consist of alphabetical characters and spaces only" %>
                <% if field_errors.include?("firstname") %>
                  <span class="help-block arrow_box form-error text-left"><%= field_errors["firstname"] %></span>
                <% end %>
                <%= f.label :firstname, 'First Name', class: "float-label" %>
              </div>
            </div>

            <div class="text-center">
              <div class="col-sm-12 no-padding form-group<%= field_errors.include?("lastname") ? " has-error" : "" %>">
                <%= f.text_field :lastname, value: params.fetch('user', {})[:lastname], class: "form-control", "required" => "", "data-validation" => "custom", "data-validation-regexp" => "^[A-Za-z\/\s\']*$", "data-validation-error-msg" => "Last names can consist of alphabetical characters and spaces only" %>
                <% if field_errors.include?("lastname") %>
                  <span class="help-block arrow_box form-error text-left"><%= field_errors["lastname"] %></span>
                <% end %>
                <%= f.label :lastname, 'Last Name', class: "float-label" %>
              </div>
            </div>

            <div class="text-center">
              <div class="col-sm-12 no-padding form-group<%= field_errors.include?("username") ? " has-error" : "" %>">
                <%= f.text_field :username, value: params.fetch('user', {})[:username], class: "form-control", "required" => "" , "data-validation" => "custom", "data-validation-regexp" => '^[a-zA-Z0-9]+[\w\u00C0-\u00ff-]+$', "data-validation-error-msg" => "Username can consist of letters then numbers, dashes & underscores" , "maxlength" => "40" %>
                <% if field_errors.include?("username") %>
                  <span class="help-block arrow_box form-error text-left"><%= field_errors["username"] %></span>
                <% end %>
                <%= f.label :username, class: "float-label" %>
              </div>
            </div>

            <div class="text-center">
              <div class="col-sm-12 no-padding form-group<%= field_errors.include?("email") ? " has-error" : "" %>">
                <% if @share_request.nil? %>
                  <%= f.text_field :email, value: params.fetch('user', {})[:email], class: "form-control", "data-validation" => "email", "required" => "" %>
                  <%= f.label :email, 'Email', class: "float-label" %>
                <% else %>
                  <%= f.text_field :email, value: @share_request.email, readonly: 'readonly', class: "form-control grey-background" %>
                  <i class="fa fa-info-circle info-icon" aria-hidden="true" title="User cannot edit email"></i>
                  <%= f.label :email, 'Email', class: "left-0" %>
                <% end %>
                <% if field_errors.include?("email") %>
                  <span class="help-block arrow_box form-error text-left"><%= field_errors["email"] %></span>
                  <%= f.label :email, 'Email', class: "float-label" %>
                <% end %>
              </div>
            </div>

            <div class="text-center">
              <div class="col-sm-12 no-padding form-group<%= field_errors.include?("password") ? " has-error" : "" %>">
                <%= f.password_field :password, autocomplete: "off", class: "form-control", "required" => "", "data-validation" => "custom", "data-validation-regexp" => "^.{6,}$", "data-validation-error-msg" => "Password should be at least 6 characters"%>
                <% if field_errors.include?("password") %>
                  <span class="help-block form-error arrow_box text-left"><%= field_errors["password"] %></span>
                <% end %>
                <%= f.label :password, class: "float-label" %>
              </div>
            </div>
            <div class="col-sm-12 no-padding text-center margin-top-20">
              <%= f.submit "Create New Account", class: "btn btn-large btn-primary width100" %>
            </div>

            <% if @share_request %>
              <input type="hidden" name="key" id="key" value="<%= @share_request.key %>"/>
            <% end %>
          <% end %>
          <div class="col-md-12 col-sm-12 text-center grey margin-top-20">
            <p>Already have an account? <%= link_to "Sign in", signin_path %></p>
          </div>
          <div class="text-center">
            <p class="col-md-12 grey use">
              <a href="https://www.evercam.io/terms" target="blank">Terms of Use</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  if (!window.Evercam) {
    window.Evercam = {};
  }

  Notification.init(".bb-alert");
  <% if flash[:message] %>
  Notification.show('<%= flash[:message] %>');
  <% end %>

  window.Evercam.ENV = '<%= Rails.env %>';
  $(function () {
    $("alert").on("click", function () {
      $("." + $(this).attr("data-hide")).hide();
      });
  });
  $.validate()

  $('.btn').on("click",function() {
    if (Evercam.ENV == "production"){
      if ($("#create-account input[type=text]").parent('.has-success').length == 4) {
        mixpanel.track_forms("#create-account", "Create an account", {'Client-Type': 'Dash'});
      }
    }
  });

  $( document ).ready(function() {
    if ($('div').find("input[type=text]").val() == '') {
      $('.form-error').hide();
    }
  });
  $('#create-account').submit(function(){
    $(this).find('input:text').each(function(){
      $(this).val($.trim($(this).val()));
    });
  });
</script>

<script>
  $(document).ready(function () {
    window.initializeVideoBackground();
  });
</script>
