<% provide(:title, "Create New Account") %>

<div class="container section">

  <div id="registration" class="col-md-4 col-md-offset-4">

    <div class="col-lg-10 col-lg-offset-1 row">
      <h3 class="text-center">Create a Free Account</h3>

      <%= form_for(:user, url: users_path) do |f| %>

          <div class="row text-center">
            <div class="col-lg-3">
              <%= f.label :forename %>
            </div>
            <div class="col-lg-4">
              <%= f.text_field :forename %>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-lg-3">
              <%= f.label :lastname %>
            </div>
            <div class="col-lg-4">
              <%= f.text_field :lastname %><!-- Plan to join First and Last Name to one Input -->
            </div>
          </div>

          <div class="row text-center">
            <div class="col-lg-3">
              <%= f.label :username %>
            </div>
            <div class="col-lg-4">
              <%= f.text_field :username %>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-lg-3">
              <%= f.label :country %>
            </div>
            <div class="col-lg-4">
              <%= select_tag(:country, options_for_select(@countries.map {|c| [c.name, c.iso3166_a2] })) %>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-lg-3">
              <%= f.label :email %>
            </div>
            <div class="col-lg-4">
              <%= f.text_field :email %>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-lg-3">
              <%= f.label :password %>
            </div>
            <div class="col-lg-4">
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
          </div>
          <div class="row text-center create">
            <%= f.submit "Create New Account", class: "btn btn-large btn-primary" %>
          </div>
          <span id="test-error">
                  <div class="alert-warning"><%= flash[:message] %></div>
          </span>
          <div class="row text-center">
            <p class="col-md-12 use">Signing up signifies that you've read and agree to our <a href="http://www.evercam.io/terms" target="blank">Terms of Use</a></p>
          </div>
      <% end %>

    </div>

  </div>
  <div class="col-md-4 col-md-offset-4 row text-center create">
    <p>Already have an account? <%= link_to "Sign in", signin_path %></p>
  </div>
</div>
<script>
    $(function(){
        $("alert").on("click", function(){
            $("." + $(this).attr("data-hide")).hide();
            /*
             * The snippet above will hide all elements with the class specified in data-hide,
             * i.e: data-hide="alert" will hide all elements with the alert property.
             *
             * Xeon06 provided an alternative solution:
             * $(this).closest("." + $(this).attr("data-hide")).hide();
             * Use this if are using multiple alerts with the same class since it will only find the closest element
             *
             * (From jquery doc: For each element in the set, get the first element that matches the selector by
             * testing the element itself and traversing up through its ancestors in the DOM tree.)
             */
        });
    });
</script>