<% provide(:title, "Evercam: Password Update") %>
<%= render partial: "users/background_video" %>
<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<div class="container section-position" id="pass-reset">
  <div class="row">
      <div class="center-div width-400 col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-offset-1 panel">
        <div class="col-md-12 text-center">
          <div class="branding logo-padding">
            <%= link_to image_tag("evercam_logo.png", class: "svg-logo", alt: "Evercam.io"), root_path %>
          </div>
        </div>
        <% if @expired %>
        <div class="col-md-12 text-center">
          <div class="col-md-12" id="user-settings"><h4>Link Expired</h4></div>
          <div class="col-md-12 col-xs-12 reset-password">
            <p>It looks like this password reset link has expired and can no longer be used.</p>
            <p><%= link_to "Get a new password link", password_reset_path %></p>
          </div>
        </div>
        <% else %>

        <div class="col-md-12 col-xs-12 reset-password padding-bottom-10">
          <form role="form" method="post" class="center-block">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

            <div class="form-group">
              <div class="input-icon right">
                <i class="icon-lock"></i>
                <input type="password" value="" class="form-control" id="password" name="password" placeholder="Enter New Password" required>
              </div>
            </div>
            <input type="hidden" name="username" value="<%= params[:u] %>">
            <input type="hidden" name="token" value="<%= params[:t] %>">
            <input type="submit" class="btn btn-primary width-full" value="Enter">
          </form>
        </div>
      <% end %>

    </div>
  </div>
</div>

<script>
  Notification.init(".bb-alert");
  <% if flash[:message] %>
  Notification.show('<%= flash[:message] %>');
  <% end %>
</script>

<script>
  $(document).ready(function () {
    window.initializeVideoBackground();
  });
</script>
