<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<aside>
  <div id="sidebar" class="nav-collapse">
    <!-- sidebar menu start-->            <div class="leftside-navigation">
    <ul class="sidebar-menu" id="nav-accordion">
      <li>
        <a href="index.html">
          <span>Developer</span>
        </a>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <span>My Cameras</span>
        </a>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-book"></i>
          <span>My Shared Cameras</span>
        </a>
      </li>
      <li>
        <a href="/cameras/new"><span class="glyphicon glyphicon-plus"></span>Add IP Camera</a>
      </li>
      <li>
        <a href="/add-android"><span class="glyphicon glyphicon-plus"></span>Add Android Camera</a>
      </li>
      <li>
        <a href="/publiccam">Public Cameras</a>
      </li>
    </ul></div>
    <!-- sidebar menu end-->
  </div>
</aside>
<section id="main-content">
  <section class="wrapper">
<div class="row">
  <div class="panel-body">
    <div class="col-md-12" id="user-settings"><h4>User Account Settings</h4></div>
    <div class="col-xs-4">
    <form id="userProfile" role="form" method="post" class="center-block">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

      <div class="form-group">
        <label for="user-firstname">First Name</label>
        <input type="text" value="<%= current_user.firstname -%>" class="form-control" id="user-firstname" name="user-firstname" placeholder="Enter firstname">
      </div>

      <div class="form-group">
        <label for="user-lastname">Last Name</label>
        <input type="text" value="<%= current_user.lastname -%>" class="form-control" id="user-lastname" name="user-lastname" placeholder="Enter lastname">
      </div>

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" value="<%= current_user.email -%>" class="form-control" id="email" name="email" placeholder="Enter email">
      </div>

      <div class="form-group">
        <label for="country">Country</label>
        <select id="country" name="country" class="form-control is-required">
          <% @countries.each do |c| %>
          <option value="<%= c.iso3166_a2 -%>" <% if c == current_user.country %>selected="selected"<% end %>>
          <%= c.name -%>
          </option>
          <% end %>
        </select>
      </div>

      <!--<div class="alert alert-danger" id="userProfileErrors">
        <strong>Error!</strong> <span class="alert-content"></span>
      </div>-->

      <input type="submit" class="btn btn-primary" value="Save" name="Save"/>
    </form>
    </div>
  </div>
</div>
</section>
  </section>
<script>
    //$(window.Evercam.Users.initialize);
    Notification.init(".bb-alert");
    <% if flash[:message] %>
    Notification.show('<%= flash[:message] %>');
    <% end %>

    $(function() {

      if ($.fn.niceScroll) {
        $(".leftside-navigation").niceScroll({
          cursorcolor: "#428bca",
          cursorborder: "0px solid #fff",
          cursorborderradius: "0px",
          cursorwidth: "3px"
        });

        $(".leftside-navigation").getNiceScroll().resize();
        if ($('#sidebar').hasClass('hide-left-bar')) {
          $(".leftside-navigation").getNiceScroll().hide();
        }
        $(".leftside-navigation").getNiceScroll().show();

        $(".right-stat-bar").niceScroll({
          cursorcolor: "#1FB5AD",
          cursorborder: "0px solid #fff",
          cursorborderradius: "0px",
          cursorwidth: "3px"
        });

      }
    });
</script>