<% provide(:title, "Evercam: User Settings") %>
<div id="user-settings">
  <div class="page-content-wrapper settings-tab" id="manage-account">
    <div class="page-content">
      <div class="tabbable tabbable-custom">
        <div class="center-tabs">
          <ul id="ul-nav-tab" class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" data-target="#account-setting" class="nav-tab-live nav-tab-">Account</a>
            </li>
            <li>
              <a data-toggle="tab" data-target="#account-password" class="nav-tab-details">Password</a>
            </li>
            <li>
              <a data-toggle="tab" data-target="#user-activities" class="nav-tab-activities">Activities</a>
            </li>
            <li>
              <a data-toggle="tab" data-target="#embedded-live-view" class="nav-tab-live nav-tab-">Live View Widget</a>
            </li>
            <li>
              <a data-toggle="tab" data-target="#embedded-recordings" class="nav-tab-details">Recording Widget</a>
            </li>
            <li>
              <a data-toggle="tab" data-target="#simple-api-call" class="nav-tab-api">API</a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div id="account-setting" class="account-setting margin-top-20 tab-pane active">
            <%= render partial: "users/settings/account_tab" %>
          </div>
          <div id="account-password" class="account-password margin-top-20 tab-pane">
            <%= render partial: "users/settings/password_tab" %>
          </div>
          <div id="user-activities" class="user-history tab-pane">
            <%= render partial: "users/settings/user_activities_tab" %>
          </div>
          <div id="embedded-live-view" class="tab-pane margin-top-20">
            <%= render partial: "widgets/widgets_new" %>
          </div>
          <div id="embedded-recordings" class="tab-pane margin-top-20">
            <%= render partial: "widgets/widget_snapshot_navigator" %>
          </div>
          <div id="simple-api-call" class="tab-pane margin-top-20">
            <%= render partial: "users/settings/simple_api_calls" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    window.initializeUserAccount();
    window.initializeUserActivity();
    <% if flash[:message] %>
    Notification.show('<%= flash[:message] %>');
    <% end %>
  });
</script>
