<title>Evercam - User Settings</title>
<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<div class="page-container">
  <!-- BEGIN SIDEBAR -->
  <%= render :partial => "sidebar/sidebar" %>
  <!-- END SIDEBAR -->

<div class="page-content-wrapper">
<div class="page-content" id="user-settings">
<!--main content start-->
<!-- sidebar menu end-->

<div class="col-md-7">
  <!-- BEGIN SAMPLE FORM PORTLET-->
  <div class="portlet">
    <div class="portlet-title">
        <div class="caption">
          User Settings
        </div>
        <div class="tools">
          <a href="" class="collapse">
          </a>
          <a href="#portlet-config" data-toggle="modal" class="config">
          </a>
          <a href="" class="reload">
          </a>
          <a href="" class="remove">
          </a>
        </div>
    </div>

      <div class="portlet-body form">
        <form id="userProfile" role="form" method="post" class="form-horizontal">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>



            <div class="form-group">
              <label class="col-md-3 control-label" for="user-username">Username</label>
              <div class="col-md-9" id="some-div">
                <input type="text" value="<%= current_user.username -%>" class="form-control input-medium input-inline"  id="user-username" name="user-username" disabled placeholder="">
                <span id="some-element" class="help-inline">
											Username cannot be changed.</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="user-firstname">First Name</label>
              <div class="col-md-6">
              <input data-validation-error-msg="Cannot be blank" data-validation="length" data-validation-length="min1" type="text" value="<%= current_user.firstname -%>" class="form-control input-medium" id="user-firstname" name="user-firstname" placeholder="Enter firstname">
                </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="user-lastname">Last Name</label>
              <div class="col-md-6">
              <input data-validation-error-msg="Cannot be blank" data-validation="length" data-validation-length="min1" type="text" value="<%= current_user.lastname -%>" class="form-control input-medium" id="user-lastname" name="user-lastname" placeholder="Enter lastname">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Email address</label>
              <div class="col-md-9">
              <input data-validation="email" type="email" value="<%= current_user.email -%>" class="form-control input-medium input-inline" id="email" name="email" placeholder="Enter email">
              <!--<span class="help-inline red">
											Unverified. <a href="">Resend Verification</a></span>-->
              </div>

            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="country">Country</label>
              <div class="col-md-6">
              <select id="country" name="country" class="input-medium form-control is-required">
                <% @countries.each do |c| %>
                  <option value="<%= c.iso3166_a2 -%>" <% if c == current_user.country %>selected="selected"<% end %>>
                    <%= c.name -%>
                  </option>
                <% end %>
              </select>
              </div>
            </div>

            <div class="right1">
              <div class="col-lg-offset-3 col-md-3">
                <input type="submit" class="btn blue" value="Save" name="Save"/>
              </div>
            </div>



        </form>
      </div>
  </div>
  </div>



</div>
</div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>


<script>
  $(document).ready(function () {
  $.validate();
  });
  //$(window.Evercam.Users.initialize);
  Notification.init(".bb-alert");
  <% if flash[:message] %>
  Notification.show('<%= flash[:message] %>');
  <% end %>
  jQuery(document).ready(function() {
    Metronic.init(); // init metronic core components
    Layout.init(); // init current layout
    QuickSidebar.init() // init quick sidebar
  });
  var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
      showLeft = document.getElementById( 'showLeft' )
  body = document.body;

  showLeft.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( menuLeft, 'cbp-spmenu-open' );
    disableOther( 'showLeft' );
  };


  function disableOther( button ) {
    if( button !== 'showLeft' ) {
      classie.toggle( showLeft, 'disabled' );
    }

  }
</script>
