<div class="page-header navbar navbar-fixed-top">
  <div class="page-header-inner">
    <%= link_to image_tag('evercam-e.svg', alt: 'Evercam logo'), root_path, class: 'pull-left evercam-e-header' %>
    <% if params[:controller] == 'cameras' and params[:action] == 'index'%>

        <% @cameras_products = Camera.where(owner: current_user).eager(:cloud_recording).all
           one_day = []
           seven = []
           thirty = []
           ninety = []
           infinity = []
           @cameras_products.each do |camera|
             if camera.cloud_recording.present?
               if camera.cloud_recording.storage_duration.equal?(-1)
                 infinity[infinity.count] = camera
               elsif  camera.cloud_recording.storage_duration.equal?(1)
                 one_day[one_day.count] = camera
               elsif  camera.cloud_recording.storage_duration.equal?(7)
                 seven[seven.count] = camera
               elsif  camera.cloud_recording.storage_duration.equal?(30)
                 thirty[thirty.count] = camera
               elsif  camera.cloud_recording.storage_duration.equal?(90)
                 ninety[ninety.count] = camera
               end
             end
           end
        total_count = ninety.count + thirty.count + one_day.count + infinity.count%>
        <%if total_count %>
          <div class="licence-message alert alert-danger">
            <span>You require <%=total_count%> additional licences,Pay <a href="users/marco/billing">here</a> </span>
          </div>
        <%end%>
    <%end%>
    <% if params[:controller] == 'cameras' and params[:action] == 'single' %>
      <div class="camera-switch">
        <a class="dropdown-toggle" data-toggle="dropdown">
        <% if @camera['is_online'] %>
          <span class="green-bg status-circle"></span>
        <% else %>
          <span class="red-bg status-circle"></span>
        <% end %>
          <span class="camera-name"><%= @camera['name'] %></span>
          <span class="camera-caret"><i class="fa fa-caret-down"></i></span>
        </a>
        <ul class="dropdown-menu scroll-menu" role="menu">
          <% @cameras.each do |camera| %>
            <li class="sub-menu-item <%= is_active?("/cameras/#{camera['id']}") %> <% unless camera['is_online'] %>sidebar-offline<% end %>">
              <%= link_to camera['name'] , cameras_single_path(camera['id'])%>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="top-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown dropdown-user">
          <a class="" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-plus"></i>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
              <%= link_to cameras_new_path do %>
                Add IP Camera
              <% end %>
            </li>
            <li role="presentation">
              <%= link_to "#{cameras_new_path}#tab_1_2" do %>
                Add Android Camera
              <% end %>
            </li>
            <li role="presentation">
              <%= link_to "http://www.evercam.io/public/cameras?user_id=#{current_user.username}&api_id=#{current_user.api_id}&api_key=#{current_user.api_key}", target: "_blank" do %>
                <i class="fa fa-external-link icon-font"></i> Add Public Camera
              <% end %>
            </li>
            <li role="presentation">
              <a href="#" class="grey">Add NVR</a>
            </li>
          </ul>
        </li>
        <li id="live_support" class="dropdown dropdown-user">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="fa fa-ellipsis-v"></i>
          </a>
          <ul class="dropdown-menu">
            <li role="presentation">
              <%= link_to "http://www.evercam.io/public/cameras", target: "_blank" do %>
                <i class="fa fa-external-link icon-font"></i> Public Cameras
              <% end %>
            </li>
            <li role="presentation">
              <%= link_to 'Account', user_account_path(current_user.username) %>
            </li>
            <li role="presentation">
              <%= link_to 'Billing', billing_path(current_user.username) %>
            </li>
            <li role="presentation">
              <%= link_to 'Developer', dev_path %>
            </li>
            <li role="presentation">
              <a id="Intercom">Live Support</a>
            </li>
            <li role="presentation">
              <%= link_to 'Sign out', signout_path, method: 'delete' %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<script>
$(document).ready(function () {
  window.initializeHeader();
});
</script>