<div class="page-header navbar navbar-fixed-top">
  <div class="page-header-inner">
    <%= link_to image_tag('evercam-e.svg', alt: 'Evercam logo'), root_path, class: 'pull-left evercam-e-header' %>
    <% if params[:controller] == 'cameras' && params[:action] == 'index' && @show_alert_message %>
      <div class="biling-alert alert alert-danger">
        <span>You require <%= @required_licences %> additional licences.
          <%= link_to "Buy Licences", billing_path(current_user.username), class: "billing-link" %>
        </span>
      </div>
    <% end %>
    <% if params[:controller] == 'cameras' and params[:action] == 'single' %>
      <div class="camera-switch">
        <a class="dropdown-toggle" data-toggle="dropdown">
        <% if @camera['is_online'] %>
          <span class="green-bg status-circle"></span>
        <% else %>
          <span class="red-bg status-circle"></span>
        <% end %>
          <span class="camera-name"><%= @camera['name'] %></span>
          <span class="camera-caret"><i class="fa fa-caret-down"></i></span>
        </a>
        <ul class="dropdown-menu scroll-menu" role="menu">
          <% @cameras.each do |camera| %>
            <li class="sub-menu-item <%= is_active?("/cameras/#{camera['id']}") %> <% unless camera['is_online'] %>sidebar-offline<% end %>">
              <%= link_to camera['name'] , cameras_single_path(camera['id'])%>
              <% unless camera['is_online'] %>
                <i class="red header-sidebar fa fa-chain-broken"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="top-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown dropdown-user">
          <a class="" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-plus"></i>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
              <%= link_to cameras_new_path do %>
                Add IP Camera
              <% end %>
            </li>
            <li role="presentation">
              <%= link_to "#{cameras_new_path}#tab_1_2" do %>
                Add Android Camera
              <% end %>
            </li>
            <li role="presentation">
              <%= link_to "http://www.evercam.io/public/cameras?user_id=#{current_user.username}&api_id=#{current_user.api_id}&api_key=#{current_user.api_key}", target: "_blank" do %>
                <i class="fa fa-external-link icon-font"></i> Add Public Camera
              <% end %>
            </li>
            <li role="presentation">
              <a href="#" class="grey">Add NVR</a>
            </li>
          </ul>
        </li>
        <li id="live_support" class="dropdown dropdown-user">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="fa fa-ellipsis-v"></i>
          </a>
          <ul class="dropdown-menu">
            <li role="presentation">
              <%= link_to 'Account', user_account_path(current_user.username) %>
            </li>
            <li role="presentation">
              <%= link_to 'Billing', billing_path(current_user.username) %>
            </li>
            <li role="presentation">
              <%= link_to 'Developer', dev_path %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<script>
$(document).ready(function () {
  window.initializeHeader();
});
</script>