<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">


    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>
    <ul class="page-sidebar-menu">
      <li>
          <div>
            <%= link_to image_tag("evercam-e.svg", alt: "Evercam logo"), root_path, class: 'evercam-e' %>
          </div>
          <div class="dashboard-title">
            <a href="/">Dashboard</a>
          </div>
          <div class="sidebar-toggler-wrapper">
            <div class="sidebar-toggler"></div>
          </div>
      </li>
          <li class="dropdown dropdown-user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					    <span class="username">
				      	<%= current_user.firstname %>'s Cameras
                <i class="fa fa-angle-down"></i>
              </span>
            </a>

            <ul class="dropdown-menu">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="/users/<%= current_user.username %>/settings">User Settings</a>
              </li>
              <li role="presentation"><a href="javascript:Intercom('show');">Support</a></li>
              <li role="presentation"><%= link_to "Sign out", signout_path, method: "delete", class: "" %></li>
            </ul>
          </li>

      <li>
        <ul class="sub-menu">
          <% @cameras.each do |camera| %>
            <li class="sub-menu-item <%= is_active?("/cameras/#{camera['id']}") %> <% unless camera['is_online'] %>sidebar-offline<% end %>">
              <a href="/cameras/<%= camera['id'] %>">
                <%= camera['name'] %>
              </a>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="<%= is_active?("/cameras/new") %>">
        <a href="/cameras/new">
          <span class="title">Add a Camera</span>
        </a>
      </li>
      <li class="<%= is_active?("/public/cameras") %>">
        <a href="/public/cameras">
          <span class="title">Public Cameras</span>
        </a>
      </li>
      <li class="<%= is_active?("/dev") %> toggle-sidebar">
        <a>

          <span class="title">Developer</span>
        </a>
        <ul id="mobile-dev-menu" class="sub-menu">
          <li>
            <a href="/dev">API Docs</a>
          </li>
          <li>
            <a href="javascript:;">
              Widgets <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/widgets-new">Live View Widget</a>
              </li>
              <li>
                <a href="/widgets-hikvision">Hikvision Widget</a>
              </li>
              <li>
                <a href="/widgets-snapshot-navigator">Snapshot Navigator Widget</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="cbp-spmenu-push">
  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">

    <ul>
      <li>
        <a href="/dev">API Docs</a>
      </li>

      <div class="dev-menu-title">
        Widgets
      </div>

      <li class="widgets-menu">
        <a href="/widgets-new">Live View</a>
      </li>

      <li class="widgets-menu">
        <a href="/widgets-hikvision">Local Storage</a>
      </li>
      <li class="widgets-menu">
        <a href="/widgets-snapshot-navigator">Snapshot Navigator</a>
      </li>
    </ul>
  </nav>
</div>

<script>
  $(document).ready(function () {
    Metronic.init();
    Layout.init();
    QuickSidebar.init();
  });
</script>
