<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu">
      <li class="cameras-sidebar">
        <div class="sidebar-title">
          <div id="hello" class="col-md-8">
            <%= link_to cameras_index_path do %>
              <i class="fa fa-camera icon-font"></i> Cameras 
            <% end %>
            <i class="fa fa-caret-down camera-fadrop"></i>
          </div>

          <div id="siderbar">
            <label class="label toggle">
              <input type="checkbox" class="toggle_input" id="offline-btn"/>
              <div class="toggle-control"></div>
            </label>
            <label id="lbl" for="hide-offline-cameras" class="red fa fa-chain-broken"> </label>
        </div>
          <div class="clear-f"></div>
        </div>
      </li>
      <li class="cameralist-height">
        <ul class="sub-menu sidebar-cameras-list">
          <% @cameras.each do |camera| %>
            <li class="sub-menu-item <%= is_active?("/cameras/#{camera['id']}") %> <%= "sidebar-offline" unless camera['is_online'] %>">
              <%= link_to camera['name'], cameras_single_path(camera['id']) %>
              <% unless camera['is_online'] %>
                <i class="red main-sidebar fa fa-chain-broken"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="sidebar-line">
        <%= link_to "http://www.evercam.io/public/cameras?user_id=#{current_user.username}&api_id=#{current_user.api_id}&api_key=#{current_user.api_key}", target: "_blank" do %>
            <i class="fa fa-compass icon-font"></i> Public Cameras <i class="fa fa-external-link pull-right"></i>
        <% end %>
      </li>
      <li class="sidebar-line">
        <%= link_to "http://snapmails.cloudapp.net/login.html", target: "_blank" do %>
            <img class="icon-font snapimg" src="//dkzcs7h1dpzak.cloudfront.net/assets/snapmail-fd5f12a06005b85e0247e6fa206e9992c31af9f0c95a79544dcca1f9d216f620.png"></i> Snapmail <i class="fa fa-external-link pull-right"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "http://timelapse.evercam.io/?_ga=1.107202891.892362612.1455700298", target: "_blank" do %>
            <i class="fa fa-history icon-font"></i> Timelapse <i class="fa fa-external-link pull-right"></i>
        <% end %>
      </li>
      <li role="presentation" class="sidebar-line">
        <a id="Intercom"><i class="fa fa-weixin icon-font"></i> Live Support</a>
      </li>
      <li>
        <a rel="nofollow" data-method="delete" href="/v1/users/signout"><i class="fa fa-sign-out right-ajustment icon-font"></i>Sign out</a>
      </li>
    </ul>
  </div>
</div>


