<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
      <li class="cameras-sidebar">
        <div class="sidebar-title">
          <div id="hello" class="col-md-12">
            <%= link_to cameras_index_path do %>
              <img src="/favicon-white-24x24.png" class="camera-icon"><span class="title"> Cameras</span>
            <% end %>
            <span class="camera-fadrop">
              <i class="fa fa-caret-down pull-right title"></i>
              <i class="fa fa-caret-up pull-right title"></i>
            </span>
          </div>
          <div class="clear-f"></div>
        </div>
      </li>
      <li class="cameralist-height title">
        <ul class="sub-menu sidebar-cameras-list">
          <% @cameras.each do |camera| %>
            <li class="sub-menu-item camera-<%= camera['id'] %> <%= is_active?("/cameras/#{camera['id']}") %> <%= "sidebar-offline" unless camera['is_online'] %>">
              <%= link_to camera['name'], cameras_single_path(camera['id']), data: {"camera-id" => camera['id']} %>
              <i class="red main-sidebar fa fa-chain-broken"></i>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="sidebar-line nprogCall">
        <%= link_to cameras_new_path do %>
        <i class="fa fa-video-camera icon-font"></i><span class="title"> Add IP Camera</span>
        <% end %>
      </li>
      <li>
        <%= link_to "https://www.evercam.io/public/cameras", target: "_blank" do %>
            <i class="fa fa-compass icon-font"></i><span class="title"> Public Cameras</span>
        <% end %>
      </li>
      <li class="sidebar-line">
        <%= link_to snapmails_index_path do %>
            <img class="icon-font snapimg" src="//dkzcs7h1dpzak.cloudfront.net/assets/snapmail-fd5f12a06005b85e0247e6fa206e9992c31af9f0c95a79544dcca1f9d216f620.png"><span class="title snapmail-text"> Snapmail</span>
        <% end %>
      </li>
      <li>
        <%= link_to "http://timelapse.evercam.io/login.html?id=#{current_user.username}&api_id=#{current_user.api_id}&api_key=#{current_user.api_key}", target: "_blank" do %>
          <i class="fa fa-history icon-font"></i><span class="title"> Timelapse</span>
        <% end %>
      </li>
      <li class="sidebar-line nprogCall">
        <%= link_to billing_path(current_user.username) do %>
          <i class="fa fa-credit-card"></i> Billing
        <% end %>
      </li>
      <li class="nprogCall">
        <%= link_to widget_path do %>
          <i class="fa fa-book"></i> Developer
        <% end %>
      </li>
      <li>
        <a class="seting"><i class="fa fa-cog icon-font"></i> Settings <i class="fa fa-caret-down pull-right"></i>
        <i class="fa fa-caret-up pull-right"></i></a>
        <ul class="setting-list left-nav-submenu">
          <li>
            <i class="fa fa-video-camera width-20" aria-hidden="true"></i>
            <span class="offline-span"> Hide Offline Cameras</span>
            <div id="siderbar" class="sidebar">
              <label class="label sidebar-type-label">
                <input id="offline-btn" type="checkbox" class="sidebar-chk-span" tabindex="30">
              </label>
            </div>
          </li>
          <li class="nprogCall">
            <%= link_to user_account_path(current_user.username) do %>
              <i class="fa fa-user width-20"></i> Account
            <% end %>
          </li>
          <li class="nprogCall">
            <%= link_to password_change_path(current_user.username) do %>
              <i class="fa fa-key width-20"></i> Password
            <% end %>
          </li>
          <li class="nprogCall">
            <%= link_to cameras_table_path do %>
              <i class="fa fa-table width-20"></i> Cameras Table
            <% end %>
          </li>
          <li class="nprogCall">
            <%= link_to map_view_path do %>
              <i class="fa fa-map width-20"></i> Map View
            <% end %>
          </li>
          <li class="status-list">
            <%= link_to status_path do %>
              <i class="fa fa-barcode width-20"></i> Status Report
            <% end %>
          </li>
        </ul>
      </li>
      <li role="presentation">
        <a id="Intercom"><i class="fa fa-comment icon-font"></i><span class="title"> Live Support</span></a>
      </li>
      <li class="nprogCall">
        <a rel="nofollow" data-method="delete" href=<%= signout_path %>><i class="fa fa-sign-out right-ajustment icon-font"></i><span class="title"> Sign out </span></a>
      </li>
    </ul>
    <input type="hidden" id="controller" value="<%= params[:controller] %>">
  </div>
</div>


