<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>
    <ul class="page-sidebar-menu">
      <li class="desktop-user">
        <%= image_tag('evercam-e.svg', class: 'logo') %>
        <%= link_to cameras_index_path do %>
          <span class="username">
            <%= current_user.firstname %>'s Cameras
          </span>
        <% end %>
      </li>

      <li>
        <ul class="sub-menu">
          <% @cameras.each do |camera| %>
            <li class="sub-menu-item <%= is_active?("/cameras/#{camera['id']}") %> <% unless camera['is_online'] %>sidebar-offline<% end %>">
              <%= link_to camera['name'], cameras_single_path(camera['id']) %>
            </li>
          <% end %>
        </ul>
      </li>

      <li class="<%= is_active?('/cameras/new') %>">
        <%= link_to cameras_new_path do %>
          <i class="icon-plus"></i>
          <span class="title">Add a Camera</span>
        <% end %>
      </li>

      <li class="<%= is_active?('/public/cameras') %>">
        <%= link_to public_cameras_index_path do %>
          <i class="icon-pointer"></i>
          <span class="title">Public Cameras</span>
        <% end %>
      </li>

      <li class="<%= is_active?('/dev') %> toggle-sidebar">
        <a>
          <i class="icon-briefcase"></i>
          <span class="title">Developer</span>
        </a>
        <ul id="mobile-dev-menu" class="sub-menu">
          <li>
            <a href="/dev">API Docs</a>
          </li>
          <li>
            <a href="javascript:;">
              Widgets <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/widgets-new">Live View Widget</a>
              </li>
              <li>
                <a href="/widgets-hikvision">Hikvision Widget</a>
              </li>
              <li>
                <a href="/widgets-snapshot-navigator">Snapshot Navigator Widget</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <%= link_to user_path(current_user.username), role: 'menuitem' do %>
          <i class="icon-settings"></i>
          <span class="title">User Settings</span>
        <% end %>
      </li>

      <li>
        <a href="javascript:Intercom('show');">
          <i class="icon-support"></i><span class="support title">Support</span>
        </a>
      </li>

      <li>
        <i class="icon-login"></i>
        <%= link_to 'Sign Out', signout_path, method: 'delete', class: 'signout' %>
      </li>
    </ul>
  </div>
</div>

<div class="cbp-spmenu-push">
  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <ul>
      <li>
        <a href="/dev">API Docs</a>
      </li>

      <li class="dev-menu-title">
        Widgets
      </li>

      <li class="widgets-menu">
        <a href="/widgets-new">Live View</a>
      </li>

      <li class="widgets-menu">
        <a href="/widgets-hikvision">Local Storage</a>
      </li>

      <li class="widgets-menu">
        <a href="/widgets-snapshot-navigator">Snapshot Navigator</a>
      </li>
    </ul>
  </nav>
</div>
