<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu">
      <li>
        <%= link_to cameras_index_path do %>
          <i class="fa fa-camera"></i> Cameras
        <% end %>
      </li>
      <li>
        <%= link_to user_account_path(current_user.username) do %>
          <i class="fa fa-user"></i> Account
        <% end %>
      </li>
      <li>
        <%= link_to password_change_path do %>
          <i class="fa fa-key"></i> Password
        <% end %>
      </li>
      <li>
        <%= link_to user_settings_path do %>
          <i class="fa fa-cog"></i> Settings
        <% end %>
      </li>
      <li>
        <%= link_to billing_path(current_user.username) do %>
          <i class="fa fa-credit-card"></i> Billing
        <% end %>
      </li>
      <li>
        <%= link_to apps_path(current_user.username) do %>
          <i class="fa fa-wrench"></i> Applications
        <% end %>
      </li>
    </ul>
  </div>
</div>

