<form action="#" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <div class='row'>
    <div class="col-md-4">
      <h4>Settings<small>  <a href="#camera-settings" class="makeEditable"> edit</a></small></h4>
    </div>

  </div>
<!--  <div class="row">
    <div class='col-lg-12'>
      <div class='col-lg-3 form-group'>
        <div class="left-inner-addon">
          <i class="glyphicon glyphicon-pencil"></i>
          <input type="button" value="Edit Settings" class="makeEditable btn btn-edit" />
        </div>
      </div>
    </div>
  </div>-->
<div class="row">
<div class='col-lg-7'>
  <div class='col-lg-12'>
  <table class="table">
    <tr>
      <td class="col-md-4">
        <label class="control-label">Evercam ID</label>
      </td>
      <td class="col-md-6 settings">
        <div class="well-set"><%= @camera['id'] %></div><input type="hidden" name="camera-id" value="<%= @camera['id'] %>">
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <label class="control-label" for="camera-name">Friendly Name *</label>
      </td>
      <td class="col-md-4">
        <input id="camera-name" class="form-control readonly makeEditable" type="text" value="<%= @camera['name'] %>" data-validation-error-msg="Can contain letters, numbers, spaces and hyphens." data-validation-allowing="-_ " data-validation="alphanumeric" required="" placeholder="" name="camera-name" readonly="readonly">
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label" for="camera-username">Camera Username *</label>
      </td>
      <td>
        <input id="camera-username" name="camera-username" placeholder="" class="form-control readonly makeEditable" readonly="readonly" type="text" value="<%= @camera['cam_username'] %>">
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label" for="camera-password">Camera Password *</label>
      </td>
      <td>
        <input id="camera-password" name="camera-password" placeholder="" class="form-control readonly makeEditable" readonly="readonly" type="text" value="<%= @camera['cam_password'] %>">
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label" for="camera-url">External IP (or URL) *</label>
      </td>
      <td>
        <!--<span class="input-group-addon">http://</span>-->
        <input id="camera-url" name="camera-url" placeholder="149.237.192.68" class="form-control makeEditable" readonly="readonly" required="" type="text" data-validation="custom" data-validation-regexp="^[a-zA-Z0-9._/-]{2,100}$" data-validation-error-msg="This doesn't appear to be a valid IP." value="<%= @camera['external_host'] %>">
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label" for="port">External HTTP Port *</label>
      </td>
      <td>
        <input id="port" name="port" placeholder="not yet provided" class="form-control makeEditable" required="" type="text" data-validation="custom" readonly="readonly" data-validation-regexp="^[0-9]{2,5}$"  data-validation-error-msg="The Port should be a 2-5 digit number." value="<%= @camera['external_http_port'] %>">
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label" for="snapshot">Snapshot URL *</label>
      </td>
      <td>
        <input type="text" id="snapshot" name="snapshot" placeholder="/snapshot.jpg" class="form-control makeEditable" readonly="readonly" data-validation="custom" data-validation-regexp="^/[a-zA-Z0-9._/-]{2,100}$" data-validation-error-msg="This doesn't appear to be a valid URL" value="<%= @camera['jpg_url'] %>" >
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label" for="camera-vendor">Camera Vendor</label>
      </td>
      <td>
        <select id="camera-vendor" name="camera-vendor" readonly="readonly" class="form-control makeEditable">
          <option selected="selected" value="">-- select model --</option>
          <% @vendors.each_with_index  do |v, index| -%>
              <option value="<%= v.exid -%>" <% if v.exid == @camera['vendor'] %>selected="selected"<% end %>>
                <%= v.name -%>
              </option>
          <% end %>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label" for="camera-model">Camera Model</label>
      </td>
      <td>

        
        <% @vendors.each do |v| -%>
            <select id="camera-model<%= v.exid -%>" name="camera-model" readonly="readonly" class="form-control  <% if v.exid != @camera['vendor'] %>hidden<% end %>">
              <% v.vendor_models.each_with_index  do |m, index| -%>
                  <% if index == 0 %>
                      <option value="<%= m.name -%>" ><%= m.name -%></option>
                  <% else %>
                      <option value="<%= m.name -%>" <% if m.name == @camera['model'] %>selected="selected"<% end %> ><%= m.name -%></option>
                  <% end %>
              <% end -%>
            </select>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label" for="local-ip">Local IP</label>
      </td>
      <td>
        <input id="local-ip" name="local-ip" placeholder="not yet provided" class="form-control makeEditable" type="text" readonly="readonly" data-validation="custom" data-validation-regexp="^[a-zA-Z0-9._/-]{2,100}$"  data-validation-error-msg="This doesn't appear to be a valid IP or URL." data-validation-optional="true" value="<%= @camera['internal_host'] %>">
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label" for="local-http">Local HTTP Port</label>
      </td>
      <td>
        <input id="local-http" name="local-http" placeholder="not yet provided" class="form-control makeEditable" readonly="readonly" type="text" data-validation="custom" data-validation-regexp="^[0-9]{2,5}$"  data-validation-error-msg="The Port should be a 2-5 digit number." data-validation-optional="true" value="<%= @camera['internal_http_port'] %>">
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label" for="local-rtsp">Local RTSP Port</label>
      </td>
      <td>
        <input id="local-rtsp" name="local-rtsp" placeholder="not yet provided" class="form-control makeEditable" readonly="readonly" type="text" data-validation="custom" data-validation-regexp="^[0-9]{2,5}$"  data-validation-error-msg="The Port should be a 2-5 digit number." data-validation-optional="true" value="<%= @camera['internal_rtsp_port'] %>">
      </td>
    </tr>
  </table>
  </div>
</div>
  <!-- SNAPSHOT-->
  <div class="col-lg-4 makeNonEditable">
    <div>
      <img id="testimg" src="/" class="text-center" width="100%">
      <div class="test-snapshot"><a href="#" id="test" class="btn btn-primary ladda-button" role="button" data-style="expand-left"><span class="ladda-label">Test Snapshot</span></a></div>
    </div>
    <div class="snapshot-error text-center"<span id="test-error" class="text-center"><%= flash[:message] %></span></div>
  </div>

</div>



<!-- SAVE BUTTON -->
  <fieldset>
    <div class="row save-settings">
      <div class='col-lg-12'>
        <div class='col-lg-3 form-group'>
          <label class="control-label" for="add-button"></label>
          <button id="add-button" name="add-button" class="alert push btn btn-primary">Save Settings</button>
        </div>
      </div>
    </div>
  </fieldset>


  <!-- SUPPORT -->
  <fieldset>
  <div class="row add-footer">
    <div class='col-lg-10 support'>
      <h5>Still Can't See Your Camera?</h5>
      <p>If your still having trouble getting your camera connected you can reach out for some support.</p>
      <ul>
        <li>Visit our <a href="http://www.evercam.io/help" target="_blank">Help Pages</a></li>
        <li>Or email us <a href="#" target="_blank">Support@evercam.io</a></li>
      </ul>
    </div>
  </div>
</fieldset>

</form>

<script type="text/javascript">
    $(window.Evercam.Settings.initializeTab);
    $(function(){
        // Make Input Fields Non Editable & Editable
        $(".makeNonEditable").click(function(){
            $('input:text').attr("readonly", "readonly");
        });
        $(".makeEditable").click(function(){
            $('input:text').removeAttr("readonly");
        });

        // Replace Broken Image
        $('img').error(function(){
            $(this).attr('src', 'https://www.evercam.io/img/connect.png ');
        });

        // Notifications
        Notification.init(".bb-alert");
        <% if flash[:message] %>
        Notification.show('<%= flash[:message] %>');
        <% end %>
    });


</script>