<form action="#" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <div class='row'>
    <div class="col-md-4">
      <h4>Settings</h4>
    </div>

  </div>



  <div class="row">
    <div class='col-lg-12'>
      <div class='col-lg-3 form-group'>
        <div class="left-inner-addon">
          <i class="glyphicon glyphicon-pencil"></i>
          <input type="button" value="Edit Settings" class="makeEditable btn btn-edit" />
        </div>
      </div>
    </div>
  </div>


  <!-- SECTION 1 -->
  <fieldset class="settings-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6">
          <div class="row"><!-- ID -->
            <div class='col-lg-12'>
              <div class='form-group'>
                <label class="control-label">Evercam ID</label>
                <div class="well-set"><%= @camera['id'] %></div>
                <input type="hidden" name="camera-id" value="<%= @camera['id'] %>">
              </div>
            </div>
          </div>
          <div class="row"><!-- Friendly Name -->
            <div class='col-lg-12'>
              <div class='settings form-group'>
                <label class="control-label" for="camera-name">Friendly Name</label>
                <input id="camera-name" class="form-control readonly makeEditable" type="text" value="<%= @camera['name'] %>" data-validation-error-msg="Can contain letters, numbers, spaces and hyphens." data-validation-allowing="-_ " data-validation="alphanumeric" required="" placeholder="" name="camera-name" readonly="readonly">

              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-6">
          <div class='row'><!-- Username  -->
            <div class='col-lg-12'>
              <div class='settings form-group'>
                <label class="control-label" for="camera-username">Camera Username</label>
                <input id="camera-username" name="camera-username" placeholder="" class="form-control readonly makeEditable" readonly="readonly" type="text" value="<%= @camera['cam_username'] %>">
              </div>

            </div>
          </div>
          <div class='row'><!-- PASSWORD  -->
            <div class='col-lg-12'>
              <div class='settings form-group'>
                <label class="control-label" for="camera-password">Camera Password</label>
                <input id="camera-password" name="camera-password" placeholder="" class="form-control readonly makeEditable" readonly="readonly" type="text" value="<%= @camera['cam_password'] %>">
              </div>

            </div>
          </div>
      </div>

    </div>
  </div>
  </fieldset>
  <!-- END SECTION 1 -->

  <!-- SECTION 2 -->
  <fieldset class="settings-section">
  <div class='row'>
    <div class="col-lg-12">
      <div class="col-lg-6">
        <div class='row'>
          <div class='col-lg-10 form-group'>
            <label class="control-label" for="camera-url">External IP (or URL)</label>
            <div class="input-group">
              <span class="input-group-addon">http://</span>
              <input id="camera-url" name="camera-url" placeholder="149.237.192.68" class="form-control makeEditable" readonly="readonly" required="" type="text" data-validation="custom" data-validation-regexp="^[a-zA-Z0-9._/-]{2,100}$" data-validation-error-msg="This doesn't appear to be a valid IP." value="<%= @camera['external_host'] %>">
            </div>

          </div>
        </div>
        <div class='row'>
          <div class='col-lg-5 form-group'>
            <label class="control-label" for="port">External HTTP Port</label>
            <input id="port" name="port" placeholder="8901" class="form-control makeEditable" required="" type="text" data-validation="custom" readonly="readonly" data-validation-regexp="^[0-9]{2,5}$"  data-validation-error-msg="The Port should be a 2-5 digit number." value="<%= @camera['external_http_port'] %>">
          </div>
          <div class='col-lg-5 form-group'>
            <label class="control-label" for="ext-rtsp-port">External RTSP Port</label>
            <input id="ext-rtsp-port" name="ext-rtsp-port" placeholder="not yet provided" class="form-control makeEditable" type="text" readonly="readonly" data-validation="custom" data-validation-regexp="^[0-9]{2,5}$"  data-validation-error-msg="The Port should be a 2-5 digit number." data-validation-optional="true" value="<%= @camera['external_rtsp_port'] %>">
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-10 form-group'>
            <label class="control-label" for="snapshot">Snapshot URL</label>
            <input type="text" id="snapshot" name="snapshot" placeholder="/snapshot.jpg" class="form-control makeEditable" readonly="readonly" data-validation="custom" data-validation-regexp="^/[a-zA-Z0-9._/-]{2,100}$" data-validation-error-msg="This doesn't appear to be a valid URL" value="<%= @camera['jpg_url'] %>" >
          </div>
        </div>
      </div>
      <!-- SNAPSHOT-->
      <div class="col-lg-3">
        <div>
          <img id="testimg" src="/" class="text-center" width="100%">
          <div class="test-snapshot"><a href="#" id="test" class="btn btn-primary ladda-button" role="button" data-style="expand-left"><span class="ladda-label">Test Snapshot</span></a></div>
        </div>
        <div class="snapshot-error text-center"<span id="test-error" class="text-center"><%= flash[:message] %></span>
      </div>
    </div>
  </div>
</fieldset>
<!-- END SECTION 2 -->

<!-- SECTION 3 -->
<fieldset>
<div class="row">
  <div class='col-lg-10'>
    <div class="col-lg-7">
      <!-- STEP 4 -->
      <div class='row'>
        <div class='col-lg-6 form-group'>
          <label class="control-label" for="camera-vendor">Camera Vendor</label>
          <select id="camera-vendor" name="camera-vendor" readonly="readonly" class="form-control makeEditable">
            <option selected="selected" value="-1">-- select model --</option>
            <% @vendors.each_with_index  do |v, index| -%>
                <option value="<%= v.exid -%>" <% if v.exid == @camera['vendor'] %>selected="selected"<% end %>>
                  <%= v.name -%>
                </option>
            <% end %>
          </select>
        </div>

        <div class='col-lg-6 form-group'>
          <%# @camera['model'] %>
          <label class="control-label" for="camera-model">Camera Model</label>
          <% @vendors.each do |v| -%>
              <select id="camera-model<%= v.exid -%>" name="camera-model" readonly="readonly" class="form-control  <% if v.exid != @camera['vendor'] %>hidden<% end %>">
                <% v.vendor_models.each_with_index  do |m, index| -%>
                    <% if index == 0 %>
                        <option value="<%= m.name -%>" ><%= m.name -%></option>
                    <% else %>
                        <option value="<%= m.name -%>" <% if m.name == @camera['model'] %>selected="selected"<% end %> ><%= m.name -%></option>
                    <% end %>
                <% end -%>
              </select>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class='col-lg-8 form-group'>
          <label class="control-label" for="local-ip">Local IP</label>
          <input id="local-ip" name="local-ip" placeholder="not yet provided" class="form-control makeEditable" type="text" readonly="readonly" data-validation="custom" data-validation-regexp="^[a-zA-Z0-9._/-]{2,100}$"  data-validation-error-msg="The Port should be a 2-4 digit number." data-validation-optional="true" value="<%= @camera['internal_host'] %>">
        </div>
      </div>
      <div class="row">
        <div class='col-lg-6 form-group'>
          <label class="control-label" for="local-http">Local HTTP Port</label>
          <input id="local-http" name="local-http" placeholder="not yet provided" class="form-control makeEditable" readonly="readonly" type="text" data-validation="custom" data-validation-regexp="^[0-9]{2,5}$"  data-validation-error-msg="The Port should be a 2-5 digit number." data-validation-optional="true" value="<%= @camera['internal_http_port'] %>">
        </div>
        <div class='col-lg-6 form-group'>
          <label class="control-label" for="local-rtsp">Local RTSP Port</label>
          <input id="local-rtsp" name="local-rtsp" placeholder="not yet provided" class="form-control makeEditable" readonly="readonly" type="text" data-validation="custom" data-validation-regexp="^[0-9]{2,5}$"  data-validation-error-msg="The Port should be a 2-5 digit number." data-validation-optional="true" value="<%= @camera['internal_rtsp_port'] %>">
        </div>
      </div>


    </div>
  </div>
</div>
</fieldset>
  <!-- END SECTION 3 -->


<!-- SAVE BUTTON -->
  <fieldset>
    <div class="row save-settings">
      <div class='col-lg-12'>
        <div class='col-lg-3 form-group'>
          <label class="control-label" for="add-button"></label>
          <button id="add-button" name="add-button" class="alert btn btn-primary">Save Settings</button>
        </div>
      </div>
    </div>
  </fieldset>


  <!-- SUPPORT -->
  <fieldset>
  <div class="row add-footer">
    <div class='col-lg-10 support'>
      <h5>Still Can't See Your Camera?</h5>
      <p>If your still having trouble getting your camera connected you can reach out for some support.</p>
      <ul>
        <li>Visit our <a href="http://www.evercam.io/help" target="_blank">Help Pages</a></li>
        <li>Or email us <a href="#" target="_blank">Support@evercam.io</a></li>
      </ul>
    </div>
  </div>
</fieldset>

</form>

<script type="text/javascript">
    $(window.Evercam.Settings.initializeTab);
    $(function(){
        $(".makeNonEditable").click(function(){
            $('input:text').attr("readonly", "readonly");
        });
        $(".makeEditable").click(function(){
            $('input:text').removeAttr("readonly");
        });

        // Replace Broken Image
        $('img').error(function(){
            $(this).attr('src', 'https://www.evercam.io/img/connect.png ');
        });

    });

    <% unless flash[:message].blank? %>
    bootbox.alert("<%= flash[:message] %>", function() {
        console.log("Alert Callback");
    });
    <% end %>

</script>