<%= content_for(:title, "Evercam: Snapshot Navigator Widget") %>

<div id="snapshot-widgets" class="page-container">
  <!-- BEGIN SIDEBAR -->
  <%= render :partial => "sidebar/sidebar" %>
  <!-- END SIDEBAR -->
  <div class="page-content-wrapper">
    <div class="page-content">

      <!-- Slidey sidey -->
      <div class="cbp-spmenu-push">
        <nav class="cbp-spmenu cbp-spmenu-open cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
          <h3>Menu</h3>
          <ul>
            <li>
              <a href="/dev">API Docs</a>
            </li>

            <div class="dev-menu-title">
              Widgets
            </div>

            <li class="widgets-menu">
              <a href="/widgets-new">Live View Widget</a>
            </li>

            <li class="widgets-menu">
              <a href="/widgets-hikvision">Hikvision Widget</a>
            </li>

            <li class="widgets-menu">
              <a class="active" href="/widgets-snapshot-navigator">Snapshot Navigator Widget</a>
            </li>
          </ul>
        </nav>
      </div>

      <!--main content start-->

      <div class="portlet light bg-inverse">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-play"></i>Create a Snapshot Navigator Widget
          </div>
        </div>

        <div class="portlet-body">
          <div class="row">
            <div id="snapshot-widget" class="widget-config">
              <% if @cameras.empty? %>
                <div class="col-md-5">
                  <p class="note note-info">No public cameras found. Only public cameras can be used to make a widget. You can make a camera public from the sharing tab of camera or add a public camera from the list of public cameras.</p>
                </div>
              <% else %>
                <div class="col-md-5">
                  <form id="widget-new" role="form" method="post" class="center-block">
                    <div class="widget-input form-group">
                      <div class="my-row">
                        <label class="col-md-5 control-label" for="widget-camera">Select Camera</label>
                      </div>
                      <div class="input-group col-md-7">
                        <select id="widget-camera" name="widget-camera" class="form-control is-required">
                          <% @cameras.each do |camera| %>
                            <option class="" value="<%= camera['id'] %>">
                              <%= camera['name'] %> <% unless camera['is_online'] %>(Offline)<% end %> <% unless camera['is_public'] %>(Private)<% end %>
                            </option>
                          <% end %>
                        </select>
                      </div>
                    </div>

                    <div class="form-group widget-input margin-top-20">
                      <div class="my-row">
                        <label class="col-md-5 control-label" for="widget-authenticate">Pre-Authenticate<span style="visibility: hidden;" class="true switch grey">*</span></label>
                      </div>
                      <div class="input-group col-md-7">
                        <select id="widget-authenticate" name="widget-authenticate" class="form-control is-required" onchange="admSelectCheck(this);">
                          <option class="" value="false">No</option>
                          <option class="" value="true">Yes</option>
                        </select>
                      </div>
                    </div>

                    <div class="true switch help-block margin-top-20" style="visibility: hidden;">
                      * Warning. Choosing 'Yes' will include your API ID and Key. This should only be done on private sites. We recommend you do not choose this option for public sites.
                    </div>
                  </form>

                </div>
                <div class="col-md-7">
                  <div class="row widget-code">
                    <div class="col-md-12">
                      <h5>Embed this code on your webpage:</h5>
                      <textarea id="code" class="pretty-code col-md-12" type="text" readonly onclick="javascript:this.select();">
                      </textarea>
                    </div>
                  </div>

                </div>

                <div class="clear-f"></div>

                <div class="col-md-12">
                  <div class="line-break"></div>
                  <div class="placeholder"></div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!--main content end-->
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    initLocalStorage();

    $("#widget-camera").bind("change", initLocalStorage);

  });

  function initLocalStorage() {
    var url = window.location.origin;
    var camera = $("#widget-camera").val();
    var camera_name = $('#widget-camera option:selected').text()
    var pre_auth = $('#widget-authenticate').val();
    var is_private = camera_name.indexOf('(Private)') == -1 ? 'false' : 'true';
    var api_credentials = '';

    if(pre_auth == 'true') {
      api_credentials = "&amp;api_id&#61;<%= current_user.api_id -%>&amp;api_key&#61;<%= current_user.api_key -%>";
    }

    var embedCode = '&lt;div evercam&#61;"snapshot-navigator"&gt;&lt;&#47;div&gt;'+
        '&lt;script type&#61;"text/javascript" src&#61;"' + url + '&#47;snapshot.navigator.js?camera&#61;' + camera+'&amp;private&#61;'+is_private + api_credentials + '"&gt;&lt;&#47;script&gt;';
    $('#code').html(embedCode);

    $(".placeholder").empty();
    var iframe =
        jQuery("<iframe />")
            .css({ "overflow-y": "hidden", "overflow-x": "scroll", "width": "100%", "height": "640px" })
            .attr({ "src": '/snapshot.navigator.widget?camera='+camera, "frameborder": "0" })
            .appendTo(".placeholder");
  }

  function admSelectCheck(nameSelect){
    if(nameSelect.value){
      var preElements = document.getElementsByClassName('switch');
      for(var i=0; i < preElements.length; i++){
        //if the class contains the selected value, then show it, else hide it
        preElements[i].style.visibility = preElements[i].classList.contains(nameSelect.value)?'visible':'hidden';
      }
    }
    initLocalStorage();
  }
</script>