<%= content_for(:title, "Evercam: Live View Widget") %>
<div id="live-widget" class="page-container">
  <!-- BEGIN SIDEBAR -->
  <%= render :partial => "sidebar/sidebar" %>
  <!-- END SIDEBAR -->
  <div class="page-content-wrapper">
    <div class="page-content">

      <!-- Slidey sidey -->
      <div class="cbp-spmenu-push">
        <nav class="cbp-spmenu cbp-spmenu-open cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
          <h3>Menu</h3>
          <ul>
            <li>
              <a href="/dev">API Docs</a>
            </li>

              <div class="dev-menu-title">
                Widgets
              </div>

            <li class="widgets-menu">
              <a class="active" href="/widgets-new">Live View Widget</a>
            </li>

            <li class="widgets-menu">
              <a href="/widgets-hikvision">Hikvision Widget</a>
            </li>
            <li class="widgets-menu">
              <a href="/widgets-snapshot-navigator">Snapshot Navigator Widget</a>
            </li>
          </ul>
        </nav>
      </div>

      <!--main content start-->

      <div class="portlet light bg-inverse">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-play"></i>Create a Live View Widget
          </div>
        </div>

        <div class="portlet-body">
          <div class="row">
            <div id="live-widget" class="widget-config">
              <% if @cameras.empty? %>
                <div class="col-md-5">
                  <p class="note note-info">No public cameras found. Only public cameras can be used to make a widget. You can make a camera public from the sharing tab of camera or add a public camera from the list of public cameras.</p>
                </div>
              <% else %>
                <div class="col-md-5">

                  <form id="widget-new" role="form" method="post" class="center-block">


                    <div class="widget-input form-group">
                      <div class="my-row">
                        <label class="col-md-5 control-label" for="widget-camera">Select Camera</label>
                      </div>
                      <div class="input-group col-md-7">
                        <select id="widget-camera" name="widget-camera" class="form-control is-required">
                          <% @cameras.each do |camera| %>
                            <option class="caret" value="<%= camera['id'] %>">
                              <%= camera['name'] %> <% unless camera['is_online'] %>(Offline)<% end %> <% unless camera['is_public'] %>(Private)<% end %>
                            </option>
                          <% end %>
                        </select>
                      </div>
                    </div>

                    <div class="form-group widget-input">
                      <div class="my-row">
                        <label class="col-md-5 control-label" for="widget-refresh-rate">Image Refresh Rate </label>
                      </div>
                      <div class="input-group col-md-7">
                        <input type="text" pattern="\d*" value="1" class="form-control input-inline" min="0.05" maxlength="3" max="100" id="widget-refresh-rate" name="widget-refresh-rate" placeholder="1" data-validation="number" data-validation-allowing="range[0.05;100],float" data-validation-error-msg="Refresh Rate must be between 0.05 and 100 seconds">
                        <span class="input-group-addon">seconds</span>
                      </div>
                    </div>

                    <div class="form-group widget-input margin-top-20">
                      <div class="my-row">
                        <label class="col-md-5 control-label" for="widget-camera-width">Width of Image to Display</label>
                      </div>
                      <div class="input-group col-md-7">
                        <input type="text" pattern="\d*" value="400" class="form-control" id="widget-camera-width" name="widget-camera-width" placeholder="600" min="200" max="1600" maxlength="4" data-validation="number" data-validation-allowing="range[200;1600],float" data-validation-error-msg="Image Width must be between 200 and 1600 pixels">
                        <span class="input-group-addon">px</span>
                      </div>
                    </div>

                    <div class="form-group widget-input margin-top-20">
                      <div class="my-row">
                        <label class="col-md-5 control-label" for="widget-authenticate">Pre-Authenticate<span style="visibility: hidden;" class="true switch grey">*</span></label>
                      </div>
                      <div class="input-group col-md-7">
                        <select id="widget-authenticate" name="widget-authenticate" class="form-control is-required" onchange="admSelectCheck(this);">
                          <option class="caret" value="false">No</option>
                          <option class="caret" value="true">Yes</option>
                        </select>
                      </div>
                    </div>
                  </form>
                  <div class="margin-top-30 row widget-code">
                    <div class="col-md-12">
                      <h5>Embed this code on your webpage:</h5>
                      <textarea id="code" class="pretty-code col-md-12" type="text">
                      </textarea>

                    </div>
                  </div>
                  <div class="true switch help-block margin-top-20" style="visibility: hidden;">
                    * Warning. Choosing 'Yes' will include your API ID and Key. This should only be done on private sites. We recommend you do not choose this option for public sites.
                  </div>
                </div>


                <div class="col-md-7">
                  <div class="preview">
                  </div>
                </div>
              <% end %>
            </div>
        </div>
      </div>

      <!--main content end-->
    </div>
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
  <script>
    $(document).ready(function() {
      /** TODO - fix and move to widgets.js.coffee
       var copy_sel = $('.code-block a.code-copy');

       // Disables other default handlers on click (avoid issues)
       copy_sel.on('click', function(e) {
      e.preventDefault();
    });

       // Apply clipboard click event
       copy_sel.clipboard({
      path: '/path/to/flashes/jquery.clipboard.swf',

      copy: function() {
        var this_sel = $(this);

        // Hide "Copy" and show "Copied, copy again?" message in link
        this_sel.find('.code-copy-first').hide();
        this_sel.find('.code-copy-done').show();

        // Return text in closest element (useful when you have multiple boxes that can be copied)
        return this_sel.closest('.code-block').text();
      }
    });*/

      jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        QuickSidebar.init() // init quick sidebar
        window.api_credentials = { api_id: '<%= current_user.api_id %>', api_key: '<%= current_user.api_key %>' }
      });

      $.validate();
    });

    function admSelectCheck(nameSelect){
      if(nameSelect.value){
        var preElements = document.getElementsByClassName('switch');
        for(var i=0; i < preElements.length; i++){
          //if the class contains the selected value, then show it, else hide it
          preElements[i].style.visibility = preElements[i].classList.contains(nameSelect.value)?'visible':'hidden';
        }
      }
    }
    window.onload = function (){
      document.getElementById('widget-authenticate').onchange();
    }
  </script>

<%= javascript_include_tag "widgets" %>
