<div class="page-container" id="public-index">
  <!-- sidebar menu start-->
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">

      <ul id="nav-accordion" class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
        <!--<li class="sidebar-toggler-wrapper">
          <div class="sidebar-toggler">
          </div>
        </li>-->
        <li>
          <a href="javascript:;" class="active">
            <span class="title">Developer</span>
            <span class="caret"></span>

          </a>
          <ul class="sub-menu">
            <li class="active">
              <a href="/dev">
                API</a>
            </li>
            <li>
              <a href="/widgets">
                Widgets</a>
            </li>
          </ul>
        </li>
        <li>
        <a href="/">My Cameras</a>
        </li>
        <li>
          <a class="public-cam" href="/publiccam">Public Cameras</a>
        </li>

        <li>
          <a href="/cameras/new">Add Camera</a>
        </li>

      </ul>
    </div>
  </div>
  <!-- sidebar menu end-->
  <div class="page-content-wrapper">
    <div class="page-content">
<!--main content start-->




          <form role="form" id="apikeys" class="form-horizontal center-block">

              <div class="col-md-2">

              <strong>API ID</strong>
                <%= current_user.api_id -%>

              </div>
              <div class="col-md-4">

                <strong>API Key</strong>
                <%= current_user.api_key -%>

                </div>
              <div class="col-md-4">
             <strong>Demo Camera ID</strong>

                  <%= current_user.cameras.first.exid unless current_user.cameras.first.nil? %>

                </div>

          </form>


              <%= stylesheet_link_tag "swagger"%>
              <%= javascript_include_tag "swagger"%>
          <script type="text/javascript">
              $(function () {

                  window.swaggerUi = new SwaggerUi({
                      url: "<%= EVERCAM_API %>swagger.json",
                      dom_id: "swagger-ui-container",
                      supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
                      onComplete: function(swaggerApi, swaggerUi){
                          window.authorizations.add("api_id", new ApiKeyAuthorization("api_id", "<%= current_user.api_id unless current_user.nil? %>", "query"));
                          window.authorizations.add("api_key", new ApiKeyAuthorization("api_key", "<%= current_user.api_key unless current_user.nil? %>", "query"));
                          $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
                          $('#resources h2').each( function() { $(this).next('ul').find('li:last').remove(); } );
                          $("a:contains('/cameras/{id}/snapshot.jpg.json')").text('/cameras/{id}/snapshot.jpg');
                      },
                      onFailure: function(data) {
                      },
                      docExpansion: "list"
                  });

                  window.swaggerUi.load();

              });
          </script>



          <div class="exp-swagger">
            <div id="swagger">
              <div id="swagger-ui-container" class="swagger-ui-wrap">
                &nbsp;
              </div>
            </div>
          </div>



</div>
</div>
</div>
<script>
  $(function() {

    if ($.fn.dcAccordion) {
      $('#nav-accordion').dcAccordion({
        eventType: 'click',
        autoClose: false,
        saveState: true,
        disableLink: true,
        speed: 'slow',
        showCount: false,
        autoExpand: true,
        classExpand: 'dcjq-current-parent'
      });
    }

  });
</script>