<div class="camera-preview">
  <a href='#' onclick='location.reload(true); return false;' class="refresh" id="live-refresh"><span class="glyphicon glyphicon-refresh">  </span>  Refresh</a>
  <!--remove id="live-refresh" from above temporarily-->
  <% if @camera['is_online'] %>
    <div id="live-widget" class="widget-config">
      <div class="col-md-7">
        <div id="info-preview" class="preview">
        </div>
      </div>

        <div class="col-md-5">

          <form id="widget-new" role="form" method="post" class="center-block">


            <div class="widget-input form-group" style="display: none">
              <div class="my-row">
                <label class="col-md-5 control-label" for="widget-camera">Select Camera</label>
              </div>
              <div class="input-group col-md-7">
                <input value="<%= @camera['id'] %>" id="widget-camera" name="widget-camera" class="form-control is-required">
              </div>
            </div>

            <div class="form-group widget-input" style="display: none">
              <div class="my-row">
                <label class="col-md-5 control-label" for="widget-refresh-rate">Image Refresh Rate </label>
              </div>
              <div class="input-group col-md-7">
                <input type="text" pattern="\d*" value="1" class="form-control input-inline" min="0.05" maxlength="3" max="100" id="widget-refresh-rate" name="widget-refresh-rate" placeholder="1" data-validation="number" data-validation-allowing="range[0.05;100],float" data-validation-error-msg="Refresh Rate must be between 0.05 and 100 seconds">
                <span class="input-group-addon">seconds</span>
              </div>
            </div>

            <!--<div class="form-group widget-input margin-top-20">
              <div class="my-row">
                <label class="col-md-5 control-label" for="widget-camera-width">Width of Image to Display</label>
              </div>
              <div class="input-group col-md-7">
                <input type="text" pattern="\d*" value="400" class="form-control" id="widget-camera-width" name="widget-camera-width" placeholder="600" min="200" max="1600" maxlength="4" data-validation="number" data-validation-allowing="range[200;1600],float" data-validation-error-msg="Image Width must be between 200 and 1600 pixels">
                <span class="input-group-addon">px</span>
              </div>
            </div>

            <div class="form-group widget-input margin-top-20">
              <div class="my-row">
                <label class="col-md-5 control-label" for="widget-authenticate">Pre-Authenticate<span style="visibility: hidden;" class="true switch grey">*</span></label>
              </div>
              <div class="input-group col-md-7">
                <select id="widget-authenticate" name="widget-authenticate" class="form-control is-required" onchange="admSelectCheck(this);">
                  <option class="caret" value="false">No</option>
                  <option class="caret" value="true">Yes</option>
                </select>
              </div>
            </div>-->
          </form>
          <!--<div class="margin-top-30 row widget-code">
            <div class="col-md-12">
              <h5>Embed this code on your webpage:</h5>
              <textarea id="code" class="pretty-code col-md-12" type="text">
              </textarea>

            </div>
          </div>-->
          <!--<div class="true switch help-block margin-top-20" style="visibility: hidden;">
            * Warning. Choosing 'Yes' will include your API ID and Key. This should only be done on private sites. We recommend you do not choose this option for public sites.
          </div>-->
        </div>




    </div>
  <% else %>
    <div class="tint"><%= preview(@camera, true) %></div>
  <% end %>
</div>





<script type="text/javascript">
  $(window.Evercam.Live.initializeTab);

  (function(window) {

    "use strict";
// Localize jQuery variable
    var jQuery,
        url = '<%= EVERCAM_API %>cameras/<%= params[:camera] %>/snapshot.jpg',
        container,
        refresh = 1000*<%= params[:refresh] %>,
        priv = <%= params[:private] %>,
        iframeStyle = "width: 100%; height:100%;",
        imgStyle = "width: 100%;";

    function updateImage() {
      if (refresh > 0) {
        window.ec_watcher = setTimeout(updateImage, refresh);
      }
      jQuery("<img style='" + imgStyle + "'/>").attr('src', url + '?' + new Date().getTime())
          .load(function() {
            if (!this.complete || this.naturalWidth === undefined || this.naturalWidth === 0) {
              console.log('broken image!');
            } else {
              container.empty().append(jQuery(this))
              console.log('updated');
            }
          });
    }

    function handleVisibilityChange() {
      if (document.hidden) {
        clearTimeout(window.ec_watcher);
        console.log('stop');
      } else  {
        updateImage();
        console.log('start');
      }
    }

    /******** Our main function ********/
    function main() {
      jQuery(document).ready(function($) {
        /******* Load HTML *******/
        container = $('#ec-container');
        if (priv) {
          container.html('<iframe id="ec-frame" style="' + iframeStyle + '" src="<%= request.base_url %>/live.view.private.widget?camera=<%= params[:camera] %>&refresh=<%= params[:refresh] %>&api_id=<%= params[:api_id] %>&api_key=<%= params[:api_key] %>" frameborder="0" scrolling="no"/>');
          $('#ec-frame').load(function() {
            console.log($('#ec-frame').attr('src'));
          });
        } else {
          container.html("<img/>");
          updateImage();
          window.ec_vis_handler = handleVisibilityChange;
          document.addEventListener("visibilitychange", handleVisibilityChange, false);
        }
      });
    }

    /******** Called once jQuery has loaded ******/
    function scriptLoadHandler() {
      // Restore $ and window.jQuery to their previous values and store the
      // new jQuery in our local jQuery variable
      jQuery = window.jQuery.noConflict(true);
      // Call our main function
      main();
    }

    /******** Load jQuery if not present *********/
    if (window.jQuery === undefined || window.jQuery.fn.jquery !== '2.1.1') {
      var script_tag = document.createElement('script');
      script_tag.setAttribute("type","text/javascript");
      script_tag.setAttribute("src",
          "https://code.jquery.com/jquery-2.1.1.min.js");
      if (script_tag.readyState) {
        script_tag.onreadystatechange = function () { // For old versions of IE
          if (this.readyState === 'complete' || this.readyState === 'loaded') {
            scriptLoadHandler();
          }
        };
      } else {
        script_tag.onload = scriptLoadHandler;
      }
      // Try to find the head, otherwise default to the documentElement
      (document.getElementsByTagName("head")[0] || document.documentElement).appendChild(script_tag);
    } else {
      // The jQuery version on the window is the one we want to use
      jQuery = window.jQuery;
      main();
    }

  }(window));

  $(document).ready(function() {

    jQuery(document).ready(function() {
      Metronic.init(); // init metronic core components
      Layout.init(); // init current layout
      QuickSidebar.init() // init quick sidebar
      window.api_credentials = { api_id: '<%= current_user.api_id %>', api_key: '<%= current_user.api_key %>' }
    });

    $.validate();
  });

  function admSelectCheck(nameSelect){
    if(nameSelect.value){
      var preElements = document.getElementsByClassName('switch');
      for(var i=0; i < preElements.length; i++){
        //if the class contains the selected value, then show it, else hide it
        preElements[i].style.visibility = preElements[i].classList.contains(nameSelect.value)?'visible':'hidden';
      }
    }
  }
  window.onload = function (){
    document.getElementById('widget-authenticate').onchange();
  }

</script>

