  <% if @camera['is_online'] %>
  <div class="camera-preview">
    <div>
      <div class="row">
        <div class="col-lg-8 col-md-12">
          <div id="fullscreen" class="html5-fullscreen-api">
            <div class="fullscreen-expand"><i class="icon-size-fullscreen"></i></div>
            <img id="myImage" src="<%= EVERCAM_API %>cameras/<%= @camera['id'] %>/snapshot.jpg?api_id=<%= current_user.api_id %>&api_key=<%= current_user.api_key %>" />
            <div class="btn-play-pause hide"><i class="icon-control-pause"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-5">
      <div class="tint"><%= preview(@camera, true) %></div>
      <p class="margin-top-20"><span class="red">Camera offline</span> - we can't get a live feed at the moment</p>
    </div>
  </div>
<% end %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/1.0.4/screenfull.min.js"></script>
<script type="text/javascript">
  <% if @camera['is_online'] %>
  var int_time, is_pause = false;
  (function(){
    var el = document.getElementById('myImage');
    function loadImage () {
      var img = new Image()
          , src = '<%= EVERCAM_API %>cameras/<%= @camera["id"] %>/snapshot.jpg?api_id=<%=  current_user.api_id %>&api_key=<%= current_user.api_key %>&rand=' + new Date().getTime();;
      img.onload = function() {
        if (!! el.parent)
          el.parent.replaceChild(img, el)
        else
          el.src = src;
        $(".btn-play-pause").removeClass("hide");
      }
      img.src = src;
    }

    $('a[data-toggle="tab"]').on("click",function(){
      var tabName = $(this).html();
      if (!is_pause && tabName == "Live View") {
        int_time = setInterval(loadImage, 1000);
      }
      else {
        clearInterval(int_time);
      }
    });
    $(".btn-play-pause").on("click",function(){
      if(is_pause){
        int_time = setInterval(loadImage, 1000);
        is_pause = false;
        $(this).children().removeClass("icon-control-play");
        $(this).children().addClass("icon-control-pause");
      }
      else {
        clearInterval(int_time);
        is_pause = true;
        $(this).children().removeClass("icon-control-pause");
        $(this).children().addClass("icon-control-play");
      }
    });
  }());
  <% end %>

  $('#myImage').click(function () {
    screenfull.toggle(this);
  });


  var sPathToDefaultImg = '/assets/offline.svg';
  var fnValidateImage = function(oImg) {
    img = new Image();
    img.onerror = function() {
      oImg.src = sPathToDefaultImg;
      $(".btn-play-pause").addClass("hide");
    };
    img.src = oImg.src;
  };
  var aImg = document.getElementsByTagName('IMG');
  var i = aImg.length;
  while (--i !== -1) {
    fnValidateImage(aImg[i]);
  }

</script>
