<% if @camera['is_online'] %>
  <div class="camera-preview">
    <div>
      <div class="row">
        <div class="col-md-6">
          <img id="myImage" style="width: 100%" src="<%= EVERCAM_API %>cameras/<%= @camera['id'] %>/snapshot.jpg?api_id=<%= current_user.api_id %>&api_key=<%= current_user.api_key %>" />
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="col-md-5">
    <div class="tint"> <%= preview(@camera, true) %></div>
    <p class="margin-top-20"><span class="red">Camera offline</span> - we can't get a live feed at the moment</p>
  </div>
<% end %>

<script type="text/javascript">
  <% if @camera['is_online'] %>
  $(window.Evercam.Live.initializeTab);
  var int_time = setInterval(function() {
    var myImageElement = document.getElementById('myImage');
    myImageElement.src = '<%= EVERCAM_API %>cameras/<%= @camera["id"] %>/snapshot.jpg?api_id=<%= current_user.api_id %>&api_key=<%= current_user.api_key %>&rand=' + new Date().getTime();
  }, 1000);
  <% end %>
</script>
