<div class="camera-preview">
    <% if @camera['is_online'] %>
      <img id="myImage" src="https://api.evercam.io/v1/cameras/<%= @camera['id'] %>/snapshot.jpg?api_id=<%= current_user.api_id -%>&api_key=<%= current_user.api_key -%>">
      <% else %>
      <%= preview(camera) %>
    <% end %>
</div>

<script type="text/javascript">
  $(window.Evercam.Live.initializeTab);
  jQuery(document).ready(function() {
    window.api_credentials = { api_id: '<%= current_user.api_id %>', api_key: '<%= current_user.api_key %>' }
  });
  setInterval(function() {
    var myImageElement = document.getElementById('myImage');
    myImageElement.src = 'https://api.evercam.io/v1/cameras/<%= @camera["id"] %>/snapshot.jpg?api_id=<%= current_user.api_id -%>&api_key=<%= current_user.api_key -%>?rand=' + new Date().getTime();
  }, 1000);
</script>
