<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
          Evercam Vendors & Models
        </h3>
        <ul class="page-breadcrumb breadcrumb">
          <li>
            <i class="fa fa-home"></i>
            <a href="/admin">Home</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li>
            <a href="#">Vendors & Models</a>
          </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
      </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE SUMMARY -->
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3">
        <div class="portlet sale-summary">
          <div class="portlet-title">
            <div class="caption">
              Summary
            </div>
            <div class="tools">
              <a class="reload" href="javascript:;">
              </a>
            </div>
          </div>
          <div class="portlet-body">
            <ul class="list-unstyled">
              <li>
                <span class="sale-info">
                  Total Vendors
                  <i class="fa fa-img-up"></i>
                </span>
                <span class="sale-num">
                  <%= @total_vendors %>
                </span>
              </li>
              <li>
                <span class="sale-info">
                  Total Cameras
                  <i class="fa fa-img-down"></i>
                </span>
                <span class="sale-num">
                  <%= @total_cameras %>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- END PAGE SUMMARY -->
    <!-- BEGIN PAGE CONTENT-->
    <div id="divRow" class="row hide">
      <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover" id="datatable_vendor_models">
          <thead>
          <tr role="row" class="heading">
            <th name="order_vendor" class="sorting">Vendor</th>
            <th name="order_model" class="sorting">Model</th>
            <th name="order_snapshot_url" class="sorting">Snapshot</th>
            <th name="order_thumbnail" class="sorting">Thumbnail</th>
          </tr>
          </thead>
          <tbody>
          <% @dash_vendors_models.each do |dash_vendor_model| %>
              <tr>
                <td><%= dash_vendor_model.vendor.name %></td>
                <td><%= link_to dash_vendor_model.name, admin_dash_vendor_model_path(dash_vendor_model.id) %></td>
                <td><%= dash_vendor_model.jpg_url %></td>
                <td></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- END PAGE CONTENT-->
  </div>
</div>
<!-- END CONTENT -->

<script>
    $("#datatable_vendor_models").dataTable({
        aaSorting: [0, "asc"],
        aLengthMenu: [
            [25, 50, 100, 200, -1],
            [25, 50, 100, 200, "All"]
        ],
        iDisplayLength: 50
    });
    $("#divRow").removeClass('hide');
    //$("#datatable_vendor_models").fnSort( [ [0,'asc'] ] )});
</script>