<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
          Model
        </h3>
        <ul class="page-breadcrumb breadcrumb">
          <li>
            <i class="fa fa-home"></i>
            <a href="/admin">Home</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li>
            <a href="/admin/models">Vendors & Models</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li>
            <a href="#">Model</a>
          </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
      </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE SUMMARY -->
    <div class="row">
      <div class="col-md-6 profile-info">
        <div class="">
          <h1><%= @dash_vendor_model.name %></h1>
        </div>
      </div>
      <div class="col-md-2">
        <img class="img-responsive" src="/assets/default_thumbnail.jpg"/>
      </div>
      <div class="col-md-4">
        <div class="portlet sale-summary">
          <div class="portlet-title">
            <div class="caption">
              Summary
            </div>
            <div class="tools">
              <a class="reload" href="javascript:;">
              </a>
            </div>
          </div>
          <div class="portlet-body">
            <ul class="list-unstyled">
              <li>
                <span class="sale-info">
                  Total Cameras in Evercam
                  <i class="fa fa-img-down"></i>
                </span>
                <span class="sale-num">
                  <%= @total_cameras.count %>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- END PAGE SUMMARY -->
    <form action="" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <!-- BEGIN PAGE CONTENT-->
      <div class="row">
        <div class="col-md-12">

          <div class="tabbable tabbable-custom tabbable-custom-profile">
            <ul class="nav nav-tabs">
              <li class="active">
                <a data-toggle="tab" href="#tab_1_11">Model Information</a>
              </li>
            </ul>
            <div class="pull-right btn-menu">
              <input type="hidden" name="_method" value="put"/>
              <a href="javascript:;" id="edit-model" class="makeEditable edit btn grey">Edit</a>
              <button id="vendor_models" name="vendor_models" class="edit btn grey hide">Save</button>&nbsp;
              <a href="javascript:;" id="cancel-save-model" class="makeNonEditable hide edit btn grey">Cancel</a>
            </div>
            <div class="tab-content">
              <div class="tab-pane active portlet-body" id="tab_1_11">
                <table class="table table-striped table-bordered table-advance table-hover">
                  <tbody>
                  <tr>
                    <td>Vendor</td>
                    <td><input id="vendor_name" maxlength="150" name="vendor_name" placeholder="" class="non-editable form-control" readonly="readonly" type="text"
                               value="<%= @dash_vendor_model.vendor.name %>"></td>
                  </tr>
                  <tr>
                    <td>Model</td>
                    <td><input id="name" maxlength="150" name="name" placeholder="" class="non-editable form-control" readonly="readonly" type="text"
                               value="<%= @dash_vendor_model.name %>"></td>
                  </tr>
                  <tr>
                    <td>Snapshot</td>
                    <td><input id="jpg_url" maxlength="150" name="jpg_url" placeholder="" class="non-editable form-control" readonly="readonly" type="text"
                               value="<%= @dash_vendor_model.jpg_url %>"></td>
                  </tr>
                  </tbody>
                </table>
              </div><!--tab-pane-->
            </div>
          </div>
        </div>
      </div>
      <!-- END PAGE CONTENT-->
      <!-- Hidden fields -->
      <input type="hidden" name="vendor_id" value="<%= @dash_vendor_model.vendor_id %>">
    </form>
  </div>
</div>
<!-- END CONTENT -->

<script type="text/javascript">
  $(function(){
    // Make Input Fields Non Editable & Editable
    $(".makeNonEditable").click(function(){
      $('input:text').attr("readonly", "readonly");
      $('input:text').addClass("non-editable");

      $("#vendor_models").addClass("hide");
      $("#cancel-save-model").addClass("hide");
      $("#edit-model").removeClass("hide");
    });
    $(".makeEditable").click(function(){
      $('input:text').removeAttr("readonly");
      $('input:text').removeClass("non-editable");

      $("#vendor_models").removeClass("hide");
      $("#cancel-save-model").removeClass("hide");
      $("#edit-model").addClass("hide");
    });

    // Notifications
    Notification.init(".bb-alert");
    <% if flash[:message] %>
    Notification.show('<%= flash[:message] %>');
    <% end %>
  });


</script>