<section class="cart">
  <h3>Cart</h3>

    <% unless cart_empty? %>
      <% sub_totle = 0 %>
    <table class="table">
         <% session[:cart].each do |item| %>
        <tr>
            <td class="col-md-2"><%= link_to 'remove', line_item_path(item.id), method: :delete, remote: true, class: 'remove' %></td>
            <td class="col-md-4"><%= item.name %></td>
            <td class="col-md-2"><%= item.quantity %></td>
            <td class="col-md-2"><%= cents_to_currency item.price %></td>
        </tr>
      <% sub_totle = sub_totle + item.price %>

      <% end %>
    </table>
        <div class="sub-container">
          <p><span class="sub-total">Sub Total:  </span>
          <span class="pull-right"> <%= cents_to_currency sub_totle %></span>
          </p>
        </div>

    <% else %>
      <p>Your cart is empty.</p>
    <% end %>

</section>