<section class="cart">
  <% unless cart_empty? %>
    <% sub_totle = 0 %>
    <% add_ons_total = 0 %>
    <table class="table">
      <tr>
        <th class="col-md-2">
          Product
        </th>
        <th class="col-md-2">
          Qty.
        </th>
        <th class="col-md-2 text-right">
          Price
        </th>

      </tr>
      <% session[:cart].each do |item| %>
        <tr>
          <td class="col-md-4"><%= item.name %> <small><%= link_to 'Remove', line_item_path(item.id), method: :delete, remote: true, class: 'padding-left-10' %></small></td>
          <td class="col-md-2"><%= item.quantity %></td>
          <td class="col-md-2 text-right"><%= cents_to_currency item.price %> </td>
        </tr>
        <% add_ons_total = add_ons_total + item.price if item.type.eql?("add_on") %>
        <% sub_totle = sub_totle + item.price %>
      <% end %>
    </table>
      <div class="sub-container text-right">
        <% if add_ons_in_cart? %>
          <!--<li>Add-ons Subtotal to Renewal: <%# cents_to_currency(@pro_rated_add_ons_charge) %></li>-->
          <p>
            <span class="sub-total">Add-ons Total: </span>
            <span class="pull-right"><%= cents_to_currency(add_ons_total) %></span>
          </p>
        <% end %>
        <p>
          <span class="sub-total">Total:  </span>
          <span class="pull-right"> <%= cents_to_currency sub_totle %></span>
        </p>
      </div>
      <% else %>
    <p class="text-right">Your cart is empty.</p>
  <% end %>
</section>