<table class="table margin-bottom-15">
  <tr>
    <th class="col-md-5">Description</th>
    <th class="col-md-2 text-center" data-container="body" data-toggle="tooltip" data-placement="top" title="Price per month depending whether your on a monthly or annual plan.">Monthly / Annual <i class="fa fa-question-circle grey"></i></th>
    <th class="col-md-2 text-center">Current</th>
    <th class="col-md-1 text-center">Change</th>
  </tr>
  <tr>
    <td>7 days recording</td>
    <td class="text-center">
      <%= cents_to_currency(@prices.seven_days_recording) %> / <%= cents_to_currency(@prices.seven_days_recording_annual / 12) %>
    </td>
    <td class="text-center">
      <%= @seven_days_recording %>
    </td>
    <td class="text-center">
      <a href="/line_items/7-days-recording?type=add-on" data-val="add-7-days-recording" class="remove-add-on" data-method="delete" rel="nofollow" data-remote="true">
        <i class="fa fa-minus blue"></i>
      </a>
      <input readonly id="add-7-days-recording-qty" type="text" value="<%= session[:cart].count {|i| i.product_id.eql?("7-days-recording") || i.product_id.eql?("7-days-recording-annual") } %>" class="add-on-text">
      <i data-val="add-7-days-recording" class="fa fa-plus blue create-add-ons"></i>
      <%= button_to '€100', line_item_add_on_path(type: 'add_on', product_id: '7-days-recording'), form_class: "hide", id: 'add-7-days-recording', remote: true, class: 'add-to-cart-link' %>
    </td>
  </tr>
  <tr>
    <td>30 days recording</td>
    <td class="text-center">
      <%= cents_to_currency(@prices.thirty_days_recording) %> / <%= cents_to_currency(@prices.thirty_days_recording_annual / 12) %>
    </td>
    <td class="text-center">
      <%= @thirty_days_recording %>
    </td>
    <td class="text-center">
      <a href="/line_items/30-days-recording?type=add-on" data-val="add-30-days-recording" class="remove-add-on" data-method="delete" rel="nofollow" data-remote="true">
        <i class="fa fa-minus blue"></i>
      </a>
      <input readonly id="add-30-days-recording-qty" type="text" value="<%= session[:cart].count {|i| i.product_id.eql?("30-days-recording") || i.product_id.eql?("30-days-recording-annual") } %>" class="add-on-text">
      <i data-val="add-30-days-recording" class="fa fa-plus blue create-add-ons"></i>
      <%= button_to '€200', line_item_add_on_path(type: 'add_on', product_id: '30-days-recording'), form_class: "hide", id: 'add-30-days-recording', remote: true, class: 'add-to-cart-link' %>
    </td>
  </tr>
  <tr>
    <td>90 days recording</td>
    <td class="text-center">
      <%= cents_to_currency(@prices.ninety_days_recording) %> / <%= cents_to_currency(@prices.ninety_days_recording_annual / 12) %>
    </td>
    <td class="text-center">
      <%= @ninety_days_recording %>
    </td>
    <td class="text-center">
      <a href="/line_items/90-days-recording?type=add-on" data-val="add-90-days-recording" class="remove-add-on" data-method="delete" rel="nofollow" data-remote="true">
        <i class="fa fa-minus blue"></i>
      </a>
      <input readonly id="add-90-days-recording-qty" type="text" value="<%= session[:cart].count {|i| i.product_id.eql?("90-days-recording") || i.product_id.eql?("90-days-recording-annual") } %>" class="add-on-text">
      <i data-val="add-90-days-recording" class="fa fa-plus blue create-add-ons"></i>
      <%= button_to '€250', line_item_add_on_path(type: 'add_on', product_id: '90-days-recording'), form_class: "hide", id: 'add-90-days-recording', remote: true, class: 'add-to-cart-link' %>
    </td>
  </tr>
</table>
<div id="cancelAddOnsModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="col-md-12">
          <% if @add_ons.present? %>
            <!-- Add-ons list -->
            <table id="user-add-ons-table" class="table margin-bottom-15">
              <tr>
                <th class="col-md-3">Add-ons</th>
                <th class="col-md-3">Next charge</th>
                <th class="col-md-3">Status</th>
              </tr>
              <% @add_ons.each do |add_on| -%>
                <% if add_on.exid.eql?('snapmail') || add_on.exid.eql?('snapmail-annual') %>
                  <tr class="add-snapmail-table user-add-ons-table" style="display: none;">
                    <td><%=  add_on.add_ons_name -%> <%= add_on.period -%>ly</td>
                    <td><%= add_on.add_ons_end_date.strftime('%d/%m/%Y') %></td>

                    <td><%= add_on.status ? 'Active' : 'Expired' %> <span class="cancel-add-on"><%= link_to 'cancel', delete_add_ons_path(current_user.username,add_on.id), method: :delete, class: 'delete-add-ons' %></span></td>
                  </tr>
                <% elsif add_on.exid.eql?('timelapse') || add_on.exid.eql?('timelapse-annual') %>
                  <tr class="add-timelapse-table user-add-ons-table" style="display: none;">
                    <td><%=  add_on.add_ons_name -%> <%= add_on.period -%>ly</td>
                    <td><%= add_on.add_ons_end_date.strftime('%d/%m/%Y') %></td>

                    <td><%= add_on.status ? 'Active' : 'Expired' %> <span class="cancel-add-on"><%= link_to 'cancel', delete_add_ons_path(current_user.username,add_on.id), method: :delete, class: 'delete-add-ons' %></span></td>
                  </tr>
                <% elsif add_on.exid.eql?('restream') || add_on.exid.eql?('restream-annual') %>
                  <tr class="add-restream-table user-add-ons-table" style="display: none;">
                    <td><%=  add_on.add_ons_name -%> <%= add_on.period -%>ly</td>
                    <td><%= add_on.add_ons_end_date.strftime('%d/%m/%Y') %></td>

                    <td><%= add_on.status ? 'Active' : 'Expired' %> <span class="cancel-add-on"><%= link_to 'cancel', delete_add_ons_path(current_user.username,add_on.id), method: :delete, class: 'delete-add-ons' %></span></td>
                  </tr>
                <% elsif add_on.exid.eql?('7-days-recording') || add_on.exid.eql?('7-days-recording-annual') %>
                  <tr class="add-7-days-recording-table user-add-ons-table" style="display: none;">
                    <td><%=  add_on.add_ons_name -%> <%= add_on.period -%>ly</td>
                    <td><%= add_on.add_ons_end_date.strftime('%d/%m/%Y') %></td>

                    <td><%= add_on.status ? 'Active' : 'Expired' %> <span class="cancel-add-on"><%= link_to 'cancel', delete_add_ons_path(current_user.username,add_on.id), method: :delete, class: 'delete-add-ons' %></span></td>
                  </tr>
                <% elsif add_on.exid.eql?('30-days-recording') || add_on.exid.eql?('30-days-recording-annual') %>
                  <tr class="add-30-days-recording-table user-add-ons-table" style="display: none;">
                    <td><%=  add_on.add_ons_name -%> <%= add_on.period -%>ly</td>
                    <td><%= add_on.add_ons_end_date.strftime('%d/%m/%Y') %></td>

                    <td><%= add_on.status ? 'Active' : 'Expired' %> <span class="cancel-add-on"><%= link_to 'cancel', delete_add_ons_path(current_user.username,add_on.id), method: :delete, class: 'delete-add-ons' %></span></td>
                  </tr>
                <% elsif add_on.exid.eql?('90-days-recording') || add_on.exid.eql?('90-days-recording-annual') %>
                  <tr class="add-90-days-recording-table user-add-ons-table" style="display: none;">
                    <td><%=  add_on.add_ons_name -%> <%= add_on.period -%>ly</td>
                    <td><%= add_on.add_ons_end_date.strftime('%d/%m/%Y') %></td>

                    <td><%= add_on.status ? 'Active' : 'Expired' %> <span class="cancel-add-on"><%= link_to 'cancel', delete_add_ons_path(current_user.username,add_on.id), method: :delete, class: 'delete-add-ons' %></span></td>
                  </tr>
                <% end %>
              <% end -%>
            </table>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-sm-8 margin-top-10">
          <input id="cancel-add-on" type="button" class="btn btn-primary pull-left" value="YES" style="display: none">
          <input id="cancel-add-on-close" type="button" class="btn btn-default pull-left margin-left2" value="Close" data-dismiss="modal" />
        </div>
      </div>
    </div>
  </div>
</div>
