<div class="plans-comparison">
  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item"> <h3>Free Plan</h3>
        </li>
        <li class="list-group-item">
          <%= cents_to_currency(@prices.evercam_free) %></li>
        <li class="list-group-item">Up to <strong>5</strong> Private Cams</li>
        <li class="list-group-item"><strong>Unlimited</strong> Public Cams</li>
        <li class="list-group-item"><strong>Unlimited</strong> Shares</li>
        <li class="list-group-item"><strong>&lt; 10</strong> hours Storage</li>

      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item"> <h3>Pro Plan</h3>
        </li>
        <li class="list-group-item"><strong>
          <%= cents_to_currency(@prices.evercam_pro) %>
        </strong>
          &#47;
          <strong>
            <%= cents_to_currency(@prices.evercam_pro_annual) %>
          </strong></li>
        <li class="list-group-item"><strong>Unlimited</strong></li>
        <li class="list-group-item"><strong>Unlimited</strong> Public Cams</li>
        <li class="list-group-item"><strong>Unlimited</strong> Share</li>
        <li class="list-group-item"><strong>&lt; 30</strong> hours Storage</li>

      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item">
          <h3>Pro Plan Plus</h3>
        </li>
        <li class="list-group-item">
          <strong>
            <%= cents_to_currency(@prices.evercam_pro_plus) %>
          </strong>
          &#47;
          <strong>
          <%= cents_to_currency(@prices.evercam_pro_plus_annual) %></li>
        </strong>
        <li class="list-group-item"><strong>Unlimited</strong> Private Cams</li>
        <li class="list-group-item"><strong>Unlimited</strong> Public Cams</li>
        <li class="list-group-item"><strong>Unlimited</strong> Share</li>
        <li class="list-group-item"><strong>&lt; 90</strong> hours Storage</li>
      </ul>
    </div>
  </div>
</div>