<div id="my-tab-content" class="tab-content">
  <div class="tab-pane active" id="annual">
    <div class="plans-comparison">
      <div class="row">
        <div class="col-md-4">
          <ul class="list-group">
            <li> <h4>Free</h4>
            </li>
            <li>
              <%= cents_to_currency(@prices.evercam_free) %></li>
            <li>Up to <strong>5</strong> Private Cams</li>
            <li><strong>Unlimited</strong> Public Cams</li>
            <li><strong>Unlimited</strong> Shares</li>
            <li><strong>&lt; 10</strong> hours Storage</li>

          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-group">
            <li> <h4>Annual Pro</h4>
            </li>
            <li>
              <strong><%= cents_to_currency(@prices.evercam_pro_annual) %></strong>
            </li>
            <li><strong>Unlimited</strong></li>
            <li><strong>Unlimited</strong> Public Cams</li>
            <li><strong>Unlimited</strong> Share</li>
            <li><strong>&lt; 30</strong> hours Storage</li>

          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-group">
            <li>
              <h4>Annual Pro Plus</h4>
            </li>
            <li>
              <strong><%= cents_to_currency(@prices.evercam_pro_plus_annual) %></strong>
            </li>
            <li><strong>Unlimited</strong> Private Cams</li>
            <li><strong>Unlimited</strong> Public Cams</li>
            <li><strong>Unlimited</strong> Share</li>
            <li><strong>&lt; 90</strong> hours Storage</li>
          </ul>
        </div>
      </div>
      <%= render "select_plan_buttons_annual" %>
    </div>

  </div>
  <div class="tab-pane" id="monthly">
    <div class="plans-comparison">
      <div class="row">
        <div class="col-md-4">
          <ul class="list-group">
            <li> <h4>Free Plan</h4>
            </li>
            <li>
              <%= cents_to_currency(@prices.evercam_free) %></li>
            <li>Up to <strong>5</strong> Private Cams</li>
            <li><strong>Unlimited</strong> Public Cams</li>
            <li><strong>Unlimited</strong> Shares</li>
            <li><strong>&lt; 10</strong> hours Storage</li>

          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-group">
            <li> <h4>Monthly Pro Plan</h4>
            </li>
            <li>
              <strong><%= cents_to_currency(@prices.evercam_pro) %></strong>
            </li>
            <li><strong>Unlimited</strong></li>
            <li><strong>Unlimited</strong> Public Cams</li>
            <li><strong>Unlimited</strong> Share</li>
            <li><strong>&lt; 30</strong> hours Storage</li>

          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-group">
            <li>
              <h4>Monthly Pro Plan Plus</h4>
            </li>
            <li>
              <strong>
                <%= cents_to_currency(@prices.evercam_pro_plus) %>
              </strong>
            </li>
            <li><strong>Unlimited</strong> Private Cams</li>
            <li><strong>Unlimited</strong> Public Cams</li>
            <li><strong>Unlimited</strong> Share</li>
            <li><strong>&lt; 90</strong> hours Storage</li>
          </ul>
        </div>
      </div>
    </div>
    <%= render "select_plan_buttons_monthly" %>
  </div>
  <div id="upgradeDwongradeModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="col-md-12">
            <p class="text-left change-plan-desc" id="plan-descprition"></p>
            <div id="confirm-upgrading" style="display: none;">
              <p class="text-left change-plan-desc">One moment while we upgrade your account</p>
              <br>
              <p class="text-left">We're just confirming your payment.</p>
            </div>

            <div id="section-downgrade" style="display: none;">
              <p class="text-left downgrade-note">Feel free to upgrade again any time, we'll credit you for
                any time you have used on you current plan and put that towards your next invoice.
              </p>
              <p>If you're sure you want to proceed, type '<strong>downgrade</strong>' in the field below.</p>
              <input id="downgrade-plan" name="downgrade-plan" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-sm-8 margin-top-10">
            <input type="hidden" id="has-credit-card" value="<%= has_credit_cards? %>">
            <input type="hidden" id="change-plan-id">
            <input type="hidden" id="change-plan-action">
            <input id="btn-change-plan" type="button" class="btn btn-primary pull-left" value="Upgrade my plan">
            <input type="button" class="btn btn-default pull-left margin-left2" value="Cancel" data-dismiss="modal" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
