<div class="plans-comparison">
  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <li class=""> <h4>Free Plan</h4>
        </li>
        <li class="">
          <%= cents_to_currency(@prices.evercam_free) %></li>
        <li class="">Up to <strong>5</strong> Private Cams</li>
        <li class=""><strong>Unlimited</strong> Public Cams</li>
        <li class=""><strong>Unlimited</strong> Shares</li>
        <li class=""><strong>&lt; 10</strong> hours Storage</li>

      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class=""> <h4>Pro Plan</h4>
        </li>
        <li class=""><strong>
          <%= cents_to_currency(@prices.evercam_pro) %>
        </strong>
          &#47;
          <strong>
            <%= cents_to_currency(@prices.evercam_pro_annual) %>
          </strong></li>
        <li class=""><strong>Unlimited</strong></li>
        <li class=""><strong>Unlimited</strong> Public Cams</li>
        <li class=""><strong>Unlimited</strong> Share</li>
        <li class=""><strong>&lt; 30</strong> hours Storage</li>

      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class="">
          <h4>Pro Plan Plus</h4>
        </li>
        <li class="">
          <strong>
            <%= cents_to_currency(@prices.evercam_pro_plus) %>
          </strong>
          &#47;
          <strong>
          <%= cents_to_currency(@prices.evercam_pro_plus_annual) %></li>
        </strong>
        <li class=""><strong>Unlimited</strong> Private Cams</li>
        <li class=""><strong>Unlimited</strong> Public Cams</li>
        <li class=""><strong>Unlimited</strong> Share</li>
        <li class=""><strong>&lt; 90</strong> hours Storage</li>
      </ul>
    </div>
  </div>
</div>