<div class="plans-select">
  <div class="row">
    <% if !@subscription %>
      <div class="col-md-4">
        <div class="plan-button">
          <%= button_to 'Free', line_item_subscription_path(type: 'plan', product_id: 'evercam-free'), remote: true, class: 'btn btn-default'  %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="plan-button">
          <div class="col-xs-6">
            <%= button_to 'Pro Monthly', line_item_subscription_path(type: 'plan', product_id: 'evercam-pro'), remote: true, class: 'btn btn-primary'  %>
          </div>
          <div class="col-xs-6">
            <%= button_to 'Pro Annual', line_item_subscription_path(type: 'plan', product_id: 'evercam-pro-annual'), remote: true, class: 'btn btn-primary'  %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="plan-button">
          <div class="col-xs-6">
            <%= button_to 'Pro Plus Monthly', line_item_subscription_path(type: 'plan', product_id: 'evercam-pro-plus'), remote: true, class: 'btn btn-primary'  %>
          </div>
          <div class="col-xs-6">
            <%= button_to 'Pro Plus Annual', line_item_subscription_path(type: 'plan', product_id: 'evercam-pro-plus-annual'), remote: true, class: 'btn btn-primary'  %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col-md-4">
        <div class="plan-button">
          <% if @subscription[:id].eql?('evercam-free') %>
            <input class="btn btn-default change-plan" disabled type="button" value="Your Plan">
          <% else %>
            <input class="btn btn-default change-plan" data-price="<%= cents_to_currency(@prices.evercam_free) %>"
                   data-toggle="modal" data-target="#upgradeDwongradeModal" type="button" value="Downgrade"
                   data-period="monthly" data-plan="evercam free" data-plan-id="evercam-free">
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="plan-button">
          <div class="col-xs-12">
            <% evercam_pro = case @subscription[:id]
                               when "evercam-free"
                                 "Upgrade"
                               when "evercam-pro-plus-annual","evercam-pro-plus"
                                 "Downgrade"
                               when "evercam-pro-annual"
                                 "Switch to Monthly"
                               when "evercam-pro"
                                 "Your Plan"
                             end
            %>
            <input class="btn btn-primary change-plan" <%= "disabled" if @subscription[:id].eql?('evercam-pro') %>
                   data-price="<%= cents_to_currency(@prices.evercam_pro) %>" data-toggle="modal" data-target="#upgradeDwongradeModal"
                   type="button" data-period="monthly" data-plan-id="evercam-pro" data-plan="evercam pro" value="<%= evercam_pro %>">
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="plan-button">
          <div class="col-xs-12">
            <% evercam_pro_plus = case @subscription[:id]
                                    when "evercam-free","evercam-pro","evercam-pro-annual"
                                      "Upgrade"
                                    when "evercam-pro-plus-annual"
                                      "Switch to Monthly"
                                    when "evercam-pro-plus"
                                      "Your Plan"
                                  end
            %>
            <input class="btn btn-primary change-plan" <%= "disabled" if @subscription[:id].eql?('evercam-pro-plus') %>
                   data-price="<%= cents_to_currency(@prices.evercam_pro_plus) %>" data-toggle="modal" data-target="#upgradeDwongradeModal"
                   type="button" value="<%= evercam_pro_plus %>" data-plan-id="evercam-pro-plus" data-period="monthly" data-plan="evercam pro plus">
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>