<div class="subscriptions page-content-wrapper">
  <div class="bb-alert alert alert-info" style="display:none;">
    <span></span>
  </div>
  <div class="page-content">
    <div class="portlet-body">
      <div class="plans">
      <%= render 'navigation' %>
        <div class="col-md-12">
          <div class="header">
          <h3>Upgrade or Downgrade your plan at any time</h3>
          <p>Use Evercam for free or upgrade for extra features</p>
          </div>
          <%= render "plans_comparison" %>
          <%= render "select_plan_buttons" %>
        </div>
        <div class="col-md-4 col-md-offset-8">
          <div class="row">
            <div class="col-md-12">
              <%= link_to "Get Add-ons", edit_add_ons_path, class: 'pull-right btn btn-primary' %>
            </div>
          </div>
          <div class="checkout-container">
            <%= render "cart" %>
            <div class="checkout-button">
            <%= link_to "Checkout", new_checkout_path, class: 'pull-right btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  Notification.init(".bb-alert");
  <% if flash[:message] %>
  Notification.show('<%= flash[:message] %>');
  <% end %>
</script>
