<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<div class="subscriptions page-content-wrapper">
  <div class="page-content">
    <% render partial: "users/section_header", locals: { section_header_title: "Evercam: Billing" } %>

    <%= render "subscriptions/cart" %>

    <div class="col-md-12 margin-top-20">
      <h3>Cards</h3>
      <div class="card">
        <%= render partial: 'shared/stripe' %>
        <%= render 'cards' %>
      </div>
    </div>

    <div class="col-md-12">
      <h3>Plans</h3>
      <%= render 'plans' %>
      </div>
    </div>

    <div class="col-md-12">
      <h3>Add-ons</h3>
        <%= render 'add_ons' %>
    </div>

    <div class="col-md-7">
      <h3>Payment History</h3>
      <%= render 'billing_history' %>
    </div>

    <div class="col-md-5">
      <h3>Invoices</h3>
      <%= render 'invoices' %>
    </div>

  </div>
</div>

<script>
  window.initializeSubscription();
  <% if flash[:message] %>
  Notification.show('<%= flash[:message] %>');
  <% end %>
  (function() {
    [].slice.call( document.querySelectorAll( '.checkout' ) ).forEach( function( el ) {
      var openCtrl = el.querySelector( '.checkout__button' ),
          closeCtrls = el.querySelectorAll( '.checkout__cancel' );

      openCtrl.addEventListener( 'click', function(ev) {
        ev.preventDefault();
        classie.add( el, 'checkout--active' );
      } );

      [].slice.call( closeCtrls ).forEach( function( ctrl ) {
        ctrl.addEventListener( 'click', function() {
          classie.remove( el, 'checkout--active' );
        } );
      } );
    } );
  })();
</script>
