<div class="subscriptions page-content-wrapper">
  <div class="page-content">
    <%= render partial: "users/section_header", locals: { section_header_title: "Billing" } %>
    <div class="portlet-body">
      <div class="col-md-12">
        <%= render 'navigation' %>
        <%= render 'add_card' %>

        <%= render 'current_subscription' %>
        <%= render 'plans_comparison' %>
        <div class="temp">
          <div class="col-md-4">
            <div class="btn btn-default">Current Plan</div>
          </div>
          <div class="col-md-4">
            <%= link_to 'Upgrade', edit_subscription_path, class: 'btn btn-primary' %>
          </div>
          <div class="col-md-4">
            <%= link_to 'Upgrade', edit_subscription_path, class: 'btn btn-primary' %>
          </div>
        </div>
        <%= render 'current_add_ons' %>
      </div>
    </div>
  </div>
</div>
<script>
  Notification.init(".bb-alert");
  <% if flash[:message] %>
  Notification.show('<%= flash[:message] %>');
  <% end %>
</script>
