<%= content_for(:title, " Evercam: Billing ") %>

<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<div class="subscriptions page-content-wrapper">
  <div class="page-content">

    <div class="portlet-body">
      <div class="tabbable tabbable-custom">
        <div class="center-tabs">
          <ul id="ul-nav-tab" class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" data-target="#licences" class="nav-tab-licences nav-tab-">Licences</a>
            </li>
            <li>
              <a data-toggle="tab" data-target="#history" class="nav-tab-history">Payment History</a>
            </li>
            <% if current_user.insight_id.present? %>
              <li>
                <a data-toggle="tab" data-target="#invoices" class="nav-tab-cards">Custom</a>
              </li>
            <% end %>
            <li>
              <a data-toggle="tab" data-target="#cards" class="nav-tab-cards">Credit Cards</a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div id="licences" class="tab-pane active">
            <%= render partial: "subscriptions/licences/licences_tab" %>
          </div>
          <div id="history" class="tab-pane">
            <%= render partial: "subscriptions/history/history_tab" %>
          </div>
          <div id="cards" class="tab-pane">
            <%= render partial: "subscriptions/cards/cards_tab" %>
          </div>
          <div id="invoices" class="tab-pane">
            <%= render partial: "subscriptions/invoices" %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  window.initializeSubscription();
  <% if flash[:message] %>
  Notification.show('<%= flash[:message] %>');
  <% end %>
</script>
