<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<div class="subscriptions page-content-wrapper">
  <div class="page-content">
    <%# render partial: "users/section_header", locals: { section_header_title: "Billing" } %>
    <div class="portlet-body">

        <%= render 'navigation' %>

          <div class="col-md-12">
            <h3>Cards</h3>
            <%= render partial: 'shared/stripe' %>
             <!-- New Stripe customer -->
             <% unless is_stripe_customer? %>
               <p>You have not yet associated a credit card with this account.</p>
              <%= render 'add_card' %>
             <% end %>
              <% if has_credit_cards? %>
              <p class="margin-top-15">Your Card(s):</p>
              <% @credit_cards.each do |card| -%>
                <p><strong><%=  card.brand -%></strong> expires <strong><%= card.exp_month -%>&#47;<%= card.exp_year %></strong> ending in ..<strong><%= card.last4 -%></strong></p>
              <% end -%>
                <a class="" data-toggle="modal" data-target="#myModal">
                  Manage Cards
                </a>
              <% end %>
              <% if stripe_customer_without_current_cards? %>
                You have no current cards associated with this account.
              <%= render 'add_card' %>
              <% end %>

          </div>


      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Manage Cards</h4>
            </div>
            <div class="modal-body">
              <%= render 'add_card' %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      <div class="margin-top-30 col-md-12">
        <h3>Plans</h3>
        <p>Current Plan: <strong><%= render 'current_subscription' %></strong></p>
        <%= render 'plans_comparison' %>
        <div class="row">
          <div class="col-md-4">
            <div class="plan-button">
              <div class="btn btn-primary">Select</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="plan-button">
            <%= link_to 'Select', edit_subscription_path, class: 'btn btn-primary' %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="plan-button">
            <%= link_to 'Select', edit_subscription_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 margin-top-30 margin-bottom-30">
        <h3>Your Add Ons</h3>
        <%= render 'current_add_ons' %>
      </div>

  </div>
</div>
</div>

<script>
  window.initializeSubscription();
  <% if flash[:message] %>
  Notification.show('<%= flash[:message] %>');
  <% end %>
</script>
