<div class="subscriptions page-content-wrapper">
  <div class="page-content">
    <%= render partial: "users/section_header", locals: { section_header_title: "Billing" } %>
    <div class="portlet-body">
      <div class="col-md-12">
        <%= render 'navigation' %>
        <%= render 'add_card' %>

        <%= render 'current_subscription' %>

        <%= render 'current_add_ons' %>
      </div>
    </div>
  </div>
</div>