<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<div class="subscriptions page-content-wrapper">
  <div class="page-content">
    <% render partial: "users/section_header", locals: { section_header_title: "Evercam: Billing" } %>

    <%= render 'cart' %>

    <div class="col-md-12 margin-top-20">
      <h3>Cards</h3>
      <div class="card">
        <table>
          <% if has_credit_cards? %>
            <tr>
              <th class="col-md-1">Issuer</th>
              <th class="col-md-1">Expires</th>
              <th class="col-md-2">Ends in</th>
              <th class="col-md-2"></th>
              <th class="col-md-2"></th>
            </tr>
            <% @credit_cards.each do |card| -%>
              <tr>
                <td class="col-md-1"><%=  card.brand -%></td>
                <td class="col-md-1"><%= card.exp_month -%>&#47;<%= card.exp_year %></td>
                <td class="col-md-2"><%= card.last4 -%></td>
                <td class="col-md-2"><%= default_card?(card.id) ? 'Default Card' : (link_to 'Make Default', stripe_customer_path({:card_id => card.id, :default_source => true}), method: :put) %></td>
                <td class="col-md-2">
                  <%= button_to 'Delete', credit_card_path(:card_id => card.id), method: :delete, confirm: 'Are you sure you wish to delete this card?', class: 'delete-credit-card' %>
                </td>
              </tr>
            <% end -%>
          <% end %>
        </table>
        <div class="margin-top-20">
          <%= render 'add_card' %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <h3>Plans</h3>
      <div class="card">
        <% unless !@next_charge %>
          <p>Your next charge of
            <strong><%= cents_to_currency @next_charge[:total] %></strong>
            is on <%= Time.at(@next_charge[:date]).strftime("%d %b %Y") %>.</p>
        <% end %>
        <%= render "plans_comparison" %>
      </div>
    </div>

    <div class="col-md-12">
      <h3>Add-ons</h3>
      <div class="card">
        <%= render 'current_add_ons' %>
      </div>
    </div>

    <div class="col-md-7">
      <h3>Payment History</h3>
      <%= render 'billing_history' %>
    </div>

    <div class="col-md-5">
      <h3>Invoices</h3>
      <%= render 'invoices' %>
    </div>

  </div>
</div>

<script>
  window.initializeSubscription();
  <% if flash[:message] %>
  Notification.show('<%= flash[:message] %>');
  <% end %>
  (function() {
    [].slice.call( document.querySelectorAll( '.checkout' ) ).forEach( function( el ) {
      var openCtrl = el.querySelector( '.checkout__button' ),
          closeCtrls = el.querySelectorAll( '.checkout__cancel' );

      openCtrl.addEventListener( 'click', function(ev) {
        ev.preventDefault();
        classie.add( el, 'checkout--active' );
      } );

      [].slice.call( closeCtrls ).forEach( function( ctrl ) {
        ctrl.addEventListener( 'click', function() {
          classie.remove( el, 'checkout--active' );
        } );
      } );
    } );
  })();
</script>
