<div class="portlet solid">
  <div class="portlet-title">
    <div class="caption">Camera Details</div>
    <% if @has_edit_rights %>
      <div href="#" class="pull-right edit btn btn-primary" data-toggle="modal" data-target="#settings-modal">
        <i class="fa fa-pencil"></i>
      </div>
    <% end %>
  </div>
  <div class="portlet-body col-md-12">
    <table class="table table-fixed table-borderless">
      <tr>
        <td class="col-md-3">ID:</td>
        <td class="col-md-9">
          <span id="ec_cam_id">
            <%= @camera['id'] %>
          </span>
        </td>
      </tr>
      <tr>
        <td class="col-md-3">Name:</td>
        <td class="col-md-9">
          <%= @camera['name'] %>
        </td>
      </tr>
      <tr>
        <td class="col-md-3">Vendor:</td>
        <td class="col-md-9">
          <% if @camera['vendor_name'] != "" %>
            <%= @camera['vendor_name'] %>
          <% else %>
            <span class="grey">Not specified</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Model:</td>
        <td>
          <% if @camera['model_name'] != "" %>
            <%= @camera['model_name'] %>
          <% else %>
            <span class="grey">Not specified</span>
          <% end %>
        </td>
      </tr>
      <% if @has_edit_rights %>
        <tr>
          <td>Username:</td>
          <td>
            <% if @camera['cam_username'] != "" %>
              <%= @camera['cam_username'] %>
            <% else %>
              <span class="grey">Not specified</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Password:</td>
          <td>
            <% if @camera['cam_password'] != "" %>
              <%= @camera['cam_password'] %>
            <% else %>
              <span class="grey">Not specified</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Snapshot URL:</td>
          <td><%= @camera.deep_fetch('external', 'http', 'jpg') { '' }.sub("http://#{@camera.deep_fetch('external', 'host') { '' }}", '').sub(":#{@camera.deep_fetch('external', 'http', 'port') { '' }}", '') if @camera.deep_fetch('external', 'http', 'jpg') { '' } %></td>
        </tr>
        </table>
        <div class="row">
          <div class="col-md-3"><span class="title-label">External Ports</span></div>
        </div>
        <table class="table table-fixed table-borderless">
          <tr>
            <td class="col-md-3">IP (or URL):</td>
            <td class="col-md-9">
              <% port = @camera.deep_fetch('external', 'host') {} %>
              <% if port.blank? %>
                <span class="grey">Not specified</span>
              <% else %>
                <%= @camera.deep_fetch('external', 'host') {} %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>HTTP Port:</td>
            <td>
              <% port = @camera.deep_fetch('external', 'http', 'port') {} %>
              <% if port.blank? %>
                <span class="grey">Not specified</span>
              <% else %>
                <%= @camera.deep_fetch('external', 'http', 'port') {} %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>RTSP Port:</td>
            <td>
              <% port = @camera.deep_fetch('external', 'rtsp', 'port') {} %>
              <% if port.blank? %>
                <span class="grey">Not specified</span>
              <% else %>
                <%= @camera.deep_fetch('external', 'rtsp', 'port') {} %>
              <% end %>
            </td>
          </tr>
        </table>
        <div class="row">
          <div class="col-md-3"><span class="title-label">Internal Ports</span></div>
        </div>
        <table class="table table-fixed table-borderless">
          <tr>
            <td class="col-md-3">IP (or URL):</td>
            <td class="col-md-9">
              <% port = @camera.deep_fetch('internal', 'host') {} %>
              <% if port.blank? %>
                <span class="grey">Not specified</span>
              <% else %>
              <%= @camera.deep_fetch('internal', 'host') {} %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>HTTP Port:</td>
            <td>
              <% port = @camera.deep_fetch('internal', 'http', 'port') {} %>
              <% if port.blank? %>
                <span class="grey">Not specified</span>
              <% else %>
              <%= @camera.deep_fetch('internal', 'http', 'port') {} %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>RTSP Port:</td>
            <td>
              <% port = @camera.deep_fetch('internal', 'rtsp', 'port') {} %>
              <% if port.blank? %>
                <span class="grey">Not specified</span>
              <% else %>
                <%= @camera.deep_fetch('internal', 'rtsp', 'port') {} %>
              <% end %>
            </td>
          </tr>
      <% end %>
      <tr>
        <td class="col-md-3">Timezone</td>
        <td class="col-md-9"><%= ActiveSupport::TimeZone.new(@camera['timezone']) %></td>
      </tr>
      </table>
      </div>
</div>
