<div class="portlet solid">
  <div class="portlet-title">
    <div class="caption"> General Info</div>
  </div>
  <div class="portlet-body">
    <table class="table table-fixed table-borderless">
      <tr>
        <td class="col-lg-3">Owner:</td>
        <td class="col-lg-9">
          <% if @camera['owner'] == current_user.email %>
            <small class="blue"> (you)</small>
          <% end %>
          <%= @camera['owner'] %>
        </td>
      </tr>
      <tr>
        <td class="col-lg-3">Sharing:</td>
        <td class="col-lg-9"> Is Public:
          <span id="public-short-link" class="bold show-on-public" style="<%= 'display: none;' unless @camera['is_public'] %>">[Yes]</span>
          <span id="private-short-link" class="bold show-on-private" style="<%= 'display: none;' if @camera['is_public'] %>">[No]</span>
          <span>& Is Discoverable:</span>
          <span id="public-short-link" class="bold show-on-public" style="<%= 'display: none;' unless @camera['is_discoverable'] %>">[Yes]</span>
          <span id="private-short-link" class="bold show-on-private" style="<%= 'display: none;' if @camera['is_discoverable'] %>">[No]</span>
        </td>
      </tr>
      <tr>
        <td>Date Added:</td>
        <td><%= Time.at(@camera['created_at']).to_formatted_s(:long_ordinal) %></td>
      </tr>
      <% unless @camera["vendor_name"] == "Evercam Capture" %>
        <tr>
          <td>Camera Source:</td>
          <td>
            <% if url = @camera.deep_fetch('external', 'http', 'camera') {} %>
              <%= link_to_unless(url.nil?, url, url, target: '_blank', :only_path => false) %>
            <% else %>
              <span class="grey">Not available</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
