<div class="portlet solid margin-top-10">
  <div class="portlet-title">
    <div class="caption">URLs</div>
  </div>
  <div class="portlet-body">
    <section id="unseen">
      <div class="uppercase-title">
        <span class="title-label">Public Proxy URLs</span>
        <span class="title-label margin-left-10">(Only available if the Camera is Public)</span>
      </div>
      <table class="table table-borderless table-fixed">
        <tr>
          <td class="col-md-1 col-xs-4">
            Camera:
          </td>
          <td>
            <div id="public-short-page" class="show-on-public" style="<%= 'display: none;' unless @camera['is_public'] %>">
              <%= link_to "http://evr.cm/#{@camera['id']}.html", "http://evr.cm/#{@camera['id']}.html", target: '_blank', :only_path => false %>
            </div>
            <div id="private-short-page" class="show-on-private" style="<%= 'display: none;' if @camera['is_public'] %>">
              <span class="grey"><%= "http://evr.cm/#{@camera['id']}.html" %></span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            JPEG:
          </td>
          <td>
            <span id="public-short-link" class="show-on-public" style="<%= 'display: none;' unless @camera['is_public'] %>">
              <%= link_to "http://evr.cm/#{@camera['id']}.jpg", "http://evr.cm/#{@camera['id']}.jpg", target: '_blank', :only_path => false %>
            </span>
            <span id="private-short-link" class="show-on-private grey" style="<%= 'display: none;' if @camera['is_public'] %>">
              <%= "http://evr.cm/#{@camera['id']}.jpg" %>
            </span>
          </td>
        </tr>
      </table>
      <div class="uppercase-title">
        <span class="title-label">Private Proxy URLs</span>
        <span class="title-label margin-left-10">(Only available if the Camera is Public)</span>
      </div>

      <table class="table table-borderless table-fixed">
        <tr>
          <td class="col-md-1 col-xs-4">
            JPEG:
          </td>
          <td>
            <span id="public-short-link">
              <%= link_to "#{EVERCAM_API}cameras/#{@camera['id']}/snapshot.jpg", "#{EVERCAM_API}cameras/#{@camera['id']}/snapshot.jpg", target: '_blank', :only_path => false %>
            </span>
          </td>
        </tr>
      </table>
    </section>
    <section id="unseen">
      <div class="uppercase-title">
        <span class="title-label">Dynamic DNS</span>
        <span class="title-label margin-left-10">(Only available if Camera is shared with Full Rights)</span>
      </div>
      <table class="table table-fixed table-borderless">
        <tr>
          <td class="col-md-1 col-xs-4">
            JPEG:
          </td>
          <td>
            <% url = @camera.deep_fetch('dyndns', 'http', 'jpg') {} %>
            <% if url.blank? %>
              <span class="grey">Not available</span>
            <% else %>
              <%= link_to(url, url, target: '_blank', :only_path => false, :class => 'td-fix') %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            MJPEG:
          </td>
          <td>
            <% url = @camera.deep_fetch('dyndns', 'http', 'mjpg') {} %>
            <% if url.blank? %>
              <span class="grey">Not available</span>
            <% else %>
              <%= link_to(url, url, target: '_blank', :only_path => false) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            MPEG:
          </td>
          <td>
            <% url = @camera.deep_fetch('dyndns', 'rtsp', 'mpeg') {} %>
            <% if url.blank? %>
              <span class="grey">Not available</span>
            <% else %>
              <%= link_to(url, url, target: '_blank', :only_path => false) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            Audio:
          </td>
          <td>
            <% url = @camera.deep_fetch('dyndns', 'rtsp', 'audio') {} %>
            <% if url.blank? %>
              <span class="grey">Not available</span>
            <% else %>
              <%= link_to(url, url, target: '_blank', :only_path => false) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            H264:
          </td>
          <td>
            <% url = @camera.deep_fetch('dyndns', 'rtsp', 'h264') {} %>
            <% if url.blank? %>
              <span class="grey">Not available</span>
            <% else %>
              <%= link_to(url, url, target: '_blank', :only_path => false) %>
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>
    </section>
    <section id="unseen">
      <div class="uppercase-title"><span class="title-label">Base Camera URL</span></div>
      <table class="table table-fixed table-borderless">
        <tr>
          <td class="col-md-1 col-xs-4">
            Camera:
          </td>
          <td>
            <% url = @camera.deep_fetch('external', 'http', 'camera') {} %>
            <% if url.blank? %>
              <%= link_to_unless(url.nil?, url, url, target: '_blank', :only_path => false) %>
            <% else %>
              <span class="grey">Not available</span>
            <% end %>
          </td>
        </tr>
      </table>
    </section>
  </div>
</div>
