<div class="row">
  <div class="col-md-8">
    <% if has_credit_cards? %>
      <table class="table table-full-width">
        <tr>
          <th class="col-md-1">Issuer</th>
          <th class="col-md-1">Expires</th>
          <th class="col-md-1">Ending in</th>
          <th class="col-md-1"></th>
          <th class="col-md-1"></th>
        </tr>
        <% @credit_cards.each do |card| %>
          <tr>
            <td class="col-md-1"><%= card.brand %></td>
            <td class="col-md-1"><%= card.exp_month %>&#47;<%= card.exp_year %></td>
            <td class="col-md-1"><%= card.last4 %></td>
            <td class="col-md-1"><%= default_card?(card.id) ? 'Default Card' : (link_to 'Make Default', stripe_customer_path({:card_id => card.id, :default_source => true}), method: :put) %></td>
            <td class="col-md-1">
              <%= button_to 'Delete', credit_card_path(:card_id => card.id), method: :delete, confirm: 'Are you sure you wish to delete this card?', class: 'delete-credit-card' %>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      No card added
    <% end %>
  </div>
</div>
<div class="margin-top-20">
  <%= render 'add_card' %>
</div>
