<div class="checkout-page page-content-wrapper">
  <div id="payNowModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="col-md-12">
            <p class="text-left margin-top-10">
              <strong><%= cents_to_currency(@total_charge) %></strong> will be charged from your <strong><%= @card.brand %></strong> card ending in <strong><%= @card.last4 %></strong></p>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-sm-8">
            <%= button_to "Pay Now", new_charge_path({ amount: @total_charge }), class: 'btn btn-primary pull-left' %>&nbsp;
            <input type="button" class="btn btn-default pull-left margin-left2" value="Cancel" data-dismiss="modal" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="plans">
      <div class="navigation">
        <ul class="nav nav-tabs">
          <li><%= link_to 'Overview', billing_path(current_user.username) %></li>
          <li class="active"><a>Checkout</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>Review your Order</h3>
          <%= render "subscriptions/cart" %>
          <!--Total <%# cents_to_currency(@total_charge) %>-->
          <%# if add_ons_in_cart? %>
        <!--<li>Add-ons Subtotal to Renewal: <%# cents_to_currency(@pro_rated_add_ons_charge) %></li>
            <li>Add-ons per month: <%# cents_to_currency(@add_ons_charge) %></li>-->
          <%# end %>
          <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#payNowModal">Pay Now</a>
      </div>
    </div>
  </div>
</div>