<%= content_for(:title, "Evercam: Add Camera") %>
<div id="add-ip"/>
<div class="page-content-wrapper">
  <div class="page-content">
    <div class="tabbable tabbable-custom">
      <div class="center-tabs">
        <ul class="nav nav-tabs add-camera-page">
          <li class="active">
            <a href="#tab_1_1" data-toggle="tab">
              Add IP Camera </a>
          </li>
          <li>
            <a href="#tab_1_2" data-toggle="tab">
              Add Android Camera
            </a>
          </li>
          <li class="pull-right">
            <a class="cameras-dropdown-toggle" data-toggle="dropdown">
              <% if params[:id].present? %><%=params[:id] %><% else %>Copy from<% end %> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu scroll-menu" role="menu">
              <% @cameras.each do |camera| %>
              <% if camera["rights"].split(",").include?("edit") %>
              <li class="sub-menu-item <%= is_active?("/cameras/#{camera['id']}") %> <% unless camera['is_online'] %>sidebar-offline<% end %>">
                <%= link_to camera['name'], cameras_clone_path(camera['id']) %>
              </li>
              <% end %>
              <% end %>
            </ul>
          </li>
        </ul>

      </div>
      <div class="tab-content add-camera">
        <div class="tab-pane active" id="tab_1_1">
          <%= form_tag(cameras_new_path, method: 'post', id: 'create-a-camera', class: 'has-validation-callback', autocomplete: 'off', role: 'form') do %>
          <% field_errors = (flash[:field_errors] || {}) %>
          <!-- Workaround for Chrome autofill entering camera user & pass. (autocomplete="off" is no longer obeyed) -->
          <input style="display:none" type="text" name="fakeusernameremembered"/>
          <input style="display:none" type="password" name="fakepasswordremembered"/>
          <%= hidden_field_tag('camera-lat', @user['camera-lat']) %>
          <%= hidden_field_tag('camera-lng', @user['camera-lng']) %>
          <input type="hidden" name="add-camera" value="test"/>
          <div class="col-sm-8">
            <div class="row">
              <div class='col-sm-12'>
                <div class="col-sm-6 <%= field_errors["name"] ? ' has-error' : '' %>">
                  <div class='form-group'>
                    <%= text_field_tag("camera-name", @user['camera-name'], "class" => "form-control", "required" =>"
                    ", "data-validation-help" => "To identify your camera in the dashboard.", "data-validation" => "alphanumeric length", "data-validation-length" => "max24", "data-validation-allowing" => "-_ ", "data-validation-error-msg" => "Max 24 characters containing letters, spaces and hyphens.") %>
                    <%= label_tag('camera-name', "Camera Friendly Name*", class: "float-label") %>
                    <% if field_errors["name"] %>
                    <span class="help-block form-error text-left"><%= field_errors["name"] %></span>
                    <% end %>
                  </div>
                </div>
                <div class='col-sm-6 model<%= field_errors["id"] ? ' has-error' : '' %>'>
                  <div class="form-group">
                    <%= text_field_tag("camera-id", @user['camera-id'], "required" =>"required", "class" => "form-control", "data-validation-help" => "This must be unique and cannot be changed.", "data-validation" => "alphanumeric length custom", "data-validation-regexp" => "^[a-z0-9._/-]{2,100}$", "data-validation-length" => "min4", "data-validation-allowing" => "-_", "data-validation-error-msg" => "Min 4 characters. Only lowercase letters, numbers &amp; hyphens and underscores. No spaces.") %>
                    <%= label_tag('camera-id', "Evercam ID*", class: "float-label") %>
                    <% if field_errors["id"] %>
                    <div class="help-block form-error text-left"><%= field_errors["id"] %></div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class='row margin-top-40'>
              <div class='col-sm-12'>
                <div class="<%= field_errors["vendor"] ? ' has-error' : '' %> col-sm-6">
                  <div class="form-group">
                    <%= label_tag('camera-vendor', "Camera Vendor", class: "control-label") %>
                    <div class="dropdown">
                      <select id="camera-vendor" name="camera-vendor" class="form-control hide">
                        <option value="">Select Camera Vendor</option>
                      </select>
                    </div>
                    <input type="hidden" id="last-selected-vendor" value="<%= @user['camera-vendor'] %>">
                    <% if field_errors["vendor"] %>
                    <span class="help-block form-error text-left"><%= field_errors["vendor"] %></span>
                    <% end %>
                  </div>
                </div>
                <div id="reveal" class="<%= field_errors["model"] ? ' has-error' : '' %> col-sm-6">
                  <p class="help-block this form-error text-left" style="display: none;">Select 'Default' if you're unsure</p>
                  <img id="vendor-image" class="col-sm-12 hide" src="" style="max-height: 60px;">
                  <div class="form-group hide">
                    <%= label_tag('camera-model', "Camera Model", class: "control-label") %>
                    <div class="dropdown">
                      <select id="camera-model" name="camera-model" class="form-control camera-model">
                        <option value="">Select Camera Model</option>
                      </select>
                    </div>
                    <input type="hidden" id="last-selected-model" value="<%= @user['camera-model'] %>">
                    <% if field_errors["model"] %>
                    <span class="help-block form-error text-left"><%= field_errors["model"] %></span>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class='row margin-top-30'>
              <div class='col-sm-12'>
                <div id="unreveal" class="col-sm-4">
                  <div id="ext-ip" class='<%= field_errors["external_host"] ? ' has-error' : '' %>'>
                    <span class="prepend prepend-3">http://</span>
                    <div class="form-group">
                      <%= text_field_tag("camera-url", @user['camera-url'], "class" => "form-control", "data-validation-help" => "Your IP address is #{@ip}", "data-validation" => "custom", "data-validation-regexp" => "^[a-zA-Z0-9._/-]{2,100}$", "data-validation-error-msg" => "This should be in the form of <strong>149.5.43.10</strong> or <strong>portlarochelle.com</strong>. Your IP address is #{@ip} ") %>
                      <%= label_tag('camera-url', raw("External <strong>IP</strong> (or URL)*"), class: "float-label") %>
                    </div>
                    <div id="box" class="box">
                      <% if field_errors["external_host"] %>
                      <span class="help-block form-error text-left"><%= field_errors["external_host"] %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class='col-sm-2 <%= field_errors["external_http_port"] ? ' has-error' : '' %>'>
                  <div id="camera-port" class="input-group">
                    <span class="prepend prepend-1">:</span>
                    <div class="form-group">
                      <%= text_field_tag("port", @user['port'] || 80, "class" => "form-control", "required" => "", "data-validation" => "custom", "data-validation-regexp" => "^[0-9]{2,5}$", "data-validation-error-msg" => "The Port should be a 2-5 digit number.") %>
                      <%= label_tag('port', raw("HTTP Port*"), class: "float-label") %>
                      <% if field_errors["external_http_port"] %>
                      <span class="help-block form-error text-left"><%= field_errors["external_http_port"] %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class='col-sm-4 <%= field_errors["jpg_url"] ? ' has-error' : '' %>'>
                  <div class="snap-end hide">
                    <span class="prepend prepend-2">/</span>
                    <div class="form-group">
                      <input id="snapshot-readonly" class="form-control snapshot-readonly hide" disabled value="<%= @user['snapshot'] %>"/>
                      <%= text_field_tag("snapshot", @user['snapshot'], "required" => "required", "class" => "form-control", "data-validation-help" => "Include the entire snapshot path after the domain eg.data-externe/webcam/webcam.jpg", "data-validation" => "alphanumeric", "data-validation-allowing" => "-_/.&?=", "data-validation-error-msg" => "") %>
                      <%= label_tag('snapshot', "Snapshot URL Ending*", class: "float-label") %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row margin-top-20">
              <div class='col-sm-12'>
                <div class='<%= field_errors["username"] ? ' has-error' : '' %>'>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <%= text_field_tag("camera-username", @user['camera-username'], "data-validation-help" => "Required if the camera needs authenticating", "class" => "form-control") %>
                      <%= label_tag('camera-username', "Camera Username", class: "float-label") %>
                      <% if field_errors["username"] %>
                      <span class="help-block form-error text-left"><%= field_errors["username"] %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class='<%= field_errors["password"] ? ' has-error' : '' %>'>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <%= password_field_tag("camera-password", @user['camera-password'], "data-validation-help" => "Enter the Password of the camera.", class: "form-control") %>
                      <%= label_tag('camera-password', "Camera Password", class: "float-label") %>
                      <% if field_errors["password"] %>
                      <span class="help-block form-error text-left"><%= field_errors["password"] %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row margin-top-30">
              <div class='col-sm-12'>
                <div class="btn additional action expand">Additional Settings <i class="fa fa-caret-down"></i></div>
                <div class="settings">
                  <div class="row margin-top-20">
                    <div class="col-sm-12">

                      <div class="col-sm-4">
                        <div class='<%= field_errors["internal_host"] ? ' has-error' : '' %>'>
                          <span class="prepend prepend-3">http://</span>
                          <div class="form-group">
                            <%= text_field_tag("local-ip", @user['local-ip'], "class" => "form-control", "data-validation" => "custom", "data-validation-regexp" => "^[a-zA-Z0-9._/-]{2,100}$", "data-validation-error-msg" => "This doesn't appear to be a valid IP or URL.", "data-validation-optional" => "true") %>
                            <label class="float-label">Local IP</label>
                            <%= label_tag('local-ip', "Local IP", class: "float-label hide") %>
                            <% if field_errors["internal_host"] %>
                            <span class="help-block form-error text-left"><%= field_errors["internal_host"] %></span>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class='<%= field_errors["internal_http_port"] ? ' has-error' : '' %>'>
                          <div class="form-group">
                            <%= text_field_tag("local-http", @user['local-http'], "class" => "form-control", "data-validation" => "custom", "data-validation-regexp" => "^[0-9]{2,5}$", "data-validation-error-msg" => "The Port should be a 2-5 digit number.", "data-validation-optional" => "true") %>
                            <%= label_tag('local-http', "Local HTTP Port", class: "float-label") %>
                            <% if field_errors["internal_http_port"] %>
                            <span class="help-block form-error text-left"><%= field_errors["internal_http_port"] %></span>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="port" class="row margin-top-20">
                    <div class="col-sm-12">
                      <div class="col-sm-4">
                        <div class='<%= field_errors["external_rtsp_port"] ? ' has-error' : '' %>'>
                          <div class="form-group">
                            <%= text_field_tag("ext-rtsp-port", @user['ext-rtsp-port'], "class" => "form-control", "data-validation" => "custom", "data-validation-regexp" => "^[0-9]{2,5}$", "data-validation-help" => "The port should be a 2-5 digit number", "data-validation-error-msg" => "The Port should be a #, 2-5 digits.", "data-validation-optional" => "true") %>
                            <%= label_tag('ext-rtsp-port', raw("External RTSP Port"), class: "float-label") %>
                            <% if field_errors["external_rtsp_port"] %>
                            <span class="help-block form-error text-left"><%= field_errors["external_rtsp_port"] %></span>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class='<%= field_errors["internal_rtsp_port"] ? ' has-error' : '' %>'>
                          <div class="form-group">
                            <%= text_field_tag("local-rtsp", @user['local-rtsp'], "class" => "form-control", "data-validation" => "custom", "data-validation-regexp" => "^[0-9]{2,5}$", "data-validation-error-msg" => "The Port should be a 2-5 digit number.", "data-validation-optional" => "true") %>
                            <%= label_tag('local-rtsp', "Local RTSP Port", class: "float-label") %>
                            <% if field_errors["internal_rtsp_port"] %>
                            <span class="help-block form-error text-left"><%= field_errors["internal_rtsp_port"] %></span>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='form-actions col-sm-6 margin-top-20'>
              <div class="form-group">
                <label class="control-label" for="add-button"></label>
                <section class="progress-demo">
                  <button id="add-button" name="add-button" class="btn btn-primary ladda-button" role="button" data-size="xl" data-style="expand-left">
                    Add Camera
                  </button>
                </section>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="media" id="add-test">
              <div class="test-img-holder">
                <img id="testimg" src="" class="text-center testimg-add" width="100%"></div>
              <div class="test-snapshot">
                <section class="progress-demo">
                  <a id="test-snapshot" class="btn btn-primary ladda-button" role="button" data-style="expand-left"><span class="ladda-label">Test Snapshot</span></a>
                </section>
                <div id="test-error"><span></span></div>
              </div>
            </div>
          </div>

          <% end %>
        </div>
        <div class="tab-pane" id="tab_1_2">
          <div class="col-lg-12 margin-bottom-20">
            <p>
              Use your Android phone as a camera by installing Evercam Capture.
            </p>
            <a href="https://play.google.com/store/apps/details?id=io.evercam.capture" target="_blank">
              <img alt="Android app on Google Play" src="//developer.android.com/images/brand/en_app_rgb_wo_60.png" width="110px" margin-top="20px"/>
            </a>
          </div>
        </div>
        <div class="tab-pane" id="tab_1_3"></div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
  window.initializeAddCameraTest();
  });
</script>
