<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<div class="page-container" id="camera-index">
  <div class="page-sidebar-wrapper">
    <!-- sidebar menu start-->
    <div id="sidebar" class="page-sidebar navbar-collapse collapse">

      <ul id="nav-accordion" class="page-sidebar-menu slimScrollBar" data-auto-scroll="true" data-slide-speed="200">
        <!-- <li class="sidebar-toggler-wrapper">
         <div class="sidebar-toggle-box">
         <div class="sidebar-toggler .fa-bars">
         </div></div>
       </li>-->
        <li>
          <a class="active" href="javascript:;">
            <i class="icon-camera"></i>My Cameras <i class="fa fa-angle-down"></i>
          </a>
          <ul class="sub-menu">
            <% @cameras.each do |camera| %>
              <li class="sub-menu-item">
                <a href="/cameras/<%= camera['id'] %>?share=false">
                  <%= camera['name'] %>
                  <% if camera['is_online'] %>
                  <% else %>
                    <i class="red fa fa-chain-broken"></i>
                  <% end %>
                </a>
              </li>
            <% end %>
            <% @shares.each do |camera| %>
              <li class="sub-menu-item">
                <a href="/cameras/<%= camera['id'] %>?share=true">
                  <%= camera['name'] %>
                  <i class="icon-users"></i>
                  <% if camera['is_online'] %>
                  <% else %>
                    <i class="red fa fa-chain-broken"></i>
                  <% end %>
                </a>
              </li>
            <% end %>
          </ul>
        </li>

        <li>
          <a class="public-cam" href="/publiccam"><i class="icon-map"></i>Public Cameras</a>
        </li>

        <li>
          <a href="/cameras/new"><i class="icon-plus"></i>Add Camera</a>
        </li>
        <li>
          <a href="/dev">
            <i class="icon-briefcase"></i><span class="title">Developer</span>
          </a>

        </li>
      </ul>
    </div>
    <!-- sidebar menu end-->
  </div>
  <div class="page-content-wrapper">
    <div id="main-content" class="page-content">

      <!--main content start-->
      <% @cameras.each do |camera| %>

        <div class="col-lg-4 camera-index">
          <a class="" href="/cameras/<%= camera['id'] %>?share=false">
            <div class="snapshot">
              <%= preview(camera) %>
            </div>
            <div class="camera-info">
              <div class="camera-name">
                <%= camera['name'] %><% if camera['is_online'] %>
                <% else %>
                  <i class="red fa fa-chain-broken"></i>
                <% end %>
                <a href="#" id="cam-refresh" class="refresh"><span class="glyphicon glyphicon-refresh"></span></a>
              </div>
            </div>
          </a>
        </div>


      <% end %>

      <% @shares.each do |camera| %>

        <div class="col-lg-4 camera-index">
          <a href="/cameras/<%= camera['id'] %>?share=true">
            <div class="snapshot">
              <%= preview(camera) %>
            </div>
            <div class="camera-info">
              <div class="camera-name">
                <%= camera['name'] %><% if camera['is_online'] %>
                <% else %>
                  <i class="red fa fa-chain-broken"></i>
                <% end %>
                <a href="#" id="cam-refresh" class="refresh"><span class="glyphicon glyphicon-refresh"></span></a>
              </div>
            </div>
          </a>
        </div>

      <% end %>

      <!--main content end-->

    </div>
  </div>
</div>
<%= javascript_include_tag "cameras" %>
<script type="text/javascript">

  Notification.init(".bb-alert");
  <% if flash[:message] %>
  Notification.show('<%= flash[:message] %>');
  <% end %>

  $('.sidebar-toggle-box ').click(function (e) {
    $('#sidebar').toggleClass('hide-left-bar');
    $('#main-content').toggleClass('merge-left');
    e.stopPropagation();
    if( $('#container').hasClass('open-right-panel')){
      $('#container').removeClass('open-right-panel')
    }
    if( $('.right-sidebar').hasClass('open-right-bar')){
      $('.right-sidebar').removeClass('open-right-bar')
    }

    if( $('.header').hasClass('merge-header')){
      $('.header').removeClass('merge-header')
    }



  });
  $('.toggle-right-box .fa-bars').click(function (e) {
    $('#container').toggleClass('open-right-panel');
    $('.right-sidebar').toggleClass('open-right-bar');
    $('.header').toggleClass('merge-header');

    e.stopPropagation();
  });

  $('.header,#main-content,#sidebar').click(function () {
    if( $('#container').hasClass('open-right-panel')){
      $('#container').removeClass('open-right-panel')
    }
    if( $('.right-sidebar').hasClass('open-right-bar')){
      $('.right-sidebar').removeClass('open-right-bar')
    }

    if( $('.header').hasClass('merge-header')){
      $('.header').removeClass('merge-header')
    }


  });


</script>