<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container" id="camera-index">
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">

      <li class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler">
        </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
      </li>
      <li class="start ">
        <a href="javascript:;">
          <i class="icon-camera"></i>
          <span class="title">My Cameras</span>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <% @cameras.each do |camera| %>
            <li class="sub-menu-item">
              <a href="/cameras/<%= camera['id'] %>?share=false">
                <%= camera['name'] %>
                <% if camera['is_online'] %>
                <% else %>
                  <i class="red fa fa-chain-broken"></i>
                <% end %>
              </a>
            </li>
          <% end %>
          <% @shares.each do |camera| %>
            <li class="sub-menu-item">
              <a href="/cameras/<%= camera['id'] %>?share=true">
                <%= camera['name'] %>
                <i class="icon-users"></i>
                <% if camera['is_online'] %>
                <% else %>
                  <i class="red fa fa-chain-broken"></i>
                <% end %>
              </a>
            </li>
          <% end %>
        </ul>
      </li>
      <li>
        <a href="/publiccam">
          <i class="icon-map"></i>
          <span class="title">Public Cameras</span>
        </a>
      </li>
      <li>
        <a href="/cameras/new">
          <i class="icon-plus"></i>
          <span class="title">Add Camera</span>
        </a>
      </li>
      <li class="last">
        <a href="javascript:;">
          <i class="icon-briefcase"></i>
          <span class="title">Developer</span>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="/dev">API Docs</a>
          </li>
          <li>
            <a href="javascript:;">
              Widgets <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="/widgets-new">Live View Widget</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

    </ul>
    <!-- END SIDEBAR MENU -->
  </div>
</div>
<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <div class="page-content">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            Widget settings form goes here
          </div>
          <div class="modal-footer">
            <button type="button" class="btn blue">Save changes</button>
            <button type="button" class="btn default" data-dismiss="modal">Close</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->


    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
      <div class="col-md-12">
        <!--main content start-->
        <% @cameras.each do |camera| %>

          <div class="col-lg-4 camera-index">
            <a class="" href="/cameras/<%= camera['id'] %>?share=false">
              <div class="snapshot">
                <%= preview(camera) %>
              </div>
              <div class="camera-info">
                <div class="camera-name">
                  <%= camera['name'] %><% if camera['is_online'] %>
                  <% else %>
                    <i class="red fa fa-chain-broken"></i>
                  <% end %>
                  <a href="#" id="cam-refresh" class="refresh"><span class="glyphicon glyphicon-refresh"></span></a>
                </div>
              </div>
            </a>
          </div>


        <% end %>

        <% @shares.each do |camera| %>

          <div class="col-lg-4 camera-index">
            <a href="/cameras/<%= camera['id'] %>?share=true">
              <div class="snapshot">
                <%= preview(camera) %>
              </div>
              <div class="camera-info">
                <div class="camera-name">
                  <%= camera['name'] %><% if camera['is_online'] %>
                  <% else %>
                    <i class="red fa fa-chain-broken"></i>
                  <% end %>
                  <a href="#" id="cam-refresh" class="refresh"><span class="glyphicon glyphicon-refresh"></span></a>
                </div>
              </div>
            </a>
          </div>

        <% end %>

      </div>
    </div>
    <!-- END PAGE CONTENT-->
  </div>
</div>
<!-- END CONTENT -->

</div>
<!-- END CONTAINER -->

<%= javascript_include_tag "cameras" %>
<script>
  jQuery(document).ready(function() {
    Metronic.init(); // init metronic core components
    Layout.init(); // init current layout
    QuickSidebar.init() // init quick sidebar
  });
</script>
