<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<%= render :partial => "sidebar/sidebar" %>

<section id="main-content">
  <section class=" wrapper site-min-height">

    <section class="panel">
      <% @cameras.each do |camera| %>
        <a href="/cameras/<%= camera['id'] %>?share=false">
          <div class="col-md-4 col-sm-6 col-xs-12 cam-box">
            <div id="cam-name"><h5><%= camera['name'] %></h5></div>
            <%= preview(camera) %>
            <div id="offline"> <% if camera['is_online'] %>
                <span class="green">Online</span>
              <% else %>
                <span class="red">Offline</span>
              <% end %>
              <a href="#" id="cam-refresh" class="refresh"><span class="glyphicon glyphicon-refresh"></span></a>
            </div>
          </div>
        </a>
      <% end %>
    </section>    

    <section class="panel">
      <% @shares.each do |camera| %>
        <div class="col-md-4 col-sm-6 col-xs-12 cam-box">
          <a href="/cameras/<%= camera['id'] %>?share=true">
            <div id="cam-name"><h5><%= camera['name'] %></h5></div>
            <%= preview(camera) %>
            <div id="offline"> <% if camera['is_online'] %>
                <span class="green">Online</span>
              <% else %>
                <span class="red">Offline</span>
              <% end %>
              <a href="#" id="cam-refresh" class="refresh"><span class="glyphicon glyphicon-refresh"></span></a>
            </div>
          </a>
        </div>
      <% end %>
    </section>

  </section>
</section>
<!--main content end-->