<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<div class="boxed-page">
  <div class="container clearfix">
    <section id="camera-dash">

    <!--sidebar start-->
      <div id="sidebar" class="col-md-2 col-xs-12">
        <ul class="sidebar-menu">
          <li class="menu-item active">
            <a href="/cameras" class="">
              <span>My Cameras</span>
            </a>
          </li>
          <ul class="plus">
            <% @cameras.each do |camera| %>
            <li class="sub-menu-item">
              <a href="/cameras/<%= camera['id'] %>?share=false">
                <div id="offline-menu"> <% if camera['is_online'] %>
                    <span class="green-dot"><small>on</small></span>
                  <% else %>
                    <span class="red-dot"><small>off</small></span>
                  <% end %>
                </div>
                <%= camera['name'] %>
              </a>
            </li>
            <% end %>
          </ul>
          <li class="menu-item active">
            <a href="/cameras" class="">
              <span>Cameras Shared With Me</span>
            </a>
          </li>
          <ul class="plus">
              <% @shares.each do |camera| %>
              <li class="sub-menu-item">
                <a href="/cameras/<%= camera['id'] %>?share=true">
                  <div id="offline-menu"> <% if camera['is_online'] %>
                      <span class="green-dot"><small>on</small></span>
                    <% else %>
                      <span class="red-dot"><small>off</small></span>
                    <% end %>
                  </div>
                  <%= camera['name'] %>
                </a>
              </li>
              <% end %>
          </ul>
          <li class="menu-item">
            <a href="/cameras/new"><span class="glyphicon glyphicon-plus"></span>Add IP Camera</a>
          </li>
         <li class="menu-item">
            <a href="/add-android"><span class="glyphicon glyphicon-plus"></span>Add Android Camera</a>
          </li>
          <li class="menu-item">
             <a href="/publiccam"><span class="glyphicon glyphicon-plus"></span>Add Public Camera</a>
           </li>
        </ul>
      </div>
      <!--sidebar end-->
      <!--main content start-->
      <div class="col-md-10 col-xs-12 wrapper">
        <section id="main-content">
            <div>

              <% @cameras.each do |camera| %>
                <a href="/cameras/<%= camera['id'] %>?share=false">
              <div class="col-md-4 col-sm-6 col-xs-12 cam-box">
                  <div id="cam-name"><h5><%= camera['name'] %></h5></div>
                    <%= preview(camera) %>
                <div id="offline"> <% if camera['is_online'] %>
                          <span class="green">Online</span>
                      <% else %>
                          <span class="red">Offline</span>
                      <% end %>
                      <a href="#" id="cam-refresh" class="refresh"><span class="glyphicon glyphicon-refresh"></span></a>
                    </div>
              </div>
                </a>
              <% end %>

              <% @shares.each do |camera| %>
              <div class="col-md-4 col-sm-6 col-xs-12 cam-box">
                <a href="/cameras/<%= camera['id'] %>?share=true">
                  <div id="cam-name"><h5><%= camera['name'] %></h5></div>
                    <%= preview(camera) %>
                  <div id="offline"> <% if camera['is_online'] %>
                        <span class="green">Online</span>
                    <% else %>
                        <span class="red">Offline</span>
                    <% end %>
                    <a href="#" id="cam-refresh" class="refresh"><span class="glyphicon glyphicon-refresh"></span></a>
                  </div>
                </a>
              </div>
              <% end %>

              <div class="col-md-4 col-sm-6 col-xs-12 add-cam-box">
                <a href="/cameras/new">
                  <p><span class="glyphicon glyphicon-plus"></span>Add an IP Camera</p>
                </a>
              </div>

            </div>
        </section>
      </div>
      <!--main content end-->
    </section>
  </div>
</div> <!--boxed page end-->
<%= javascript_include_tag "cameras" %>
<script type="text/javascript">

   Notification.init(".bb-alert");
   <% if flash[:message] %>
   Notification.show('<%= flash[:message] %>');
   <% end %>

</script>