<%= content_for(:title, "Evercam: Camera Dashboard") %>
<div class="page-content-wrapper">
  <div class="page-content" id="camera-index">
    <% if params[:controller] == 'cameras' && params[:action] == 'index' && @show_alert_message %>
      <div class="biling-alert alert alert-danger">
        <span>You require <%= @required_licences %> additional licences.
          <%= link_to "Buy Licences", billing_path(current_user.username), class: "billing-link" %>
        </span>
      </div>
    <% end %>
    <% @cameras.each do |camera| %>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 camera-index camera-<%= camera['id'] %> <%= "camera-offline" unless camera['is_online'] %>">
        <% unless camera['is_online'] %>
          <div id= "<%= camera['id'] %>" class="refresh-camera-thumbnail"><i class="fas fa-sync fav-icon-still"></i>
            <i class='fas fa-sync fa-spin fa-1x fa-fw refresh-gif-thumbnail' aria-hidden='true'></i>
          </div>
        <% end %>
        <%= link_to cameras_single_path(camera['id']) do %>
          <div class="snapshot">
            <%= preview(camera, true) %>
          </div>
          <div class="camera-info">
            <div class="camera-name">
              <%= camera['name'] %>
              <i class="red fa fa-unlink"></i>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<input type="hidden" id="index-camera-count" value="<%= @camera_count %>">

<script>
  $(document).ready(function () {
    window.initializeCameraIndex();
  });
</script>
