<%= content_for(:title, "Evercam: Camera Dashboard") %>
<% if Rails.env.staging? || Rails.env.production? %>
<script>
  mixpanel.identify("<%= current_user.username %>"),
    mixpanel.people.set({
      "$first_name": "<%= current_user.firstname %>",
      "$last_name": "<%= current_user.lastname %>",
      "$created": "<%= current_user.created_at %>",
      "$email": "<%= current_user.email %>",
      "Username": "<%= current_user.username %>"
    });
</script>
<% end %>
<div class="page-content-wrapper">
  <div class="page-content" id="camera-index">
    <% @cameras.each do |camera| %>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 camera-index camera-<%= camera['id'] %> <%= "camera-offline" unless camera['is_online'] %>">
        <% unless camera['is_online'] %>
          <div id= "<%= camera['id'] %>" class="refresh-camera-thumbnail"><i class="icon-refresh"></i>
            <img src="/assets/refresh.gif" class="refresh-gif-thumbnail">
          </div>
        <% end %>
        <%= link_to cameras_single_path(camera['id']) do %>
          <div class="snapshot">
            <%= preview(camera, true) %>
          </div>
          <div class="camera-info">
            <div class="camera-name">
              <%= camera['name'] %>
              <i class="red fa fa-chain-broken"></i>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= link_to cameras_new_path, class: 'add-camera-index' do %>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 add-camera-outer">
        <div class="add-camera-info">
          <span class="add-camera-icon">+</span>
          <p class="add-camera">Add a Camera</p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function () {
    window.initializeCameraIndex();
  });
</script>
