<%= content_for(:title, "Evercam: Add Camera") %>
<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>

<div class="page-container">
<!-- BEGIN SIDEBAR -->
<%= render :partial => "sidebar/sidebar" %>
<!-- END SIDEBAR -->

<div class="page-content-wrapper">
<div class="page-content" id="add-ip">

<!--main content start-->
<div class="tabbable tabbable-custom">
<ul class="nav nav-tabs">
  <li class="active">
    <a href="#tab_1_1" data-toggle="tab">
      Add IP Camera </a>
  </li>
  <li>
    <a href="#tab_1_2" data-toggle="tab">
      Add Android Camera
    </a>
  </li>
<!-- <li>
    <a href="#tab_1_3" data-toggle="tab">
      Add a WebCam
    </a>
  </li>-->
</ul>

<div class="tab-content">

<div class="tab-pane active" id="tab_1_1">

<!-- FORM START -->
<%= form_tag('/cameras/new', method: 'post', class: "form-horizontal has-validation-callback") do %>
  <% field_errors = (flash[:field_errors] || {}) %>
  <div class="col-md-12">
  <form class="form-horizontal" autocomplete="off" role="form">
  <!-- A workaround for chrome autofill entering camera user & pass autocomplete="off" no longer obeyed -->
  <input style="display:none" type="text" name="fakeusernameremembered"/>
  <input style="display:none" type="password" name="fakepasswordremembered"/>

  <div class="col-md-11">

  <!--NAME & ID -->
  <div class="row">
    <div class='col-md-12'>
      <div class='<%= field_errors["name"] ? ' has-error' : '' %>'>
        <%= label_tag('camera-name', "Friendly Name*", class: "col-md-2 control-label") %>
        <div class="col-md-3">
          <%= text_field_tag("camera-name", @user['camera-name'], "placeholder" => "Rooftop Camera", "class" => "form-control", "data-validation-help" => "To identify your camera in the dashboard.", "data-validation" => "alphanumeric length", "data-validation-length" => "max24", "data-validation-allowing" => "-_ ", "data-validation-error-msg" => "Max 24 characters containing letters, spaces and hyphens.") %>
          <% if field_errors["name"] %>
            <span class="help-block form-error text-left"><%= field_errors["name"] %></span>
          <% end %>

        </div>
      </div>
      <div class='model<%= field_errors["id"] ? ' has-error' : '' %>'>
        <%= label_tag('camera-id', "Evercam ID*", class: "col-md-2 control-label") %>
        <div class="col-md-3">
          <%= text_field_tag("camera-id", @user['camera-id'], "placeholder" => "roof-cam", "class" => "form-control", "data-validation-help" => "This must be unique and cannot be changed.", "data-validation" => "alphanumeric length custom", "data-validation-regexp" => "^[a-z0-9._/-]{2,100}$", "data-validation-length" => "min4", "data-validation-allowing" => "-_", "data-validation-error-msg" => "Min 4 characters. Only lowercase letters, numbers &amp; hyphens and underscores. No spaces.") %>
          <% if field_errors["id"] %>
            <div class="help-block form-error text-left"><%= field_errors["id"] %></div>
          <% end %>
         <!-- <div id="box" class="box">
            This must be unique and cannot be changed.
          </div>-->
        </div>
      </div>
      <!-- <span class="col-sm-1 label label-default additional info-2">?</span>
       <div class='row col-lg-12 settings'>
         <p class="help">The Friendly Name is how you will identify your Camera in the Dashboard. You also need to create an ID for each camera that will have to be Unique to Evercam.</p>
       </div>-->
    </div>
  </div>


  <!-- MAKE & MODEL -->
  <div class='row margin-top-40'>
    <div class='col-md-12'>
      <div class='<%= field_errors["vendor"] ? ' has-error' : '' %>'>
        <%= label_tag('camera-vendor', "Camera Vendor", class: "col-md-2 control-label") %>
        <div class="col-md-3">
          <%= select_tag('camera-vendor', options_from_collection_for_select(vendors, "exid", "name"), class:"form-control", prompt: "Select Make", selected: @user[:vendor]) %>
          <% if field_errors["vendor"] %>
            <span class="help-block form-error text-left"><%= field_errors["vendor"] %></span>
          <% end %>
        </div>
      </div>

      <div class='<%= field_errors["model"] ? ' has-error' : '' %>'>
        <%= label_tag('camera-model', "Camera Model", class: "col-md-2 control-label") %>
        <div id="reveal" class="col-md-3">
          <p class="help-block this form-error text-left" style="display: none;">Leave this as 'Default' if you're unsure</p>
          <% vendors.each do |v| -%>
            <select id="camera-model<%= v.exid -%>" name="camera-model<%= v.exid -%>" class="form-control camera-model hidden">
              <% models(v.id).each_with_index  do |m, index| -%>
                <% if index == 0 %>
                  <option selected="selected" jpg-val="<%= m.jpg_url -%>" value="<%= m.exid  -%>"><%= m.name -%></option>
                <% else %>
                  <option jpg-val="<%= m.jpg_url -%>" value="<%= m.exid  -%>"><%= m.name -%></option>
                <% end %>
              <% end -%>
            </select>
          <% end %>
          <% if field_errors["model"] %>
            <span class="help-block form-error text-left"><%= field_errors["model"] %></span>
          <% end %>

        </div>
      </div>
      <!--          <span class="col-sm-1 label label-default additional info-2">?</span>
                <div class='col-lg-11 settings row'>
                  <p class="help">The Camera Vendor &amp; Model can help retrieve the snapshot of the Camera.</p>
                </div>-->
    </div>
  </div>


  <!-- SNAPSHOT PATH -->
  <div class='row margin-top-30'>
    <div class='col-md-12'>

      <label for="" class="col-md-2 control-label margin-top-30">Snapshot URL</label>
      <div id="unreveal" class="col-md-3">
        <div id="ext-ip" class='<%= field_errors["external_host"] ? ' has-error' : '' %>'>
          <%= label_tag('camera-url', raw("External <strong>IP</strong> (or URL)*"), class: "grey control-label") %>
          <div class="input-group">
            <span class="input-group-addon">http://</span>
            <%= text_field_tag("camera-url", @user['camera-url'], "placeholder" => "149.5.43.10", "class" => "form-control", "data-validation-help" => "Just include the domain. Not http:// or anything anything from the first /", "data-validation" => "custom", "data-validation-regexp" => "^[a-zA-Z0-9._/-]{2,100}$", "data-validation-error-msg" => "This should be in the form of <strong>149.5.43.10</strong> or <strong>portlarochelle.com</strong>") %>
          </div>
          <div id="box" class="box">
            <% if field_errors["external_host"] %>
              <span class="help-block form-error text-left"><%= field_errors["external_host"] %></span>
            <% end %>
          </div>
        </div>

      </div>

      <div class='col-md-2<%= field_errors["external_http_port"] ? ' has-error' : '' %>'>
        <%= label_tag('port', raw("HTTP Port*"), class: "grey control-label") %>
        <div id="camera-port" class="input-group">
          <span class="prepend prepend-1">:</span>
          <%= text_field_tag("port", @user['port'] || 80, "placeholder" => "8001", "class" => "form-control", "data-validation" => "custom", "data-validation-regexp" => "^[0-9]{2,5}$", "data-validation-error-msg" => "The Port should be a 2-5 digit number.") %>
          <% if field_errors["external_http_port"] %>
            <span class="help-block form-error text-left"><%= field_errors["external_http_port"] %></span>
          <% end %>
        </div>
      </div>

      <div class='col-md-3<%= field_errors["jpg_url"] ? ' has-error' : '' %>'>
        <%= label_tag('snapshot', "Snapshot URL Ending*", class: "grey control-label") %>
        <div class="snap-end">
          <span class="prepend prepend-2">/</span>
          <%= text_field_tag("snapshot", @user['snapshot'], "placeholder" => "snapshot.jpg", "class" => "form-control", "data-validation-help" => "Include the entire snapshot path after the domain eg.data-externe/webcam/webcam.jpg", "data-validation" => "alphanumeric", "data-validation-allowing" => "-_/.?=", "data-validation-error-msg" => "" ) %>
        </div>

      </div>

      <!--              <span class="col-sm-1 label label-default additional info-2">?</span>
                    <div class='col-lg-12 settings row'>
                      <p class="help">This is the snapshot path of the camera. It will contain the IP, the External HTTP port and the entire snapshot ending. eg. http://149.5.43.10:8001/snapshot.jpg</p>
                    </div>-->


    </div><!-- col-12 -->
  </div><!-- row -->

  <!-- USERNAME & PASS -->
  <div class="row margin-top-40">
    <div class='col-md-12'>

      <div class='<%= field_errors["username"] ? ' has-error' : '' %>'>
        <%= label_tag('camera-username', "Camera Username", class: "col-md-2 control-label") %>
        <div class="col-md-3">
          <%= text_field_tag("camera-username", @user['camera-username'], "data-validation-help" => "Enter the Username of the camera.", "class" => "form-control") %>
          <% if field_errors["username"] %>
            <span class="help-block form-error text-left"><%= field_errors["username"] %></span>
          <% end %>
        </div>
      </div>
      <div class='<%= field_errors["password"] ? ' has-error' : '' %>'>
        <%= label_tag('camera-password', "Camera Password", class: "col-md-2 control-label") %>
        <div class="col-md-3">
          <%= password_field_tag("camera-password", @user['camera-password'],"data-validation-help" => "Enter the Password of the camera.",  class: "form-control") %>
          <% if field_errors["password"] %>
            <span class="help-block form-error text-left"><%= field_errors["password"] %></span>
          <% end %>
        </div>
      </div>
      <!--<span class="col-lg-1 label label-default additional info-2">?</span>
      <div class='col-lg-12 settings row'>
        <p class="help">The camera you are trying to connect will already have a Username &amp; Password associated with it. These credentials will have been created by the camera owner.</p>
      </div>-->

    </div><!-- col-12 -->
  </div><!-- row -->


  <!-- USERNAME & PASS -->
  <div class="row margin-top-30">
    <div class='col-md-12'>
      <div class="btn additional expand">Additional Settings <i class="fa fa-caret-down"></i></div>

      <!-- STEP 4  -->
      <div class="settings">

        <div class="row margin-top-20">
          <div class="col-md-12">
            <label for="" class="col-md-2 control-label">Local IP</label>
            <div class="col-md-3">
              <div class='<%= field_errors["internal_host"] ? ' has-error' : '' %>'>
                <%= label_tag('local-ip', "Local IP", class: "col-md-2 control-label hide") %>
                <div class="input-group">
                  <span class="input-group-addon">http://</span>
                  <%= text_field_tag("local-ip", @user['local-ip'], "class" => "form-control", "data-validation" => "custom", "data-validation-regexp" => "^[a-zA-Z0-9._/-]{2,100}$", "data-validation-error-msg" => "This doesn't appear to be a valid IP or URL.", "data-validation-optional" => "true") %>
                  <% if field_errors["internal_host"] %>
                    <span class="help-block form-error text-left"><%= field_errors["internal_host"] %></span>
                  <% end %>

                </div>
              </div>
            </div>

            <div class='<%= field_errors["internal_http_port"] ? ' has-error' : '' %>'>
              <%= label_tag('local-http', "Local HTTP Port", class: "col-md-2 control-label") %>
              <div class="col-md-3">
                <%= text_field_tag("local-http", @user['local-http'], "class" => "form-control", "data-validation" => "custom", "data-validation-regexp" => "^[0-9]{2,5}$", "data-validation-error-msg" => "The Port should be a 2-5 digit number.", "data-validation-optional" => "true") %>
                <% if field_errors["internal_http_port"] %>
                  <span class="help-block form-error text-left"><%= field_errors["internal_http_port"] %></span>
                <% end %>
              </div>
            </div>

          </div>
        </div>


        <div id="port" class="row margin-top-20">
          <div class="col-md-12">
            <div class='<%= field_errors["external_rtsp_port"] ? ' has-error' : '' %>'>
              <%= label_tag('ext-rtsp-port', raw("External RTSP Port"), class: "col-md-2 control-label") %>
              <div class="col-md-3">
                <%= text_field_tag("ext-rtsp-port", @user['ext-rtsp-port'], "class" => "form-control", "data-validation" => "custom", "data-validation-regexp" => "^[0-9]{2,5}$","data-validation-help" => "The port should be a 2-5 digit number", "data-validation-error-msg" => "The Port should be a #, 2-5 digits.", "data-validation-optional" => "true") %>
                <% if field_errors["external_rtsp_port"] %>
                  <span class="help-block form-error text-left"><%= field_errors["external_rtsp_port"] %></span>
                <% end %>
              </div>
            </div>
            <div class='<%= field_errors["internal_rtsp_port"] ? ' has-error' : '' %>'>
              <%= label_tag('local-rtsp', "Local RTSP Port", class: "col-md-2 control-label") %>
              <div class="col-md-3">
                <%= text_field_tag("local-rtsp", @user['local-rtsp'], "class" => "form-control", "data-validation" => "custom", "data-validation-regexp" => "^[0-9]{2,5}$", "data-validation-error-msg" => "The Port should be a 2-5 digit number.", "data-validation-optional" => "true") %>
                <% if field_errors["internal_rtsp_port"] %>
                  <span class="help-block form-error text-left"><%= field_errors["internal_rtsp_port"] %></span>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div><!-- settings -->
    </div>
  </div>
  </div><!-- END COL-md-11-->

  <div class="col-md-1">
    <div class="media" id="add-test">
      <div class="test-img-holder"><img id="testimg" src="" class="text-center testimg-add" width="100%"></div>
      <div class="test-snapshot">
        <section class="progress-demo">
        <a href="#" id="test" class="btn btn-primary ladda-button" role="button" data-style="expand-left"><span class="ladda-label">Test Snapshot</span></a>
        </section>
        <div id="test-error"><span></span></div>
      </div>
    </div>

  </div>
  <!-- FINISH & ADD -->
  <div class="row">
    <div class='form-actions col-md-12'>
      <div class='form-actions col-md-6 col-md-offset-2 margin-top-20'>
        <div class="form-group">
          <label class="control-label" for="add-button"></label>
            <section class="progress-demo">
              <button id="add-button" name="add-button" class="btn btn-primary ladda-button" role="button" data-size="xl" data-style="expand-left"><span class="ladda-label"> Finish &amp; Add</span></button>
            </section>
        </div>
      </div>
    </div>
  </div>
<% end %>
</form>

</div>
<!-- FORM END. -->


</div><!-- END TAB PANE 1 -->


<div class="tab-pane" id="tab_1_2">
  <div class="col-lg-12 margin-bottom-20">
    <p>
      Easily add your Android cameras to the Evercam Dashoard with our Evercam Play App.
    </p>

    <a href="https://play.google.com/store/apps/details?id=io.evercam.capture" target="_blank">
      <img alt="Android app on Google Play" src="http://developer.android.com/images/brand/en_app_rgb_wo_60.png" width="110px" margin-top="20px"/>
    </a>
  </div>
</div><!-- TAB PANE 3 -->

 <div class="tab-pane" id="tab_1_3">



</div><!--END TAB PANE 3 -->


</div><!-- TAB CONTENT -->

</div><!-- PAGE CONTENT -->
</div><!-- PAGE CONTENT WRAPPER -->


</div><!-- PAge Container -->



<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
<script>
  function validate_hostname(str) {
    var ValidIpAddressRegex = /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/;
    var ValidHostnameRegex = /^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$/;
    return ValidIpAddressRegex.test(str) || ValidHostnameRegex.test(str);
  }

  $(document).ready(function () {

    // TOGGLE ADD. SETTINGS
    $(".settings").hide();
    //toggle the componenet with class msg_body
    $(".additional").click(function () {
      $(this).next(".settings").slideToggle(500);
    });

    Notification.init(".bb-alert");
    <% if flash[:message] %>
    Notification.show('<%= flash[:message][0] %>');
    <% end %>

    var previous;
    $('#camera-vendor').one('focus', function () {
      previous = this.value;
    }).on('change', function () {
      $('#camera-model' + previous).addClass('hidden');
      $('#camera-model' + this.value).removeClass('hidden');
      $('#snapshot').val($('#camera-model' + this.value).find(":selected").attr('jpg-val'));
      previous = this.value;
    });

    $(".camera-model").on('change',function(){
      $('#snapshot').val($(this).find(":selected").attr('jpg-val'));
    });

    Metronic.init(); // init metronic core components
    Layout.init(); // init current layout
    QuickSidebar.init() // init quick sidebar

    $.validate();
  });

  var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
      showLeft = document.getElementById( 'showLeft' )
  body = document.body;

  showLeft.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( menuLeft, 'cbp-spmenu-open' );
    disableOther( 'showLeft' );
  };


  function disableOther( button ) {
    if( button !== 'showLeft' ) {
      classie.toggle( showLeft, 'disabled' );
    }

  }
  $("#hide").click(function(){
    $("p").fadeOut();
  });

  $(document).ready(function(){
    $("#reveal").click(function(){
      $(".this").fadeIn();
    });
    $("#unreveal").click(function(){
      $(".this").fadeOut();
    });
  });

  var EVERCAMP_API = '<%= EVERCAM_API %>';
</script>
<%= javascript_include_tag "testsnapshot"%>
