<%= content_for(:title, "Evercam: Add Camera") %>
<div id="add-ip" class="add-ip" />
<div class="page-content-wrapper">
  <div class="page-content">
    <div class="tabbable tabbable-custom">
      <div class="center-tabs">
        <ul class="nav nav-tabs add-camera-page">
          <li class="active">
            <a href="#tab_1_1" data-toggle="tab">
              Add IP Camera </a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_1_1">
          <%= form_tag(cameras_new_path, method: 'post', id: 'create-a-camera', class: 'has-validation-callback', autocomplete: 'off', role: 'form') do %>
          <% field_errors = (flash[:field_errors] || {}) %>
          <!-- Workaround for Chrome autofill entering camera user & pass. (autocomplete="off" is no longer obeyed) -->
          <input style="display:none" type="text" name="fakeusernameremembered"/>
          <input style="display:none" type="password" name="fakepasswordremembered"/>
          <%= hidden_field_tag('camera-lat', @user['camera-lat']) %>
          <%= hidden_field_tag('camera-lng', @user['camera-lng']) %>

          <div class="col-sm-8 padding-left-0">
            <div class="row">
              <div class='col-sm-12 copy-from-section margin-bottom-20'>
                <div class="<%= field_errors["vendor"] ? ' has-error' : '' %> col-sm-12 col-md-12">
                  <div id="copy-from" class="col-md-12 col-sm-12 padding-left-0 copy-from">
                    <label  class="sidebar-type-label">
                      <input name="type" class="sidebar-chk-span" type="checkbox" value="">
                    </label>
                    <div id="copy-from-text" class="float-left copy-from-text">
                      <%= label_tag('copy-from', "Copy settings from existing camera", class: "control-label copy-from-label margin-right-15") %>
                    </div>
                    <div class="copy-from-camera form-group float-left">
                      <div class="copy-from">
                        <ul class="nav add-camera-page">
                          <li id="clone-camera-list" class="pull-left">
                            <a class="cameras-dropdown-toggle" data-toggle="dropdown" aria-expanded= "true">
                              <% if params[:id].present? %><%=params[:id] %><% else %>Select Camera<% end %><i class="fa fa-chevron-down fa-copy-from" aria-hidden="true"></i>
                              <i class="fa fa-chevron-up fa-copy-from" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu scroll-menu" role="menu">
                              <% @cameras.each do |camera| %>
                              <% if camera["rights"].split(",").include?("edit") %>
                                <li class="sub-menu-item <%= is_active?("/cameras/#{camera['id']}") %> <% unless camera['is_online'] %>sidebar-offline<% end %>">
                                <%= image_tag("#{EVERCAM_MEDIA_API}cameras/#{camera['id']}/thumbnail?api_id=#{current_user.api_id}&api_key=#{current_user.api_key}", :class => 'thumbnail-img') %>
                                <%= link_to camera['name'], cameras_clone_path(camera['id']) %>
                              </li>
                              <% end %>
                              <% end %>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="camera-friendly-name" class='col-sm-12 margin-top-20'>
                <div class="col-sm-4 col-md-4 <%= field_errors["name"] ? ' has-error' : '' %>">
                  <div class='form-group'>
                    <%= text_field_tag("camera-name", @user['camera-name'], "class" => "form-control", "required" =>"
                    ", "data-validation-help" => "To identify your camera in the dashboard, Max 24 characters.", "data-validation" => "alphanumeric length", "data-validation-length" => "max24", "maxlength" => "24", "data-validation-allowing" => "-_ ", "data-validation-error-msg" => "Containing letters, spaces and hyphens.", "data-validation-event" => "click") %>
                    <%= label_tag('camera-name', "Camera Friendly Name*") %>
                    <% if field_errors["name"] %>
                    <span class="help-block form-error text-left"><%= field_errors["name"] %></span>
                    <% end %>
                  </div>
                </div>
                <div class="<%= field_errors["vendor"] ? ' has-error' : '' %> col-sm-4 col-md-4">
                  <div class="form-group">
                    <%= label_tag('camera-vendor', "Camera Vendor", class: "control-label") %>
                    <div class="dropdown">
                      <select id="camera-vendor" name="camera-vendor" class="form-control">
                        <option value="">Select Camera Vendor</option>
                      </select>
                    </div>
                    <input type="hidden" id="last-selected-vendor" value="<%= @user['camera-vendor'] %>">
                    <% if field_errors["vendor"] %>
                    <span class="help-block form-error text-left"><%= field_errors["vendor"] %></span>
                    <% end %>
                  </div>
                </div>
                <div id="reveal" class="<%= field_errors["model"] ? ' has-error' : '' %> col-sm-4 col-md-4">
                  <div class="form-group">
                    <%= label_tag('camera-model', "Camera Model", class: "control-label") %>
                    <i class="fa fa-question-circle-o vendor-help-icon" aria-hidden="true" title="Select 'Default' if you're unsure"></i>
                    <div class="dropdown">
                      <select id="camera-model" name="camera-model" class="form-control camera-model">
                        <option value="">Select Camera Model</option>
                      </select>
                    </div>
                    <input type="hidden" id="last-selected-model" value="<%= @user['camera-model'] %>">
                    <% if field_errors["model"] %>
                    <span class="help-block form-error text-left"><%= field_errors["model"] %></span>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class='row margin-top-20'>
              <div class='col-sm-12'>
                <div id="unreveal" class="col-sm-4 col-md-4">
                  <div id="ext-ip" class='<%= field_errors["external_host"] ? ' has-error' : '' %>'>
                    <span class="prepend prepend-3">http://</span>
                    <div class="form-group margin-bottom-0">
                      <%= text_field_tag("camera-url", @user['camera-url'], "class" => "form-control", "data-validation-help" => "Your IP address is #{@ip}", "data-validation" => "custom", "data-validation-regexp" => "^[a-zA-Z0-9._/-]{2,100}$", "data-validation-error-msg" => "This should be in the form of <strong>149.5.43.10</strong> or <strong>portlarochelle.com</strong>. Your IP address is #{@ip}", "data-validation-event" => "click") %>
                      <%= label_tag('camera-url', raw("External <strong>IP</strong> (or URL)*"), class: "float-label") %>
                    </div>
                    <div id="box" class="box">
                      <% if field_errors["external_host"] %>
                      <span class="help-block form-error text-left"><%= field_errors["external_host"] %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class='col-sm-2 col-md-2 <%= field_errors["external_http_port"] ? ' has-error' : '' %>'>
                  <div id="camera-port" class="input-group camera-ext-port">
                    <span class="prepend prepend-1">:</span>
                    <div class="form-group external-port">
                      <%= text_field_tag("port", @user['port'] || 80, "class" => "form-control port-input", "required" => "", "data-validation" => "custom", "data-validation-length" => "max5", "maxlength" => "5", "data-validation-regexp" => "^[0-9]{2,5}$", "data-validation-error-msg" => "The Port should be a 2-5 digit number.", "data-validation-event" => "click") %>
                      <%= label_tag('port', raw("HTTP Port*"), class: "float-label") %>
                      <% if field_errors["external_http_port"] %>
                      <span class="help-block form-error text-left"><%= field_errors["external_http_port"] %></span>
                      <% end %>
                      <div class="port-status port-status"></div>
                      <img src="/assets/refresh.gif" class="refresh-gif icon-position">
                    </div>
                  </div>
                </div>
                <div class='col-sm-4 col-md-4 <%= field_errors["jpg_url"] ? ' has-error' : '' %>'>
                  <div class="snap-end">
                    <span class="prepend prepend-2">/</span>
                    <div class="form-group">
                      <input id="snapshot-readonly" class="form-control snapshot-readonly opacity hide" disabled value="<%= @user['snapshot'] %>"/>
                      <%= text_field_tag("snapshot", @user['snapshot'], "required" => "required", "class" => "form-control", "data-validation-help" => "Include the entire snapshot path after the domain eg.data-externe/webcam/webcam.jpg", "data-validation" => "alphanumeric", "data-validation-allowing" => "-_/.&?=", "data-validation-error-msg" => "", "data-validation-event" => "click") %>
                      <%= label_tag('snapshot', "Snapshot URL*") %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row margin-top-20">
              <div class='col-sm-12'>
                <div class='<%= field_errors["username"] ? ' has-error' : '' %>'>
                  <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                      <%= text_field_tag("camera-username", @user['camera-username'], "data-validation-help" => "Required if the camera needs authenticating", "class" => "form-control", "data-validation-event" => "click") %>
                      <%= label_tag('camera-username', "Camera Username", class: "float-label") %>
                      <% if field_errors["username"] %>
                      <span class="help-block form-error text-left"><%= field_errors["username"] %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class='<%= field_errors["password"] ? ' has-error' : '' %>'>
                  <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                      <%= text_field_tag("camera-password", @user['camera-password'], "data-validation-help" => "Enter the Password of the camera.", class: "form-control", "data-validation-event" => "click") %>
                      <%= label_tag('camera-password', "Camera Password", class: "float-label") %>
                      <% if field_errors["password"] %>
                      <span class="help-block form-error text-left"><%= field_errors["password"] %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='form-actions col-sm-6 margin-top-20'>
              <div class="form-group">
                <label class="control-label" for="add-button"></label>
                <section class="progress-demo">
                  <button id="add-button" name="add-button" class="btn btn-primary ladda-button" role="button" data-size="xl" data-style="expand-left">
                    Add Camera
                  </button>
                </section>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="media" id="add-test">
              <div class="test-img-holder">
                <img id="testimg" src="" class="text-center testimg-add hide" width="100%">
                <div class="img-holder-text">
                  Fill in your camera details</br> and click below to test the connection
                </div>
              </div>
              <div class="test-snapshot">
                <section class="progress-demo">
                  <a id="test" class="btn btn-primary ladda-button" role="button" data-style="expand-left"><span class="ladda-label">Test Snapshot</span></a>
                </section>
                <div id="test-error"><span></span></div>
              </div>
            </div>
          </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
  window.initializeAddCamera();
  });
</script>
