<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<div class="boxed-page">
<div class="container clearfix">
<section id="camera-single" >

<!--sidebar start-->
<div id="sidebar" class="col-md-2 col-xs-12">
  <ul class="sidebar-menu">

    <li class="menu-item">
      <a href="/cameras" class="">
        <span>My Cameras</span>
      </a>
    </li>

    <li class="menu-item">
      <a href="/cameras" class="">
        <span>Cameras Shared With Me</span>
      </a>
    </li>

    <li class="menu-item active">
      <a href="/cameras/new"><span class="glyphicon glyphicon-plus"></span>Add IP Camera</a>
    </li>
    <li class="menu-item">
      <a href="/add-android"><span class="glyphicon glyphicon-plus"></span>Add Android Camera</a>
    </li>
    <li class="menu-item">
      <a href="/publiccam"><span class="glyphicon glyphicon-plus"></span>Add Public Camera</a>
    </li>
  </ul>

</div>
<!--sidebar end-->


<!--main content start-->
<div class="col-lg-10 col-xs-12 wrapper">
  <section id="main-content">
    <div class="row">
    <div class='col-lg-10 col-lg-offset-1'>
    <h3>Add an IP Camera</h3>
    </div>
     </div>
    <form method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

      <!-- STEP 1 -->
      <fieldset>
        <div class='row add-row'>
          <div class='col-lg-10 col-lg-offset-1'>
            <div class='col-lg-5 form-group'>
              <label class="control-label" for="camera-name">Friendly Name</label>
              <input id="camera-name" name="camera-name" placeholder="Rooftop Camera" class="form-control" required="" type="text" data-validation="alphanumeric" data-validation-allowing="-_ " data-validation-error-msg="Can contain letters, numbers, spaces and hyphens." value="<%= params['camera-name'] %>">
            </div>
            <div class='col-lg-5 form-group'>
              <label class="control-label" for="camera-id">Evercam ID</label>
              <input id="camera-id" name="camera-id" placeholder="roof-cam" class="form-control" required="" type="text" data-validation="alphanumeric" data-validation-allowing="-_" data-validation-error-msg="Must be unique. Only letters, numbers &amp; hyphens. No spaces." value="<%= params['camera-id'] %>">
            </div>
          </div>
          <span class="col-lg-offset-10 label label-default additional info">?</span>
          <div class='col-lg-10 col-lg-offset-1 settings'>
            <p class="help">The Friendly Name is how you will identify your Camera in the Dashboard. You also need to create an ID for each camera that will have to be Unique to Evercam.</p>
          </div>
        </div>
      </fieldset>

      <!-- STEP 2 -->
      <fieldset>
        <div class='row add-row'>
          <div class='col-lg-10 col-lg-offset-1'>
            <div class='col-lg-5 form-group'>
              <label class="control-label" for="camera-username">Camera Username*</label>
              <input id="camera-username" name="camera-username" placeholder="camba" class="form-control" type="text" value="<%= params['camera-username'] %>">
            </div>
            <div class='col-lg-5 form-group'>
              <label class="control-label" for="camera-password">Camera Password*</label>
              <input id="camera-password" name="camera-password" placeholder="Camba123" class="form-control" type="text" value="<%= params['camera-password'] %>">
            </div>
          </div>
          <span class="col-lg-offset-10 label label-default additional info">?</span>
          <div class='col-lg-10 col-lg-offset-1 settings'>
            <p class="help">The camera you are trying to connect will already have a Username &amp; Password associated with it. These credentials will have been created by the camera owner.</p>
          </div>
        </div>
      </fieldset>

      <!-- STEP 3 -->
      <fieldset>
        <div class='row add-row-bottom'>
          <div class='col-lg-10 col-lg-offset-1'>
              <div class='col-lg-8'>
                <div class='row'>
                  <div class='col-lg-10 form-group'>
                    <label class="control-label" for="camera-url">External <strong>IP</strong> (or URL)*</label>
                    <div class="input-group">
                      <span class="input-group-addon">http://</span>
                      <input id="camera-url" name="camera-url" placeholder="149.5.43.10" class="form-control" required="" type="text" data-validation="custom" data-validation-regexp="^[a-zA-Z0-9._/-]{2,100}$" data-validation-error-msg="This doesn't appear to be a valid IP or URL." value="<%= params['camera-url'] %>">
                    </div>
                  </div>
                    <span class="label label-default additional info-sm">?</span>
                    <div class='col-lg-12 settings'>
                      <p class="help-sm">Can be in the form of 149.5.43.10 or webcam-1.faxa.rvk.is<br><span class="light-grey">http://<span class="blue">149.5.43.10</span>:8001/snapshot.jpg</span></p>
                    </div>
                </div>
                <div class='row snapshot'>
                  <div class='col-lg-5 form-group'>
                    <label class="control-label" for="port">External <strong>HTTP</strong> Port*</label>
                    <input id="port" name="port" placeholder="8001" class="form-control" required="" type="text" data-validation="custom" data-validation-regexp="^[0-9]{2,5}$"  data-validation-error-msg="The Port should be a 2-5 digit number." value="<%= params['port'] %>">
                  </div>
                  <div class='col-lg-5 form-group'>
                    <label class="control-label" for="ext-rtsp-port">External <strong>RTSP</strong> Port</label>
                    <input id="ext-rtsp-port" name="ext-rtsp-port" placeholder="554" class="form-control" type="text" data-validation="custom" data-validation-regexp="^[0-9]{2,5}$"  data-validation-error-msg="The Port should be a 2-5 digit number." data-validation-optional="true" value="<%= params['ext-rtsp-port'] %>">
                  </div>
                      <span class="label label-default additional info-sm">?</span>
                      <div class='col-lg-12 settings'>
                        <p class="help-sm">The External HTTP Port is contained in the Snapshot URL<br><span class="light-grey">http://149.5.43.10:<span class="blue">8001</span>/snapshot.jpg</span></p>
                      </div>
                </div>
                <div class='row snapshot'>
                  <div class='col-lg-10 form-group'>
                    <label class="control-label" for="snapshot">Snapshot URL Ending*</label>
                    <input type="text" id="snapshot" name="snapshot" placeholder="/snapshot.jpg" class="form-control" data-validation="custom" data-validation-regexp="^([/?].*)?$" data-validation-error-msg="This doesn't appear to be a valid snapshot URL ending. It must begin with a /" value="<%= params['snapshot'] %>" >
                  </div>
                  <span class="label label-default additional info-sm">?</span>
                  <div class='col-lg-12 settings'>
                    <p class="help-sm">This is the path to where the cameras snapshots are currently stored. It begins with a '/'. <br><span class="light-grey">http://149.5.43.10:8001<span class="blue">/snapshot.jpg</span></span></p>
                  </div>
                </div>

              </div>
              <div class='col-lg-4'>
                <div class="media">
                  <img id="testimg-add" src="/" class="text-center" width="100%">
                  <div class="test-snapshot"><a href="#" id="test" class="btn btn-primary ladda-button" role="button" data-style="expand-left"><span class="ladda-label">Test Snapshot</span></a></div>
                </div>
                <span id="test-error"><%= flash[:message] %></span>
              </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
      <div class="row add-row-bottom">
        <p class="col-lg-10 col-lg-offset-1 additional expand"><span class="glyphicon glyphicon-plus"></span>Additional Settings</p>

          <!-- STEP 4 -->
          <div class="col-lg-6 col-lg-offset-1 settings">
            <div class='row'>
              <div class='col-lg-6 form-group'>
                <label class="control-label" for="camera-vendor">Camera Vendor</label>
                <select id="camera-vendor" name="camera-vendor" class="form-control">
                  <option value="">Select Make</option>
                  <% vendors.each_with_index  do |v, index| -%>
                      <option value="<%= v.exid -%>">
                        <%= v.name -%>
                      </option>
                  <% end %>
                </select>
              </div>

              <div class='col-lg-6 form-group'>
                <label class="control-label">Camera Model</label>
                <% vendors.each do |v| -%>
                    <select id="camera-model<%= v.exid -%>" name="camera-model<%= v.exid -%>" class="form-control camera-model hidden">
                      <% models(v.id).each_with_index  do |m, index| -%>
                          <% if index == 0 %>
                              <option selected="selected" value="<%= m.name  -%>"><%= m.name -%></option>
                          <% else %>
                              <option value="<%= m.name  -%>"><%= m.name -%></option>
                          <% end %>
                      <% end -%>
                    </select>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class='col-lg-8 form-group'>
                <label class="control-label" for="local-ip">Local IP</label>
                <input id="local-ip" name="local-ip" placeholder="" class="form-control" type="text" data-validation="custom" data-validation-regexp="^[a-zA-Z0-9._/-]{2,100}$"  data-validation-error-msg="This doesn't appear to be a valid IP or URL." data-validation-optional="true" value="<%= params['local-ip'] %>">
              </div>
            </div>
            <div class="row">
              <div class='col-lg-6 form-group'>
                <label class="control-label" for="local-http">Local HTTP Port</label>
                <input id="local-http" name="local-http" placeholder="" class="form-control" type="text" data-validation="custom" data-validation-regexp="^[0-9]{2,5}$"  data-validation-error-msg="The Port should be a 2-5 digit number." data-validation-optional="true" value="<%= params['local-http'] %>">
              </div>
              <div class='col-lg-6 form-group'>
                <label class="control-label" for="local-rtsp">Local RTSP Port</label>
                <input id="local-rtsp" name="local-rtsp" placeholder="" class="form-control" type="text" data-validation="custom" data-validation-regexp="^[0-9]{2,5}$"  data-validation-error-msg="The Port should be a 2-5 digit number." data-validation-optional="true" value="<%= params['local-rtsp'] %>">
              </div>
            </div>

          </div><!-- Step 4 -->
         </div>
        </fieldset>

        <fieldset>
        <!-- FINISH & ADD -->
        <div class='row add-row'>
          <div class="col-lg-5 col-lg-offset-3">
            <div class='row'>
              <div class="text-center">
                <!-- Button -->
                <div class='col-lg-12'>
                  <div class="form-group">
                    <label class="control-label" for="add-button"></label>
                    <button id="add-button" name="add-button" class="btn btn-primary">Finish &amp; Add</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </fieldset>

      <!-- SUPPORT -->
      <div class="row add-row add-footer">
        <div class='col-lg-10 col-lg-offset-1'>
          <h5>Still Can't See Your Camera?</h5>
          <ul class="list-inline">
            <li><a href="http://www.evercam.io/help" target="_blank">Help Pages</a></li>
            <li><a href="#" target="_blank">Support</a></li>
          </ul>
          <p>If you don't the details of a camera yourself and would like to see how this process works, you can use the placeholder information and the info given in the examples in the help ? icons and it will work!</p>
        </div>
      </div>

    </form>

  </section>
  <!--main content end-->
</div>
</section>
</div>
</div> <!--boxed page end-->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
<script>
  function validate_hostname(str) {
    var ValidIpAddressRegex = /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/;
    var ValidHostnameRegex = /^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$/;
    return ValidIpAddressRegex.test(str) || ValidHostnameRegex.test(str);
  }

  $(document).ready(function () {
    $('#test').click(function (e) {
      var intRegex = /^\d+$/,
        port = $('#port').val();
      e.preventDefault();
      // Validate port
      if(port !== '' && (!intRegex.test(port) || port > 65535)) {
        $('#test-error').text('Port value is incorrect');
        return;
      } else if (port !== '') {
        port = ':' + port;
      }
      // Validate host
      if ($('#camera-url').val() === '' || !validate_hostname($('#camera-url').val())) {
        $('#test-error').text('External URL is incorrect');
        return;
      }
      var params = ['external_url=http://' + $('#camera-url').val() + port, 'jpg_url=' + $('#snapshot').val(),
          'cam_username=' + $('#camera-username').val(), 'cam_password=' + $('#camera-password').val()];
      var l = Ladda.create(this);
      l.start();
      var progress = 0;
      var interval = setInterval(function () {
        progress = Math.min(progress + 0.025, 1);
        l.setProgress(progress);

        if (progress === 1) {
          l.stop();
          clearInterval(interval);
        }
      }, 200);

      $.getJSON('<%= EVERCAM_API %>cameras/test.json?' + params.join('&'))
        .done(function (resp) {
          console.log('success');
          $('#test-error').text('');
          $('#testimg-add').attr('src', resp.data);
        })
        .fail(function (resp) {
          $('#test-error').text(resp.responseJSON.message);
          console.log('error');
        })
        .always(function () {
          l.stop();
          clearInterval(interval);
        });
    });

    // TOGGLE ADD. SETTINGS
    $(".settings").hide();
    //toggle the componenet with class msg_body
    $(".additional").click(function () {
      $(this).next(".settings").slideToggle(500);
    });

      Notification.init(".bb-alert");
      <% if flash[:message] %>
      Notification.show('<%= flash[:message] %>');
      <% end %>

    var previous;
    $('#camera-vendor').one('focus', function () {
      previous = this.value;
    }).on('change', function () {
      $('#camera-model' + previous).addClass('hidden');
      $('#camera-model' + this.value).removeClass('hidden');
      previous = this.value;
    });

    $.validate();
  });

</script>
