<%= content_for(:title, "Evercam: Camera View") %>

<div class="page-content-wrapper">
  <div class="page-content" id="camera-single">

    <div class="portlet-body">
      <% has_edit_right = @camera["rights"].split(",").include?("edit") %>
      <div class="tabbable tabbable-custom">
        <div class="center-tabs">
          <ul id="ul-nav-tab" class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" data-target="#live" class="nav-tab-live nav-tab-">Live View</a>
            </li>
            <li>
              <a id="maps-tab-fix" data-toggle="tab" data-target="#details" class="nav-tab-details">Details</a>
            </li>
            <li>
              <a data-toggle="tab" data-target="#recordings" class="nav-tab-recordings">Recordings</a>
            </li>
            <% if has_edit_right %>
              <li>
                <a data-toggle="tab" data-target="#motion" class="nav-tab-motion">Motion</a>
              </li>
              <li>
                <a data-toggle="tab" data-target="#shares" class="nav-tab-shares">Sharing</a>
              </li>
            <% end %>

            <li>
              <a data-toggle="tab" data-target="#api-explorer" class="nav-tab-api-explorer">API Explorer</a>
            </li>

            <% if has_edit_right %>
              <li>
                <a data-toggle="tab" data-target="#logs" class="nav-tab-logs">Logs</a>
              </li>
            <% end %>

            <li>
              <a data-toggle="tab" data-target="#apps" class="nav-tab-apps">Apps</a>
            </li>

            <% if @camera['vendor_name'] == 'Hikvision Digital Technology' %>
              <li>
                <a data-toggle="tab" data-target="#local-storage" class="nav-tab-local-storage">Local Storage</a>
              </li>
            <% end %>

            <li>
              <a data-toggle="tab" data-target="#archives" class="nav-tab-archives">Archives</a>
            </li>

            <% if @camera['owner'] != current_user.username && @share.nil? && @camera["is_public"] %>
              <div class="pull-right add-to-share">
                <a data-target="#" id="add-to-cameras" class="create-share-button"><i class="fa fa-plus-circle"></i> Add to my cameras</a>
              </div>
            <% end %>
          </ul>
        </div>
        <div class="tab-content">
          <div id="live" class="tab-pane active">
            <%= render partial: "cameras/single/live_view_tab" %>
          </div>
          <div id="details" class="tab-pane">
            <%= render partial: "cameras/single/info_tab" %>
          </div>
          <div id="recordings" class="tab-pane">
            <%= render partial: "cameras/single/snapshots_navigator_tab" %>
          </div>
          <% if has_edit_right %>
            <div id="motion" class="tab-pane">
              <%= render partial: "cameras/single/motion_detection_tab" %>
            </div>
            <div id="shares" class="tab-pane">
              <%= render partial: "cameras/single/sharing_tab" %>
            </div>
          <% end %>
          <div id="api-explorer" class="tab-pane">
            <%= render partial: "cameras/single/api_explorer_tab" %>
          </div>
          <% if has_edit_right %>
            <div id="logs" class="tab-pane">
              <%= render partial: "cameras/single/logs_tab" %>
            </div>
          <% end %>
          <div id="apps" class="tab-pane">
            <%= render partial: "cameras/single/apps_tab" %>
          </div>
          <% if @camera['vendor_name'] == 'Hikvision Digital Technology' %>
            <div id="local-storage" class="tab-pane">
              <%= render partial: "cameras/single/local_storage_tab" %>
            </div>
          <% end %>
          <div id="archives" class="tab-pane">
            <%= render partial: "cameras/single/archives_tab" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.Evercam.Camera = {
    id: '<%= @camera['id'] %>',
    is_online: <%= @camera['is_online'] %>,
    vendor_id: '<%= @camera['vendor_id'] %>',
    model_name: '<%= @camera['model_name'] %>',
    location: {
      lat: <%= @camera.deep_fetch('location', 'lat') {} %>,
      lng: <%= @camera.deep_fetch('location', 'lng') {} %>
    },
    cloud_recording: {
      frequency: <%= @cloud_recording['frequency'].to_i %>,
      storage_duration: <%= @cloud_recording['storage_duration'].to_i %>,
      status: '<%= @cloud_recording['status'].to_s %>',
      schedule: <%= raw(@cloud_recording['schedule'].to_json) %>
    },
    motion: {
      <% if has_edit_right && @motion_detection.present? %>
      enabled: <%= @motion_detection["enabled"] %>,
      alert_interval_min: <%= @motion_detection["alert_interval_min"].to_i %>,
      sensitivity: <%= @motion_detection["sensitivity"].to_i %>,
      x1: <%= @motion_detection["x1"].to_i %>,
      y1: <%= @motion_detection["y1"].to_i %>,
      x2: <%= @motion_detection["x2"].to_i %>,
      y2: <%= @motion_detection["y2"].to_i %>,
      schedule: <%= raw((@motion_detection["schedule"]).to_json) %>,
      alert_email: <%= @motion_detection["alert_email"] %>,
      emails: <%= raw(@motion_detection["emails"]) %>,
      method: "<%= @motion_detection_method %>"
      <% end %>
    }
  };

  $(document).ready(function () {
    window.initializeCameraSingle();
  });
</script>
