<%= javascript_include_tag "camera_single" %>
<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<div class="boxed-page">
<div class="container clearfix">
<section id="camera-single">

  <!--sidebar start-->
  <div id="sidebar" class="col-md-2 col-xs-12">
    <ul class="sidebar-menu">
      <li class="menu-item active">
        <a href="/cameras" class="">
          <span>My Cameras</span>
        </a>
      </li>
      <ul class="plus">
        <% @cameras.each do |camera| %>
        <li class="sub-menu-item <%= is_active?("/cameras/#{camera['id']}") %>">
          <%= link_to camera["name"], "/cameras/#{camera['id']}" %>
            <div id="offline-menu"> <% if camera['is_online'] %>
                <span class="green-dot"><small>on</small></span>
              <% else %>
                <span class="red-dot"><small>off</small></span>
              <% end %>
            </div>
        </li>
        <% end %>
      </ul>
      <li class="menu-item active">
        <a href="/cameras" class="">
          <span>Cameras Shared With Me</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="/cameras/new"><span class="glyphicon glyphicon-plus"></span>Add IP Camera</a>
      </li>
      <li class="menu-item">
        <a href="/add-android"><span class="glyphicon glyphicon-plus"></span>Add Android Camera</a>
      </li>
      <li class="menu-item">
        <a href="/publiccam"><span class="glyphicon glyphicon-plus"></span>Add Public Camera</a>
      </li>
    </ul>

  </div>
  <!--sidebar end-->


<section class="wrapper site-min-height col-md-10">
<div class="row">
  <div class="col-md-8">
    <h4><%= @camera['name'] %><small>   &#123;<%= @camera['id'] %>&#125;</small></h4>
  </div>
  <div id="status" class="col-md-4">
  <% if @camera['is_online'] %>
    <h5 class="green pull-right">Online</h5>
  <% else %>
    <h5 class="red pull-right">Offline</h5>
  <% end %>
  </div>
</div>

<div class="row">


<div class="col-md-12">
<!--tab nav start-->

<header class="panel-heading tab-bg-dark-navy-blue ">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#live">Live View</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#info">Camera Info</a>
    </li>
    <% if @camera["owner"] == current_user.username %>
    <li class="">
      <a data-toggle="tab" href="#camera-settings">Settings</a>
    </li>
    <% end %>
    <li class="">
      <a data-toggle="tab" href="#sharing">Sharing</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#apps">Apps</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#explorer">API Explorer</a>
    </li>
    <li class="disabled">
      <a data-toggle="tab" href="#activity">Activity</a>
    </li>
    <li class="disabled">
      <a data-toggle="tab" href="#logs">Logs</a>
    </li>
    <li class="pull-right">
      <a data-toggle="tab" href="#delete"><span class="glyphicon glyphicon-remove"></span>  Delete</a>
    </li>

  </ul>
</header>

<div class="tab-content">
<!--LIVE VIEW TAB PANE -->
<div id="live" class="tab-pane fade active">
  <%= render partial: "live/live_tab" %>
</div>

<!--INFO TAB PANE -->
<div id="info" class="tab-pane fade">
  <%= render partial: "info/info_tab" %>
</div>

<!--INFO TAB PANE -->
<div id="camera-settings" class="tab-pane fade">
  <%= render partial: "settings/settings_tab" %>
</div>

<!--SHARING TAB PANE -->
<div id="sharing" class="tab-pane fade">
   <%= render partial: "sharing/sharing_tab" %>
</div>


<!--APPS TAB PANE -->
<div id="apps" class="tab-pane fade">
  <div class="col-lg-12">
    <h4>Apps</h4>
    <a href="http://www.evercam.io/apps" target="_blank" class="btn apps-btn">View <span class="evercam"> /Apps </span> To Add To Your Camera</a>
  </div>
</div><!--TAB PANE -->

<!--EXPLORER TAB PANE -->
<div id="explorer" class="tab-pane fade">
  <%= render partial: "explorer/explorer_tab" %>
</div><!--TAB PANE -->

<!--ACTIVITY TAB PANE -->
<div id="activity" class="tab-pane fade">
  <div class="col-lg-12">
    <h4>Activity</h4>
    <p>coming soon...</p>
  </div>
</div><!--TAB PANE -->

<!--LOGS TAB PANE -->
<div id="logs" class="tab-pane fade">
  <div class="col-lg-12">
    <h4>Logs</h4>
    <p>coming soon...</p>
  </div>  
</div><!--TAB PANE -->

<!--DELETE TAB PANE -->
<div id="delete" class="tab-pane fade">
  <div class="col-md-8 panel panel-body">
  <% if @share.nil? %>
      <p><strong>Are you sure you want to DELETE this camera?</strong></p>
      <div class="col-md-6">
        <a href="<%= url_for(action: 'delete', id: @camera['id'], share: false) %>" class="btn btn-danger" rel="nofollow" role="button" data-method="delete">
          Yes, DELETE this Camera</a>
  <% else %>
      <p><strong>Are you sure you want to REMOVE this camera from your Shared Cameras?</strong></p>
      <p>(This camera will not be deleted and will still exist in Public Cameras.)</p>
      <div class="col-md-6">
        <a href="<%= url_for(action: 'delete', id: @camera['id'], share_id: @share['id'], share: true) %>" class="btn btn-danger" rel="nofollow" role="button" data-method="delete">
          Yes, REMOVE this Camera</a>
  <% end %>
    </div>
    <div class="col-md-6">
      <a href="#live" data-toggle="tab" class="btn btn-primary" role="button">No, CANCEL</a>
    </div>
  </div>
</div><!--TAB PANE -->

</div><!-- tab-content -->
</div><!-- tab-content -->



</div><!-- 12 -->

</div><!-- Row -->
</section><!-- Section Wrapper -->


</section>
</div> <!--container clearfix END -->
</div> <!--boxed page end-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
<script>

  $(function () {
    var previous;
    $('#camera-vendor').one('focus', function () {
      previous = this.value;
    }).on('change', function () {
      $('#camera-model' + previous).addClass('hidden');
      $('#camera-model' + this.value).removeClass('hidden');
      previous = this.value;
    });

    $('#test').click(function (e) {
      var params = ['external_url=http://' + $('#camera-url').val() + ':' + $('#port').val(), 'jpg_url=' + $('#snapshot').val(),
          'cam_username=' + $('#camera-username').val(), 'cam_password=' + $('#camera-password').val()];
      e.preventDefault();
      var l = Ladda.create(this);
      l.start();
      var progress = 0;
      var interval = setInterval(function () {
        progress = Math.min(progress + 0.025, 1);
        l.setProgress(progress);

        if (progress === 1) {
          l.stop();
          clearInterval(interval);
        }
      }, 200);
      $.getJSON('https://api.evercam.io/v1/cameras/test.json?' + params.join('&'))
        .done(function (resp) {
          console.log('success');
          $('#testimg').attr('src', resp.data);

        })
        .fail(function (resp) {
          $('#test-error').text(resp.responseJSON.message);
          console.log('error');
        })
        .always(function () {
          l.stop();
          clearInterval(interval);
        });
    });


    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
      $('.nav-tabs a[href=#' + url.split('#')[1] + ']').tab('show');
      setTimeout(function () {
        scrollTo(0, 0)
      }, 10);
    }

    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
      window.location.hash = e.target.hash;
      scrollTo(0, 0);
    })

    $('.refresh').click(function () {
      location.reload();
    });

  });
</script>

