<div class="boxed-page">
<div class="container clearfix">
<section id="camera-single">

<!--sidebar start-->
<div id="sidebar" class="nav-collapse col-md-2 col-xs-12">
  <ul class="sidebar-menu" id="nav-accordion">
    <li class="sub-menu">
      <a href="/" class="active">
        <span>My Cameras</span>
      </a>
    </li>
    <li>
      <ul class="sub active">
        <li>
          <!--<%# @cameras.each do |camera| %>
                <a href="/cameras/<%#= camera['id'] %>"><%#= camera['name'] %></a>
                <%# end %>-->
        </li>
      </ul>
    </li>
    <li>
      <a href="/cameras/new"><span class="glyphicon glyphicon-plus"></span>Add A Camera</a>
    </li>
  </ul>
</div>
<!--sidebar end-->


<section class="wrapper site-min-height col-md-10">
<div class="row">
  <div class="col-md-12"><h4><%= @camera['name'] %>    <small>   <%= @camera['id'] %></small></h4></div>
</div>

<div class="row">


<div class="col-md-12">
<!--tab nav start-->

<header class="panel-heading tab-bg-dark-navy-blue ">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#live">Live View</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#info">Camera Info</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#camera-settings">Settings</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#sharing">Sharing</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#apps">Apps</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#activity">Activity</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#logs">Logs</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#explorer">API Explorer</a>
    </li>
    <li class="pull-right">
      <a data-toggle="tab" href="#delete"><span class="glyphicon glyphicon-remove"></span>  Delete</a>
    </li>

  </ul>
</header>

<div class="tab-content">
<!--LIVE VIEW TAB PANE -->
<div id="live" class="tab-pane active">
  <%= render partial: "live/live_tab" %>
</div>

<!--INFO TAB PANE -->
<div id="info" class="tab-pane">
  <div class="col-lg-12">
    <div class="col-lg-12 info-panel">
      <div class="col-lg-4">
        <table class='table borderless'>
          <thead>
          <tr><h4>Info</h4></tr>
          </thead>
          <tr>
            <td>Camera ID   </td>
            <td><%= @camera['id'] %></td>
          </tr>
          <tr>
            <td>Camera Owner   </td>
            <td><%= @camera['owner'] %></td>
          </tr>
          <tr>
            <td>Local IP   </td>
            <td><%= @camera.fetch('config', {}).fetch('internal_host', '') %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-12 info-panel">
      <div class="col-lg-9">
      <table class='table borderless'>
        <thead>
        <tr><h4>Assets</h4></tr>
        </thead>
        <tr>
          <td >JPEG URL   </td>
          <td>JPEG URL: http://evr.cm/rem-cam.jpg</td>
        </tr>
        <tr>
          <td>H264 URL   </td>
          <td>H264 URL: http://evr.cm/rem-cam.h264</td>
        </tr>
        <tr>
          <td>Audio URL  </td>
          <td>http://evr.cm/rem-cam.aac</td>
        </tr>
      </table>
    </div>
    </div>
    <div class="col-md-12">
      <div class="col-lg-9">
      <table class='table borderless'>
        <thead>
        <tr><h4>Stream</h4></tr>
        </thead>
        <tr>
          <td >HTTP MPEG4 Stream</td>
          <td>http://192.168.1.198:8001/stream.av</td>
        </tr>
        <tr>
          <td>HTTP MJPEG Stream</td>
          <td>http://192.168.1.198:8001/stream.jpg</td>
        </tr>
        <tr>
          <td>HTTP ASF Stream</td>
          <td>http://192.168.1.198:8001/stream.asf</td>
        </tr>
        <tr>
          <td>HTTP Snapshot Image</td>
          <td>http://192.168.1.198:8001/snapshot.jpg</td>
        </tr>
      </table>
    </div>
    </div>
  </div>
</div>


<!--INFO TAB PANE -->
<div id="camera-settings" class="tab-pane">
  <form action="#" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <div class='row'><div class="col-md-4 col-md-offset-1"><h4>Settings</h4></div></div>
    <!-- STEP 1 -->
    <fieldset>
      <div class='row add-row'>
        <div class='col-lg-10 col-lg-offset-1'>
          <div class='col-lg-6 form-group'>
            <label class="control-label" for="camera-name">Friendly Name</label>
            <input id="camera-name" name="camera-name" placeholder="Rooftop Camera" class="form-control" required="" type="text" data-validation="alphanumeric" data-validation-allowing="-_ " data-validation-error-msg="Can contain letters, numbers, spaces and hyphens." value="<%= @camera['name'] %>">
          </div>
          <div class='col-lg-6 form-group'>
            <label class="control-label" for="camera-id">Evercam ID</label>
            <input id="camera-id" placeholder="roof-cam" class="form-control" disabled="disabled" required="" type="text" data-validation="alphanumeric" data-validation-allowing="-_" data-validation-error-msg="The ID needs to be unique and contain letters and '-'. No spaces." value="<%= @camera['id'] %>">
            <input type="hidden" name="camera-id" value="<%= @camera['id'] %>">
          </div>
        </div>
      </div>

    </fieldset>

    <!-- STEP 2 -->
    <fieldset>
      <div class='row add-row'>
        <div class='col-lg-10 col-lg-offset-1'>
          <div class='col-lg-6 form-group'>
            <label class="control-label" for="camera-username">Camera Username</label>
            <input id="camera-username" name="camera-username" placeholder="" class="form-control" type="text" value="<%= @camera['cam_username'] %>">
          </div>
          <div class='col-lg-6 form-group'>
            <label class="control-label" for="camera-password">Camera Password</label>
            <input id="camera-password" name="camera-password" placeholder="" class="form-control" type="text" value="<%= @camera['cam_password'] %>">
          </div>
        </div>
      </div>
    </fieldset>

    <!-- STEP 3 -->
    <fieldset>
      <div class='row add-row'>
        <div class='col-lg-10 col-lg-offset-1'>
          <div class='col-lg-8'>
            <div class='row'>
              <div class='col-lg-10 form-group'>
                <label class="control-label" for="camera-url">External IP (or URL)</label>
                <div class="input-group">
                  <span class="input-group-addon">http://</span>
                  <input id="camera-url" name="camera-url" placeholder="149.237.192.68" class="form-control" required="" type="text" data-validation="custom" data-validation-regexp="^[a-zA-Z0-9._/-]{2,100}$" data-validation-error-msg="This doesn't appear to be a valid IP." value="<%= @camera['external_host'] %>">
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-lg-5 form-group'>
                <label class="control-label" for="port">External HTTP Port</label>
                <input id="port" name="port" placeholder="8901" class="form-control" required="" type="text" data-validation="custom" data-validation-regexp="^[0-9]{2,5}$"  data-validation-error-msg="The Port should be a 2-5 digit number." value="<%= @camera['external_http_port'] %>">
              </div>
              <div class='col-lg-5 form-group'>
                <label class="control-label" for="ext-rtsp-port">External RTSP Port</label>
                <input id="ext-rtsp-port" name="ext-rtsp-port" placeholder="554" class="form-control" type="text" data-validation="custom" data-validation-regexp="^[0-9]{2,5}$"  data-validation-error-msg="The Port should be a 2-5 digit number." data-validation-optional="true" value="<%= params['ext-rtsp-port'] %>">
              </div>
            </div>
            <div class='row'>
              <div class='col-lg-10 form-group'>
                <label class="control-label" for="snapshot">Snapshot URL</label>
                <input type="text" id="snapshot" name="snapshot" placeholder="/snapshot.jpg" class="form-control" data-validation="custom" data-validation-regexp="^/[a-zA-Z0-9._/-]{2,100}$" data-validation-error-msg="This doesn't appear to be a valid URL" value="<%= @camera['jpg_url'] %>" >
              </div>
            </div>


              <span id="test-error"><%= flash[:message] %></span>

          </div>
          <div class='col-lg-4'>
            <div class="media">
              <img id="testimg" src="/" class="text-center" width="100%">
            </div>
            <div class="test-snapshot"><a href="#" id="test" class="btn btn-primary ladda-button" role="button" data-style="expand-left"><span class="ladda-label">Test Snapshot</span></a></div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
    <div class="row add-row">
      <div class='col-lg-10 col-lg-offset-1'>
        <div class="col-lg-7">
          <!-- STEP 4 -->
          <div class='row'>
            <div class='col-lg-6 form-group'>
              <label class="control-label" for="camera-vendor">Camera Vendor</label>
              <select id="camera-vendor" name="camera-vendor" class="form-control">
                <option selected="selected" value="-1">-- select model --</option>
                <% @vendors.each_with_index  do |v, index| -%>
                    <option value="<%= v.exid -%>" <% if v.exid == @camera['vendor'] %>selected="selected"<% end %>>
                      <%= v.name -%>
                    </option>
                <% end %>
              </select>
            </div>

            <div class='col-lg-6 form-group'>
              <%# @camera['model'] %>
              <label class="control-label" for="camera-model">Camera Model</label>
              <% @vendors.each do |v| -%>
                  <select id="camera-model<%= v.exid -%>" name="camera-model" class="form-control  <% if v.exid != @camera['vendor'] %>hidden<% end %>">
                    <% v.vendor_models.each_with_index  do |m, index| -%>
                        <% if index == 0 %>
                            <option value="<%= m.name -%>" ><%= m.name -%></option>
                        <% else %>
                            <option value="<%= m.name  -%>" <% if m.name == @camera['model'] %>selected="selected"<% end %> ><%= m.name -%></option>
                        <% end %>
                    <% end -%>
                  </select>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class='col-lg-8 form-group'>
              <label class="control-label" for="local-ip">Local IP</label>
              <input id="local-ip" name="local-ip" placeholder="" class="form-control" type="text" data-validation="custom" data-validation-regexp="^[a-zA-Z0-9._/-]{2,100}$"  data-validation-error-msg="The Port should be a 2-4 digit number." data-validation-optional="true" value="<%= params['local-ip'] %>">
            </div>
          </div>
          <div class="row">
            <div class='col-lg-6 form-group'>
              <label class="control-label" for="local-http">Local HTTP Port</label>
              <input id="local-http" name="local-http" placeholder="" class="form-control" type="text" data-validation="custom" data-validation-regexp="^[0-9]{2,5}$"  data-validation-error-msg="The Port should be a 2-5 digit number." data-validation-optional="true" value="<%= params['local-http'] %>">
            </div>
            <div class='col-lg-6 form-group'>
              <label class="control-label" for="local-rtsp">Local RTSP Port</label>
              <input id="local-rtsp" name="local-rtsp" placeholder="" class="form-control" type="text" data-validation="custom" data-validation-regexp="^[0-9]{2,5}$"  data-validation-error-msg="The Port should be a 2-5 digit number." data-validation-optional="true" value="<%= params['local-rtsp'] %>">
            </div>
          </div>


        </div>
      </div>
    </div>
    </fieldset>
    <!-- FINISH & ADD -->
    <fieldset>
      <div class='row'>
        <div class="text-center finish">
          <!-- Button -->
          <div class='col-lg-12'>
            <div class="form-group">
              <label class="control-label" for="add-button"></label>
              <button id="add-button" name="add-button" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <!-- SUPPORT -->
    <div class="row add-row add-footer">
      <div class='col-lg-10 col-lg-offset-1'>
        <h5>Still Can't See Your Camera?</h5>
        <ul class="list-inline">
          <li><a href="http://www.evercam.io/help" target="_blank">Help Pages</a></li>
          <li><a href="#" target="_blank">Support</a></li>
        </ul>
      </div>
    </div>

  </form>
</div>



<!--SHARING TAB PANE -->
<div id="sharing" class="tab-pane">
   <%= render partial: "sharing/sharing_tab" %>
</div>


<!--APPS TAB PANE -->
<div id="apps" class="tab-pane">

  <a href="http://www.evercam.io/apps" class="btn apps-btn">View <span class="evercam"> /Apps </span> To Add To Your Camera</a>

</div><!--TAB PANE -->

<!--ACTIVITY TAB PANE -->
<div id="activity" class="tab-pane">
  <p>ACTIVITY</p><p>coming soon...</p>
</div><!--TAB PANE -->

<!--LOGS TAB PANE -->
<div id="logs" class="tab-pane">
  <p>LOGS</p><p>coming soon...</p>
</div><!--TAB PANE -->

<!--EXPLORER TAB PANE -->
<div id="explorer" class="tab-pane">
  <div class="col-md-12 info-panel">
    <h4>Cameras</h4>
    <p>Here you can make requests to our REST API and explore responses.</p><p> You can use this Cameras ID: <span class="bold"><%= @camera['id'] %></span> </p>
  </div>  
  <div class="col-md-12">
    <%= stylesheet_link_tag "swagger"%>
    <%= javascript_include_tag "swagger"%>
      <script type="text/javascript">
          $(function () {

              window.swaggerUi = new SwaggerUi({
                  url: "https://api.evercam.io/v1/swagger/cameras.json",
                  dom_id: "swagger-ui-container",
                  supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
                  onComplete: function(swaggerApi, swaggerUi){
                      window.authorizations.add("api_id", new ApiKeyAuthorization("api_id", "<%= current_user.api_id unless current_user.nil? %>", "query"));
                      window.authorizations.add("api_key", new ApiKeyAuthorization("api_key", "<%= current_user.api_key unless current_user.nil? %>", "query"));
                      $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
                      $('#resources h2').each( function() { $(this).next('ul').find('li:last').remove(); } );
                      $("a:contains('/cameras/{id}/snapshot.jpg.json')").text('/cameras/{id}/snapshot.jpg');
                  },
                  onFailure: function(data) {
                  },
                  docExpansion: "list"
              });

              window.swaggerUi.load();

          });

      </script>
        <div class="exp-swagger">
          <div id="swagger">
            <div id="swagger-ui-container" class="swagger-ui-wrap">
              &nbsp;
            </div>
          </div>
        </div>

  </div>
</div><!--TAB PANE -->

<!--DELETE TAB PANE -->
<div id="delete" class="tab-pane">
  <div class="col-md-6 panel panel-body">
    <p class="strong">Are you sure you want to DELETE this camera?</p>
   <%= link_to @camera, method: :delete, class:"btn btn-danger", role:"button" do %>
    <span class="glyphicon glyphicon-remove"></span>Yes, DELETE this Camera</a>
   <% end %>
    <a href="#live" data-toggle="tab" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-ok"></span>No, CANCEL</a>
  </div>
</div><!--TAB PANE -->

</div><!-- tab-content -->
</div><!-- tab-content -->



</div><!-- 12 -->

</div><!-- Row -->
</section><!-- Section Wrapper -->


</section>
</div> <!--container clearfix END -->
</div> <!--boxed page end-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
<script>

    $(function () {
        var previous;
        $('#camera-vendor').one('focus', function() {
            previous = this.value;
        }).on('change', function() {
            $('#camera-model' + previous).addClass('hidden');
            $('#camera-model' + this.value).removeClass('hidden');
            previous = this.value;
        });

        $('#test').click(function(e) {
            var params = ['external_url=http://' + $('#camera-url').val() + ':' + $('#port').val(), 'jpg_url=' + $('#snapshot').val(),
                'cam_username=' + $('#camera-username').val(), 'cam_password=' + $('#camera-password').val()];
            e.preventDefault();
            var l = Ladda.create(this);
            l.start();
            var progress = 0;
            var interval = setInterval( function() {
                progress = Math.min( progress + 0.025, 1 );
                l.setProgress( progress );

                if( progress === 1 ) {
                    l.stop();
                    clearInterval( interval );
                }
            }, 200 );
            $.getJSON('https://api.evercam.io/v1/cameras/test.json?' + params.join('&'))
                    .done(function(resp) {
                        console.log('success');
                        $('#testimg').attr('src', resp.data);
                    })
                    .fail(function(resp) {
                        $('#test-error').text(resp.responseJSON.message);
                        console.log('error');
                    })
                    .always(function() {
                        l.stop();
                        clearInterval( interval );
                    });
        });



    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show');
        setTimeout(function() {scrollTo(0,0)}, 10);
    }

    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
        scrollTo(0,0);
    })


    $( '.refresh' ).click(function() {
        location.reload();
    });

    })
</script>

