<%= content_for(:title, "#{@camera['name']} | Evercam: Camera View") %>

<div class="page-content-wrapper">
  <div class="page-content camera-<%= @camera['id'] %>" id="camera-single">

    <div class="portlet-body">
      <% has_edit_right = @camera["rights"].split(",").include?("edit") %>
      <div class="tabbable tabbable-custom">
        <div class="center-tabs">
          <ul id="ul-nav-tab" class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" data-target="#live" class="nav-tab-live nav-tab-">Live View</a>
            </li>
            <li>
              <a id="maps-tab-fix" data-toggle="tab" data-target="#details" class="nav-tab-details">Details</a>
            </li>
            <li>
              <a data-toggle="tab" data-target="#recordings" class="nav-tab-recordings">Recordings</a>
            </li>
            <% if has_edit_right %>
              <li>
                <a data-toggle="tab" data-target="#motion" class="nav-tab-motion" style="display: none" >Motion</a>
              </li>
              <li>
                <a data-toggle="tab" data-target="#shares" class="nav-tab-shares">Sharing</a>
              </li>
            <% end %>

            <% if has_edit_right %>
              <li>
                <a data-toggle="tab" data-target="#logs" class="nav-tab-logs">Logs</a>
              </li>
            <% end %>

            <% if @camera['vendor_name'] == 'Hikvision Digital Technology' %>
              <li>
                <a data-toggle="tab" data-target="#local-storage" class="nav-tab-local-storage">Local Storage</a>
              </li>
            <% end %>

            <li>
              <a data-toggle="tab" data-target="#archives" class="nav-tab-archives">Archives</a>
            </li>

            <% if @camera['owner'] != current_user.username && @share.nil? && @camera["is_public"] %>
              <div class="pull-right add-to-share">
                <a data-target="#" id="add-to-cameras" class="create-share-button"><i class="fa fa-plus-circle"></i> Add to my cameras</a>
              </div>
            <% end %>

            <% unless has_edit_right %>
              <i class="fa fa-trash-o delete-share-icon" data-toggle="modal" data-target="#deleteModal" aria-hidden="true"></i>
            <% end %>
              <div id="deleteModal" class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="col-md-12">
                        <% if @share.nil? %>
                          <p class="text-left">Are you sure you want to <strong>Delete</strong> this camera?</p>
                        <% else %>
                          <p class="text-left">Are you sure you want to <strong>Remove</strong> this camera?</p>
                        <% end %>
                      </div>
                      <% if @share.nil? %>
                        <div class="col-md-12">
                          <p>Enter camera id (<strong><%= @camera['id'] %></strong>) to confirm that you want to permanently delete this camera</p>
                          <input id="camera_specified_id" name="camera_specified_id" type="text" class="form-control">
                        </div>
                      <% end %>
                    </div>
                    <div class="modal-footer">
                      <div class="col-sm-8 margin-top-10">
                        <input type="hidden" id="id" name="id" value="<%= @camera['id'] %>"/>
                        <% if @share.nil? %>
                          <input type="hidden" id="share" name="share" value="false"/>
                          <button id="delete-camera" name="delete-camera" class="btn btn-danger pull-left">Delete</button>
                        <% else %>
                          <input type="hidden" id="share_id" name="share_id" value="<%= @share['id'] %>"/>
                          <input type="hidden" id="share" name="share" value="true"/>
                          <button id="remove-camera" name="remove-camera" class="btn btn-danger pull-left">Yes</button>
                        <% end %>
                        <input type="button" class="btn btn-default pull-left" value="<% if @share.nil? %>Cancel<% else %>No<% end %>" data-dismiss="modal" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </ul>
        </div>
        <div class="tab-content">
          <div id="live" class="tab-pane active">
            <%= render partial: "cameras/single/live_view_tab" %>
          </div>
          <div id="details" class="tab-pane">
            <%= render partial: "cameras/single/info_tab" %>
          </div>
          <div id="recordings" class="tab-pane">
            <%= render partial: "cameras/single/snapshots_navigator_tab" %>
          </div>
          <% if has_edit_right %>
            <div id="motion-temporary-hide" class="tab-pane">
              <%= render partial: "cameras/single/motion_detection_tab" %>
            </div>
            <div id="shares" class="tab-pane">
              <%= render partial: "cameras/single/sharing_tab" %>
            </div>
          <% end %>
          <% if has_edit_right %>
            <div id="logs" class="tab-pane">
              <%= render partial: "cameras/single/logs_tab" %>
            </div>
          <% end %>

          <% if @camera['vendor_name'] == 'Hikvision Digital Technology' %>
            <div id="local-storage" class="tab-pane">
              <%= render partial: "cameras/single/local_storage_tab" %>
            </div>
          <% end %>

          <div id="archives" class="tab-pane">
            <%= render partial: "cameras/single/archives_tab" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.Evercam.Camera = {
    id: '<%= @camera['id'] %>',
    is_online: <%= @camera['is_online'] %>,
    vendor_id: '<%= @camera['vendor_id'] %>',
    model_name: '<%= @camera['model_name'] %>',
    location: {
      lat: <%= @camera.deep_fetch('location', 'lat') {} %>,
      lng: <%= @camera.deep_fetch('location', 'lng') {} %>
    },
    cloud_recording: {
      frequency: <%= @cloud_recording['frequency'].to_i %>,
      storage_duration: <%= @cloud_recording['storage_duration'].to_i %>,
      status: '<%= @cloud_recording['status'].to_s %>',
      schedule: <%= raw(@cloud_recording['schedule'].to_json) %>
    },
    motion: {
      <% if has_edit_right && @motion_detection.present? %>
      enabled: <%= @motion_detection["enabled"] %>,
      alert_interval_min: <%= @motion_detection["alert_interval_min"].to_i %>,
      sensitivity: <%= @motion_detection["sensitivity"].to_i %>,
      x1: <%= @motion_detection["x1"].to_i %>,
      y1: <%= @motion_detection["y1"].to_i %>,
      x2: <%= @motion_detection["x2"].to_i %>,
      y2: <%= @motion_detection["y2"].to_i %>,
      schedule: <%= raw((@motion_detection["schedule"]).to_json) %>,
      alert_email: <%= @motion_detection["alert_email"] %>,
      emails: <%= raw(@motion_detection["emails"]) %>,
      method: "<%= @motion_detection_method %>"
      <% end %>
    }
  };

  $(document).ready(function () {
    window.initializeCameraSingle();
  });
</script>
