<!-- Start Recording Portion -->
<div class="row">
  <!-- Left Portion -->
  <div class="col-md-9">
    <div class="">
      <div class="loader-bg" id="imgLoaderRec">
        <table cellspacing="0" cellpadding="6" border="0" width="100%" height="100%">
          <tr>
            <td width="35%">&nbsp;</td>
            <td style="width:105px; height:66px;text-align: center;font-weight: bold;"><%=image_tag("loader3.gif", alt: "Loading")%>&nbsp;Loading Image</td>
            <td width="35%">&nbsp;</td>
          </tr>
        </table>
      </div>
      <img id="imgPlayback" style="width: 100%;" src=""/>
    </div>

    <div class="clear-f"></div>
    <div id="divSliderBackground" class="slider slider-basic ui-slider ui-slider-horizontal ui-slider-recordings ui-widget ui-widget-content ui-corner-all">
      <div id="divSlider" class="playback-slider-outer">
        <div id="divPointer" class="playback-slider-inner"></div>
      </div>
    </div>

    <div class="margin-top-10"></div>
    <div id="divInfo" class="playback-info-bar"><b>Frame 10 of 18</b> 12/11/2013 16:20:48</div>
    <div class="clear-f"></div>

    <div id="divDisableButtons">
      <div class="playback-buttons-bar">
        <div class="btn-group">
          <a href="javascript:;" class="btn grey disabled">-100</a>
          <a href="javascript:;" class="btn grey disabled">-10</a>
          <a href="javascript:;" class="btn grey disabled">-5</a>
        </div>
        <div class="btn-group">
          <a href="javascript:;" class="btn grey disabled">-Frame</a>
          <a href="javascript:;" class="btn grey disabled">Play</a>
          <a href="javascript:;" class="btn grey disabled">+Frame</a>
        </div>
        <div class="btn-group">
          <a href="javascript:;" class="btn grey disabled">+5</a>
          <a href="javascript:;" class="btn grey disabled">+10</a>
          <a href="javascript:;" class="btn grey disabled">+100</a>
        </div>
      </div>
    </div>
    <div id="divFrameMode" class="hide">
      <div class="playback-buttons-bar">
        <div class="btn-group">
          <a href="javascript:;" class="btn grey skipframe">-100</a>
          <a href="javascript:;" class="btn grey skipframe">-10</a>
          <a href="javascript:;" class="btn grey skipframe">-5</a>
        </div>
        <div class="btn-group">
          <a href="javascript:;" class="btn grey skipframe">-Frame</a>
          <a href="javascript:;" class="btn grey" id="btnPlayRec">Play</a>
          <a href="javascript:;" class="btn grey skipframe">+Frame</a>
        </div>
        <div class="btn-group">
          <a href="javascript:;" class="btn grey skipframe">+5</a>
          <a href="javascript:;" class="btn grey skipframe">+10</a>
          <a href="javascript:;" class="btn grey skipframe">+100</a>
        </div>
      </div>
    </div>
    <div id="divPlayMode" class="hide">
      <div class="playback-buttons-bar">
        <div class="btn-group"><a href="javascript:;" class="btn grey" id="btnFRwd">&lt;&lt;</a></div>
        <div class="btn-group"><a href="javascript:;" class="btn grey" id="btnRwd">&lt;</a></div>
        <div class="btn-group"><a href="javascript:;" class="btn grey" id="btnPauseRec">Pause</a></div>
        <div class="btn-group"><a href="javascript:;" class="btn grey" id="btnFwd">&gt;</a></div>
        <div class="btn-group"><a href="javascript:;" class="btn grey" id="btnFFwd">&gt;&gt;</a></div>
      </div>
    </div>
    <div class="clear-f"></div>
  </div>

  <!-- Right Portion -->
  <div class="col-md-3">
    <div class="col-recording-right">
      <div class="portlet solid bordered grey-cararra">
        <div id="ui_date_picker_inline" class="datepicker-bg"></div>
        <br />

        <div class="datepicker datepicker-bg datepicker-inline show">
          <div class="datepicker-day show">

            <table id="hourCalandar" class="table-condensed width100">
              <thead>
              <tr>
                <th colspan="7">Hour</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td id="tdI0" class="day">0</td>
                <td id="tdI1" class="day">1</td>
                <td id="tdI2" class="day">2</td>
                <td id="tdI3" class="day">3</td>
                <td id="tdI4" class="day">4</td>
                <td id="tdI5" class="day">5</td>
                <td id="tdI6" class="day">6</td>
              </tr>
              <tr>
                <td id="tdI7" class="day">7</td>
                <td id="tdI8" class="day">8</td>
                <td id="tdI9" class="day">9</td>
                <td id="tdI10" class="day">10</td>
                <td id="tdI11" class="day">11</td>
                <td id="tdI12" class="day">12</td>
                <td id="tdI13" class="day">13</td>
              </tr>
              <tr>
                <td id="tdI14" class="day">14</td>
                <td id="tdI15" class="day">15</td>
                <td id="tdI16" class="day">16</td>
                <td id="tdI17" class="day">17</td>
                <td id="tdI18" class="day">18</td>
                <td id="tdI19" class="day">19</td>
                <td id="tdI20" class="day">20</td>
              </tr>
              <tr>
                <td id="tdI21" class="day">21</td>
                <td id="tdI22" class="day">22</td>
                <td id="tdI23" class="day">23</td>
                <td class="day"></td>
                <td class="day"></td>
                <td class="day"></td>
                <td class="day"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div style="padding:5px 0px 5px 0px;" class="hide">
          <div class="col-md-6">
            Min:&nbsp;<select id="ddlRecMinutes" style="width: 50%;" class="">
            <option value="0">00</option>
          </select>
          </div>
          <div class="col-md-6">
            Sec:&nbsp;<select id="ddlRecSeconds" style="width: 50%;" class="">
            <option value="0">00</option>
          </select>
          </div>
        </div>
        <div class="clear-f"></div>
        <br />
        <div >
          <div id="LblRecordedStatus"><b>Status: </b>
            <% if @camera['is_online'] %>
              <span id="ltCameraStatus" class="green">Online</span>
            <% else %>
              <span id="ltCameraStatus" class="red">Offline</span>
            <% end %></div>
          <div id="divRetrycont"></div>
          <div class="hide"><b>Space used: </b><span id="ltSpace"></span></div>
          <div class="hide" id="spnPlan"><b>Recording: </b><span id="ltDays"></span>&nbsp;<span id="divScheduleStatus"></span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- End right portion -->

  <div class="clear-f"></div>
</div>

<div class="row hide">
  <div class="col-md-9">
    <div style="padding:3px 0px 5px 3px;" id="MDLabel">Motion Detection Results</div>
    <div style="padding-left:2px;">
      <div class="MDSlider-outer" id="divCarousel">
        <div class="MDSlider">
          <div id="divSliderMD" style="">
            <ul id="MDSliderItem"></ul>
            <div style="" id="divNoMd">No motion detected</div>
          </div>
        </div>
      </div>
    </div>
    <div id="divPopup" style=""></div>
    <div class="clear-f"></div>
  </div>
</div>
<input type="hidden" name="recording_tab_camera_id" id="recording_tab_camera_id" value="<%= @camera["id"] %>">
<input type="hidden" name="recording_tab_api_id" id="recording_tab_api_id" value="<%= current_user.api_id %>">
<input type="hidden" name="recording_tab_api_key" id="recording_tab_api_key" value="<%= current_user.api_key %>">
<input type="hidden" name="recording_tab_api_key" id="recording_tab_api_url" value="">
<input type="hidden" name="camera_time_offset" id="camera_time_offset" value="<%= @offset %>">

<script type="text/javascript">
  $(window.Evercam.Recordings.initializeTab);
</script>
