<div class="row">
  <div class="col-md-8">
    <p>Webhooks can be used to notify an external address whenever a camera goes online or offline.</p>
    <p>For example, if we add <span style="color:#409b1c">http://example.com/payload</span> to the list of webhooks for the camera "<%= @camera.id %>", that address would receive a POST request with the following data when camera's status changed:</p>
  </div>
  <div class="col-md-4">
<pre>{
  <span>"id"</span>: <span style="color:#409b1c">"<%= @camera.id %>"</span>,
  <span>"last_polled_at"</span>: <span style="color:#409b1c">"<%= @camera.last_polled_at %> "</span>,
  <span>"last_online_at"</span>: <span style="color:#409b1c">"<%= @camera.last_online_at %> "</span>,
  <span>"is_online"</span>: <span style="color:#3b5bb5"><%= @camera.is_online %></span>
}
</pre>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered-top table-hover table-full-width" id="sharing_list_table">
      <tbody>
        <% if @webhooks %>
        <% @webhooks.each do |webhook| %>
        <tr webhook-id="<%= webhook['id'] %>">
          <td class="col-lg-8">
            <a href="<%= webhook['url'] %>"><%= webhook['url'] %></a>
          </td>
          <td class="col-lg-2">
            <div class="form-group">
            <span class="delete-webhook-control" camera_id="<%= @camera["id"] %>" webhook_id="<%= webhook['id'] %>"><span class="glyphicon glyphicon-remove"> </span>Remove</span>
            </div>
          </td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!--ADD A WEBHOOK-->

<div class="row form-horizontal margin-top-10">
  <div class="col-md-12">
    <div class="add-user">
      <table class="table table-borderless">
        <tr>
          <td class="col-lg-8">
            <div class="webhook-input">
              <div>
                <input type="url" placeholder="Webhook URL" class="form-control" id="newWebhookUrl" name="newWebhookUrl">
              </div>
            </div>
          </td>
          <td class="col-lg-2">
            <div class="form-group webhook-camera">
              <button type="submit" class="btn btn-primary" id="submit_webhook_button">Add Webhook</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(window.Evercam.Webhook.initializeTab);
  window.Evercam.current_user = "<%= current_user.username %>"
</script>
