<!--PERMISSIONS: is_public?=<%= @camera['is_public'] %>-->


    <div class="col-lg-12">
        <h4>Who Has Access</h4>
    </div>
    <div class="col-md-6">
        <% styling = 'display: none;' %>
        <div id="Sharespublic_discoverable" class="desc" style="<%= (@camera["is_public"] && @camera["discoverable"]) ? '' : styling %>">
          <h5><span class="glyphicon glyphicon-globe"></span> Public on the Web  <small> - Is Public: [Yes]  &amp; Discoverable: [Yes]</small></h5>
        </div>
        <div id="Sharespublic_undiscoverable" class="desc" style="<%= (@camera["is_public"] && !@camera["discoverable"]) ? '' : styling %>">
          <h5><span class="glyphicon glyphicon-link"></span> Anyone with the link <small> - Is Public: [Yes]  &amp; Discoverable: [No]</small></h5>
        </div>
        <div id="Sharesprivate" class="desc" style="<%= !@camera["is_public"] ? '' : styling %>">
          <h5><span class="glyphicon glyphicon-user"></span> Specific People <small> - Is Public: [No]  &amp; Discoverable: [No]</small></h5>
        </div>
    </div>
<% if @camera["owner"] == current_user.username %>
    <div class="col-md-4">
        <div class="form-group">
            <div class="col-sm-6">
                <h5><a href="#" data-toggle="modal" data-target="#myModal">change</a></h5>
            </div>
        </div>
    </div>
  <% end %>


<!--SHARING MODAL-->
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="text-left">Sharing Settings:</h4>
        <div class="col-md-12 text-left sharing">
          <div class="radio">
            <label>
              <input type="radio" name="sharingOptionRadios" id="sharingOptionRadios1" value="public_discoverable" <%= "checked" if @camera["is_public"] && @camera["discoverable"] %>>
              <h5><span class="glyphicon glyphicon-globe"></span> Public on the Web <small> -  Public: [Yes]  &amp; Discoverable: [Yes]</small></h5>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="sharingOptionRadios" id="sharingOptionRadios2" value="public_undiscoverable" <%= "checked" if @camera["is_public"] && !@camera["discoverable"] %>>
              <h5><span class="glyphicon glyphicon-link"></span> Anyone with the Link <small> - Public: [Yes]  &amp; Discoverable: [No]</small></h5>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="sharingOptionRadios" id="sharingOptionRadios2" value="private" <%= "checked" if !@camera["is_public"] %>>
              <h5><span class="glyphicon glyphicon-user"></span> Specific People <small> - Public: [No]  &amp; Discoverable: [No]</small></h5>
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-sm-6">
          <input type="hidden" name="sharing_tab_camera_id" id="sharing_tab_camera_id" value="<%= @camera["id"] %>"></input>
          <a href="#" type="button" data-dismiss="modal"  id="set_permissions_submit" class="alert btn btn-primary btn-sm">Save</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--END SHARING MODAL-->


<!--USER LIST-->

    <div class="col-md-12">
      <table class="table" id="sharing_list_table">
        <thead>
        <tr>
          <th>This Camera is Shared With</th>
          <th>Permissions</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
      <% if @shares %>
        <% @shares.each do |share| %>
          <% rights = share["rights"].split(",") %>
          <tr share-id="<%= share["id"] %>">
            <td class="col-lg-4"><span class="glyphicon glyphicon-user"></span> <%= share["email"] %></td>
            <td class="col-lg-2">
              <div class="input-group input-group-sm">
                <select class="form-control reveal" show-class="show-save">
                  <option <%= "selected" if !rights.include?("View") %> value="minimal">Read Only</option>
                  <option <%= "selected" if rights.include?("View") %> value="full">Full Rights</option>
                </select>
              </div>
            </td>
            <td class="col-lg-2">
              <button type="submit" class="save show-save btn btn-primary btn-sm update-share-button">Save</button>
            </td>
            <td class="col-lg-2">
              <div class="form-group">
                  <span class="delete-share-control" camera_id="<%= @camera["id"] %>" share_id="<%= share["id"] %>"><span class="glyphicon glyphicon-remove"></span></span> Remove User</a>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
      <% if @share_requests %>
          <% @share_requests.each do |share_request| %>
            <% rights = share_request["rights"].split(",") %>
            <tr share-request-id="<%= share_request["id"] %>">
              <td class="col-lg-4"><span class="glyphicon glyphicon-user"></span> <%= share_request["email"] %><small class="blue">  ...pending</small></td>
              <td class="col-lg-2">
                <div class="input-group input-group-sm">
                  <select class="form-control reveal" show-class="show-save">
                    <option <%= "selected" if !rights.include?("View") %> value="minimal">Read Only</option>
                    <option <%= "selected" if rights.include?("View") %> value="full">Full Rights</option>
                  </select>
                </div>
              </td>
              <td class="col-lg-2">
                <button type="submit" class="save show-save btn btn-primary btn-sm update-share-request-button">Save</button>
              </td>
              <td class="col-lg-2">
                <div class="form-group">
                  <span class="delete-share-request-control" camera_id="<%= @camera["id"] %>" email="<%= share_request["email"] %>"><span class="glyphicon glyphicon-remove"></span></span> Revoke Request</a>

                </div>
              </td>

            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>




<!--ADD A USER-->

    <div class="add-user">
        <div class="col-md-12">
            <h5><span class="glyphicon glyphicon-plus"></span>  Add A User</h5>
        </div>
        <div class="col-sm-4 email-input">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="email" placeholder="email@domain.com" class="form-control" id="sharingUserEmail" name="sharingUserEmail">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="input-group input-group-sm">
            <select id="sharingPermissionLevel" class="form-control">
              <option>Read Only</option>
              <option>Full Rights</option>
            </select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group share-camera">
            <button type="submit" class="btn btn-primary btn-sm" id="submit_share_button">Share</button>
          </div>
        </div>
    </div>


<!--LINK TO SHARE-->
<div class="col-md-6 share-link">
    <h5><span class="glyphicon glyphicon-link"></span>  Link to Share</h5>
  <table class="table table-borderless-2"><tr><td><%= "http://evr.cm/#{@camera['id']}.html" %></td></tr><tr><td></td></td></tr></table>
</div>


<script type="text/javascript">
  $(window.Evercam.Share.initializeTab);
</script>