<!--PERMISSIONS: is_public?=<%= @camera['is_public'] %>-->

<div class='panel-body'>
<div class="col-md-12">
    <% styling = 'display: none;' %>
    <div id="Sharespublic_discoverable" class="desc" style="<%= (@camera["is_public"] && @camera["discoverable"]) ? '' : styling %>">
      <h5>This Camera is Public on the Web  <small> - Is Public: [Yes]  &amp; Discoverable: [Yes]</small><a href="#" data-toggle="modal" data-target="#myModal">  change</a></h5>
    </div>
    <div id="Sharespublic_undiscoverable" class="desc" style="<%= (@camera["is_public"] && !@camera["discoverable"]) ? '' : styling %>">
      <h5>This camera can be accessed by anyone with the link <small> - Is Public: [Yes]  &amp; Discoverable: [No]</small><a href="#" data-toggle="modal" data-target="#myModal">  change</a></h5>
    </div>
    <div id="Sharesprivate" class="desc" style="<%= !@camera["is_public"] ? '' : styling %>">
      <h5>This camera can be accessed by Specific People (listed below) <small> - Is Public: [No]  &amp; Discoverable: [No]</small><a href="#" data-toggle="modal" data-target="#myModal">  change</a></h5>
    </div>
</div>




<!--SHARING MODAL-->
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="text-left">Sharing Settings:</h4>
        <div class="col-md-12 text-left sharing">
          <div class="radio">
            <label>
              <input type="radio" name="sharingOptionRadios" id="sharingOptionRadios1" value="public_discoverable" <%= "checked" if @camera["is_public"] && @camera["discoverable"] %>>
              <h5><span class="glyphicon glyphicon-globe"></span> Public on the Web <small> -  Public: [Yes]  &amp; Discoverable: [Yes]</small></h5>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="sharingOptionRadios" id="sharingOptionRadios2" value="public_undiscoverable" <%= "checked" if @camera["is_public"] && !@camera["discoverable"] %>>
              <h5><span class="glyphicon glyphicon-link"></span> Anyone with the Link <small> - Public: [Yes]  &amp; Discoverable: [No]</small></h5>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="sharingOptionRadios" id="sharingOptionRadios2" value="private" <%= "checked" if !@camera["is_public"] %>>
              <h5><span class="glyphicon glyphicon-user"></span> Specific People <small> - Public: [No]  &amp; Discoverable: [No]</small></h5>
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-sm-6">
          <input type="hidden" name="sharing_tab_camera_id" id="sharing_tab_camera_id" value="<%= @camera["id"] %>"></input>
          <a href="#" type="button" data-dismiss="modal"  id="set_permissions_submit" class="alert btn btn-primary btn-sm">Save</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--END SHARING MODAL-->

<!--USER LIST-->
    <div class="col-md-12">
      <table class="table" id="sharing_list_table">
        <thead>
        <tr>
          <th>This Camera is Shared With</th>
          <th>Permissions</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
      <% if @camera_shares %>
        <% @camera_shares.each do |share| %>
          <!--
             <%= raw("#{share}") %>
          -->
          <% rights = share["rights"].split(",") %>
          <tr share-id="<%= share["id"] %>">
            <td class="col-lg-4">
              <%= share["email"] %>
                <% if share["email"] == current_user.email %>
                <small class="blue"> (you)</small>
                <% end %>
                </td>
            <td class="col-lg-2">
              <div class="input-group">
                <% if share["email"] == current_user.email %>
                  <select class="form-control reveal disabled" disabled show-class="show-save">
                <% else %>
                    <select class="form-control reveal" show-class="show-save">
                <% end %>
                    <option <%= "selected" if !rights.include?("View") %> value="minimal">Read Only</option>
                    <option <%= "selected" if rights.include?("View") %> value="full">Full Rights</option>
                  </select>
              </div>
            </td>
            <td class="col-lg-2">
              <button type="submit" class="save show-save btn btn-primary btn-sm update-share-button">Save</button>
            </td>
            <td class="col-lg-2">
              <div class="form-group">
                  <span class="delete-share-control" camera_id="<%= @camera["id"] %>" share_id="<%= share["id"] %>">
                   <% if share["email"] == current_user.email %>
                    <span class="glyphicon glyphicon-remove"> <span class="remove">Remove Yourself</span></span>
                    <% else %>
                    <span class="glyphicon glyphicon-remove"> <span class="remove">Remove User</span></span>
                    <% end %>
                  </span>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
      <% if @share_requests %>
          <% @share_requests.each do |share_request| %>
            <% rights = share_request["rights"].split(",") %>
            <tr share-request-id="<%= share_request["id"] %>">
              <td class="col-lg-4"><%= share_request["email"] %><small class="blue">  ...pending</small></td>
              <td class="col-lg-2">
                <div class="input-group">
                  <select class="form-control reveal" show-class="show-save">
                    <option <%= "selected" if !rights.include?("View") %> value="minimal">Read Only</option>
                    <option <%= "selected" if rights.include?("View") %> value="full">Full Rights</option>
                  </select>
                </div>
              </td>
              <td class="col-lg-2">
                <button type="submit" class="save show-save btn btn-primary btn-sm update-share-request-button">Save</button>
              </td>
              <td class="col-lg-2">
                <div class="form-group">
                  <span class="delete-share-request-control" camera_id="<%= @camera["id"] %>" email="<%= share_request["email"] %>"><span class="glyphicon glyphicon-remove"> <span class="remove">Revoke Request</span></span></span>
                </div>
              </td>

            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>


<!--ADD A USER-->

    <div class="add-user">
      <div class="col-md-12">
        <h5>Share camera with</h5>
      </div>

        <div class="col-sm-4 email-input">

          <div data-toggle="tooltip" data-placement="top" title="You can share this Camera with an email address or an Evercam Username" class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="email" placeholder="email@domain.com" class="form-control" id="sharingUserEmail" name="sharingUserEmail">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="input-group">
            <select id="sharingPermissionLevel" class="form-control">
              <option>Read Only</option>
              <option>Full Rights</option>
            </select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group share-camera">
            <button type="submit" class="btn btn-primary btn-sm" id="submit_share_button">Share</button>
          </div>
        </div>
    </div>
<div class="col-md-10">
  <p>
    <span class="note">If the email address doesn't have an account associated with it, a link will be sent to that email address to create an account in order to see the camera. The camera share will show as pending until the account is created. </span>
  </p>
</div>



<!--LINK TO SHARE-->
<div class="col-md-6 share-link">
    <h5>Link to Share Camera</h5>
  <div>
      <div id="public-short-page" class="well-sm show-on-public" style="<%= 'display: none;' unless @camera['is_public'] %>">
        <%= link_to "http://evr.cm/#{@camera['id']}.html", "http://evr.cm/#{@camera['id']}.html", target: '_blank', :only_path => false %>
      </div>
      <div id="private-short-page" class="well-sm show-on-private" style="<%= 'display: none;' if @camera['is_public'] %>">
        <%= "http://evr.cm/#{@camera['id']}.html" %>
      </div>
  </div>
</div>
<div class="col-md-12">
  <p>
    <span class="note show-on-private">Only available for public cameras. You can change this in your settings above.</span>
    <span class="note">The link to this camera can be shared with any Evercam user.</span>
  </p>
</div>

</div><!-- panel body -->



<script type="text/javascript">
  $(window.Evercam.Share.initializeTab);
</script>