<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=TRUE"></script>
<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>

<div class="page-container" id="public-index">
<!-- sidebar menu start-->
    <div class="page-sidebar-wrapper">
      <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
          <!--<li class="sidebar-toggler-wrapper">
            <div class="sidebar-toggler">
            </div>
          </li>-->
          <li>
            <a href="/"><i class="icon-camera"></i>My Cameras</a>
          </li>
          <li class="active">
            <a href="/publiccam"><i class="icon-map"></i>Public Cameras</a>
          </li>
          <li>

            <a href="/cameras/new"><i class="icon-plus"></i>Add Camera</a>
          </li>
          <li>
            <a href="/dev"><i class="icon-briefcase"></i>Developer</a>
          </li>
        </ul>
      </div>
    </div>
<!-- sidebar menu end-->
    <div class="page-content-wrapper">
    <div class="page-content">

        <!--BEGIN TABS-->
        <div class="portlet">

         <!-- <div class="portlet-title">
            <div class="caption">
              <i class=​"icon-home">​</i>​Map View
            </div>
          </div>-->

          <div class="portlet-body">
              <div id="map-canvas"></div>
          </div>
        </div>



    </div>
    </div>

</div>

<%= javascript_include_tag "publiccam" %>

<script>
  $(window.Evercam.Publiccam.initialize);

  Notification.init(".bb-alert");
  <% if flash[:error] %>
  Notification.show('<%= flash[:error] %>');
  <% end %>

  $(document).ready(function () {
    // execute
    (function () {
      // map options
      var options = {
        zoom: 2,
        center: new google.maps.LatLng(25, 10), // centered US
        mapTypeControl: false,
        streetViewControl: false
      };

      // init map
      var map = new google.maps.Map(document.getElementById('map-canvas'), options);

      // set multiple marker
      <% @cameras.each do |c| %>
      // init markers
        <% if c.deep_fetch(:location) {} != nil %>

      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= c.deep_fetch(:location, :lat) {} %>, <%= c.deep_fetch(:location, :lng) {} %>),
        map: map,
        title: 'Click Me '
      });

      var infowindow = new google.maps.InfoWindow();
      // process multiple info windows
      (function (marker) {
        // add click event
        google.maps.event.addListener(marker, 'click', function () {
          infowindow.setContent("<a href='/publiccam/<%= c['id'] %>'><%= preview(c, true) %></a>"+
              '<h5><a href="/publiccam/<%= c['id'] %>"><%= c["name"] %></a></h5>');
          infowindow.open(map, marker);
        });
      })(marker);
      <% end %>
      <% end %>

    })();
  });
</script>

