<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<div id="public-index">
<!-- sidebar menu start-->
<aside>
  <div id="sidebar" class="nav-collapse">
    <div class="leftside-navigation">
      <ul class="sidebar-menu" id="nav-accordion">

        <li class="sub-menu">
          <a href="/"><span>My Cameras</span></a>
        </li>

        <div class="nav-group">
          <li>
            <a class="active" href="/publiccam">Public Cameras</a>
          </li>
        </div>
        <div class="nav-group">
          <li>
            <a href="/cameras/new"><span class="glyphicon glyphicon-plus"></span>Add IP Camera</a>
          </li>
          <li>
            <a href="/add-android"><span class="glyphicon glyphicon-plus"></span>Add Android Camera</a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</aside>
<!-- sidebar menu end-->
<section id="main-content">
  <section class="wrapper site-min-height">

    <section class="panel">
          <!-- Nav tabs -->
        <div class="panel-heading">
           <ul class="nav nav-tabs">
            <li id="grid-style" class="<%= 'active' unless cookies['public-style'] == 'list' %>"><a href="#grid" data-toggle="tab"><span class="glyphicon glyphicon-th"></span>Grid</a></li>
            <li id="list-style" class="<%= 'active' if cookies['public-style'] == 'list' %>"><a href="#map" data-toggle="tab"><span class="glyphicon glyphicon-align-justify"></span>Map</a></li>
          </ul>
         </div>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane <%= 'active' unless cookies['public-style'] == 'list' %>" id="grid">
              <% @cameras.each do |c| %>

                <a href="/publiccam/<%= c['id'] %>">
                <div class="col-md-4 col-sm-6 col-xs-12 public-cam-box">
                  <div id="cam-name">
                    <h5><%= c["name"] %></h5>
                  </div>
                    <img onerror="this.style.display='none'" src="<%= c["short"]["jpg_url"] %>">
                  <div class="add-to-cams">
                    <h5><a href="#" class="create-share-button" camera_id="<%= c["id"] %>" email="<%= @user.email %>"><span class="glyphicon glyphicon-plus"></span>Add to My Cameras</a></h5>
                  </div>
                </div>
                </a>
              <% end %>

            </div>
            <div class="tab-pane <%= 'active' if cookies['public-style'] == 'list' %>" id="map">
              <div class="row">

              </div><!-- #row -->
            </div>

            <% unless @pages.blank? %>
            <div class="col-md-12">
              <ul class="pagination">
                <% 1.upto(@pages) do |i| %>
                <% if (@page + 1) == i %>
                <li class="active"><a href="publiccam?page=<%= i %>"><%= i %><span class="sr-only">(current)</span></a></li>
                <% else %>
                <li><a href="publiccam?page=<%= i %>"><%= i %></a></li>
                <% end %>
                <% end %>
              </ul>
            </div>
            <% end %>

          </div>
        </div><!-- #PUBLICCAMS -->
        </section>
      </div>
      <!--main content end-->



  </section>
</section>
</div>
<%= javascript_include_tag "publiccam" %>
<script>
$(window.Evercam.Publiccam.initialize);

Notification.init(".bb-alert");
<% if flash[:error] %>
Notification.show('<%= flash[:error] %>');
<% end %>
</script>



