<title>Evercam - Public Cameras</title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=TRUE"></script>
<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>

<div class="page-container" id="public-index">
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->
      <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">

        <li class="sidebar-toggler-wrapper">
          <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
          <div class="sidebar-toggler">
          </div>
          <!-- END SIDEBAR TOGGLER BUTTON -->
        </li>
        <li class="start ">
          <a href="/">
            <i class="icon-camera"></i>
            <span class="title">My Cameras</span>
          </a>
        </li>
        <li>
          <a href="/publiccam">
            <i class="icon-map"></i>
            <span class="title">Public Cameras</span>
          </a>
        </li>
        <li>
          <a href="/cameras/new">
            <i class="icon-plus"></i>
            <span class="title">Add Camera</span>
          </a>
        </li>
        <li class="last">
          <a href="javascript:;">
            <i class="icon-briefcase"></i>
            <span class="title">Developer</span>
            <span class="arrow "></span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="/dev">API Docs</a>
            </li>
            <li>
              <a href="javascript:;">
                Widgets <span class="arrow"></span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="/widgets-new">Live View Widget</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

      </ul>
      <!-- END SIDEBAR MENU -->
    </div>
  </div>
  <!-- END SIDEBAR -->
<div class="page-content-wrapper">
  <div class="page-content">
   <!-- <div class="portlet-title">
      <div class="caption">
        <i class=​"icon-home">​</i>​Map View
      </div>
    </div>-->
      <div class="portlet-body">
        <div id="map-canvas">
        </div>
      </div>
  </div>
</div>


</div>

<%= javascript_include_tag "publiccam" %>

<script>

  jQuery(document).ready(function() {
    Metronic.init(); // init metronic core components
    Layout.init(); // init current layout
    QuickSidebar.init() // init quick sidebar
  });

  $(window.Evercam.Publiccam.initialize);

  Notification.init(".bb-alert");
  <% if flash[:error] %>
  Notification.show('<%= flash[:error] %>');
  <% end %>

  $(document).ready(function () {
  });
  // execute
  (function () {
    // map options
    var options = {
      zoom: 4,
      minZoom: 3,
      maxZoom: 17,
      center: new google.maps.LatLng(47, 16),
      mapTypeControl: false,
      streetViewControl: false
    };


    // init map
    var map = new google.maps.Map(document.getElementById('map-canvas'), options);

    // set multiple marker

    <% @cameras.each do |c| %>
    // init markers

    <% if c.deep_fetch(:location) {} != nil && c['is_online'] %>

    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(<%= c.deep_fetch(:location, :lat) {} %>, <%= c.deep_fetch(:location, :lng) {} %>),
      map: map,
      title: 'Click Me '
    });



    var infowindow = new google.maps.InfoWindow();
    // process multiple info windows
    (function (marker) {
      // add click event
      google.maps.event.addListener(marker, 'click', function () {
        infowindow.setContent("<a href='/publiccam/<%= c['id'] %>'><%= preview(c, true) %></a>"+
            '<h5><a href="/publiccam/<%= c['id'] %>"><%= c["name"] %></a></h5>');
        infowindow.open(map, marker);
      });
    })(marker);
    <% end %>
    <% end %>

  })();
</script>

