<%= content_for(:title, "Evercam: Public Cameras") %>

<div class="page-content-wrapper">
  <div class="page-content" id="public-index">
    <div class="portlet-body">
      <div class="tabbable-line">
        <ul class="nav nav-tabs ">
          <li id="map-style" class="<%= 'active' unless cookies['public-style'] == 'list' %>">
            <a href="#map-view" data-toggle="tab">
              <i class="icon-map"></i> Map </a>
          </li>
          <li class="<%= 'active' if cookies['public-style'] == 'list' %>">
            <a href="#list" data-toggle="tab">
              <i class="icon-list"></i> List </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane <%= 'active' unless cookies['public-style'] == 'list' %>" id="map-view">
            <div id="map-canvas">
            </div>
          </div>

          <div class="tab-pane <%= 'active' if cookies['public-style'] == 'list' %>" id="list">
            <div class="col-md-12 margin-top-40">
              <p id="city"></p>
              <table id="public-list" class="table table-fixed flip-content" style="border-collapse:collapse;">
                <thead>
                <tr>
                  <th class="col-md-3">Camera Name</th>
                  <th class="col-md-1">Snapshot</th>
                  <th class="col-md-1">Status</th>
                  <th class="col-md-2">Camera Owner</th>
                  <th class="col-md-3">Location</th>
                  <th class="col-md-1">Camera Page</th>
                  <th class="col-md-2">Add to Cameras</th>
                </tr>
                </thead>
                <tbody>
                <% @public_cameras.each do |camera| %>
                  <tr>
                    <td><%= camera['name'] %></td>
                    <td data-toggle="collapse" data-target="#<%= camera['id'] %>" class="show-arrow">
                      <a data-toggle="modal" href="#<%= camera['id'] %>">Quick Preview </a></td>
                    <td class="text-success">
                      <% if camera['is_online'] %>
                        <span class="green">Online</span>
                      <% else %>
                        <span class="red">Offline</span>
                      <% end %>
                    </td>
                    <td><%= camera['owner'] %></td>
                    <td>
                      <div id="camera-location">
                        <p>
                          <%= camera.deep_fetch('location', 'lat') { '' }.to_s[0..7] %>, <br/>
                          <%= camera.deep_fetch('location', 'lng') { '' }.to_s[0..7] %>
                        </p>
                      </div>
                    </td>
                    <td class="show-arrow text-success">
                      <%= link_to public_cameras_single_path(camera['id']) do %>
                        View <i id="hover-arrow" class="icon-arrow-right"></i>
                      <% end %>
                    </td>
                    <td class="show-arrow">
                      <a class="create-share-button" camera_id="<%= camera['id'] %>" email="<%= @user.email %>">
                        Add <i id="hover-arrow" class="icon-plus"></i>
                      </a>
                    </td>
                  </tr>

                  <div class="modal fade" id="<%= camera['id'] %>" tabindex="-1" role="basic" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="public-preview" id="<%= camera['id'] %>">
                          <img class='snap' src='<%= camera['thumbnail'] %>'>
                        </div>
                        <i data-dismiss="modal" class="icon-close modal-dismiss"></i>
                      </div>
                    </div>
                  </div>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=TRUE"></script>

<script>
  window.Evercam.API_URL = '<%= EVERCAM_API %>';
  window.Evercam.User = {
    username: '<%= current_user.username %>',
    api_id: '<%= current_user.api_id %>',
    api_key: '<%= current_user.api_key %>'
  };
</script>

<%= javascript_include_tag "publiccam" %>

<script>
  $(document).ready(function () {
    window.initializePublic();
    Metronic.init();
    Layout.init();
    QuickSidebar.init();
  });
  Notification.init(".bb-alert");
  <% if flash[:error] %>
  Notification.show('<%= flash[:error] %>');
  <% end %>

  (function () {
    var mapOptions = {
      zoom: 4,
      minZoom: 3,
      maxZoom: 17,
      center: new google.maps.LatLng(47, 16),
      mapTypeControl: false,
      streetViewControl: false
    };

    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    <% @public_cameras.each do |camera| %>

    <% if camera.deep_fetch('location') {} != nil && camera['is_online'] %>

    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(<%= camera.deep_fetch('location', 'lat') {} %>, <%= camera.deep_fetch('location', 'lng') {} %>),
      map: map,
      title: 'Click Me '
    });

    var infowindow = new google.maps.InfoWindow();
    // process multiple info windows
    (function (marker) {
      // add click event
      google.maps.event.addListener(marker, 'click', function () {
        infowindow.setContent("<a href='/v1/public/cameras/<%= camera['id'] %>'><img class='snap' src='<%= camera['thumbnail'] %>'></a>" +
        '<h5><a href="/v1/public/cameras/<%= camera['id'] %>"><%= camera["name"] %></a></h5>');

        infowindow.open(map, marker);
      });
    })(marker);
    <% end %>
    <% end %>
  })();

  $(document).ready(function () {
    $('#public-list').DataTable({
      "lengthMenu": [[50, 100, -1], [50, 100, "All"]],
      "aoColumnDefs": [
        {'bSortable': false, 'aTargets': [1, 4, 5, 6]}
      ]
    });
  });
</script>
