<%= content_for(:title, "Evercam: Public Cameras") %>
<script type="text/javascript" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.css">
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=TRUE"></script>
<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>

<div class="page-container" id="public-index">
  <%= render :partial => "shared/sidebar" %>
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="portlet-body">
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li id="map-style" class="<%= 'active' unless cookies['public-style'] == 'list' %>">
              <a href="#map-view" data-toggle="tab">
                <i class="icon-map"></i> Map </a>
            </li>
            <li class="<%= 'active' if cookies['public-style'] == 'list' %>">
              <a href="#list" data-toggle="tab">
                <i class="icon-list"></i> List </a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane <%= 'active' unless cookies['public-style'] == 'list' %>" id="map-view">
              <div id="map-canvas">
              </div>
            </div>

            <div class="tab-pane <%= 'active' if cookies['public-style'] == 'list' %>" id="list">
              <div class="col-md-12 margin-top-40">
                <p id="city"></p>
                <table id="public-list" class="table table-fixed flip-content" style="border-collapse:collapse;">
                  <thead>
                  <tr>
                    <th class="col-md-3">Camera Name</th>
                    <th class="col-md-1">Snapshot</th>
                    <th class="col-md-1">Status</th>
                    <th class="col-md-2">Camera Owner</th>
                    <th class="col-md-3">Location</th>
                    <th class="col-md-1">Camera Page</th>
                    <th class="col-md-2">Add to my Cameras</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @public_cameras.each do |camera| %>
                    <tr>
                      <td><%= camera["name"] %></td>
                      <td data-toggle="collapse" data-target="#<%= camera["id"] %>" class="show-arrow">
                        <a data-toggle="modal" href="#<%= camera["id"] %>">Preview </a></td>
                      <td class="text-success">
                        <% if camera["is_online"] %>
                          <span class="green">Online</span>
                        <% else %>
                          <span class="red">Offline</span>
                        <% end %>
                      </td>
                      <td><%= camera['owner'] %></td>
                      <td><div id="camera-location"><%= camera.deep_fetch('location', 'lat') {} %>, <%= camera.deep_fetch('location', 'lng') {} %></p></div></td>
                      <td class="show-arrow text-success"><a href="/public/cameras/<%= camera['id'] %>">More info <i id="hover-arrow" class="icon-arrow-right"></i></a></td>
                      <td class="show-arrow"><a href="#" class="create-share-button" camera_id="<%= camera["id"] %>" email="<%= @user.email %>">Add <i id="hover-arrow" class="icon-plus"></i></a></td>
                    </tr>

                    <div class="modal fade" id="<%= camera["id"] %>" tabindex="-1" role="basic" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="public-preview" id="<%= camera["id"] %>"> <%= preview(camera, true) %> </div>
                            <i data-dismiss="modal" class="icon-close modal-dismiss"></i>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  if (!window.Evercam) {
    window.Evercam = {};
  }
  if (!window.Evercam.Share) {
    window.Evercam.Share = {};
  }
  window.Evercam.API_URL = '<%= EVERCAM_API %>';
  window.Evercam.User = {
    username: '<%= current_user.username %>',
    api_id: '<%= current_user.api_id %>',
    api_key: '<%= current_user.api_key %>'
  };
</script>

<%= javascript_include_tag "publiccam" %>
<%= javascript_include_tag "cameras/single/sharing" %>

<script>
  $(document).ready(function() {
    window.initializePublic();
    Metronic.init();
    Layout.init();
    QuickSidebar.init();
  });
  Notification.init(".bb-alert");
  <% if flash[:error] %>
  Notification.show('<%= flash[:error] %>');
  <% end %>

  (function () {
    var mapOptions = {
      zoom: 4,
      minZoom: 3,
      maxZoom: 17,
      center: new google.maps.LatLng(47, 16),
      mapTypeControl: false,
      streetViewControl: false
    };

    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    <% @public_cameras.each do |camera| %>

    <% if camera.deep_fetch('location') {} != nil && camera['is_online'] %>

    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(<%= camera.deep_fetch('location', 'lat') {} %>, <%= camera.deep_fetch('location', 'lng') {} %>),
      map: map,
      title: 'Click Me '
    });

    var infowindow = new google.maps.InfoWindow();
    // process multiple info windows
    (function (marker) {
      // add click event
      google.maps.event.addListener(marker, 'click', function () {
        infowindow.setContent("<a href='/public/cameras/<%= camera['id'] %>'><%= preview(camera, true) %></a>"+
            '<h5><a href="/public/cameras/<%= camera['id'] %>"><%= camera["name"] %></a></h5>');
        infowindow.open(map, marker);
      });
    })(marker);
    <% end %>
    <% end %>
  })();

  $(document).ready(function () {
    $('#public-list').DataTable({
      "lengthMenu": [[50, 100, -1], [50, 100, "All"]],
      "aoColumnDefs": [
        {'bSortable': false, 'aTargets': [1, 4, 5, 6]}
      ]
    });
  });

  var menuLeft = document.getElementById( 'cbp-spmenu-s1' );
  var showLeft = document.getElementById( 'showLeft' );
  var body = document.body;

  showLeft.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( menuLeft, 'cbp-spmenu-open' );
    disableOther( 'showLeft' );
  };

  function disableOther( button ) {
    if( button !== 'showLeft' ) {
      classie.toggle( showLeft, 'disabled' );
    }
  }

</script>
