<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<div class="boxed-page">
  <div class="container clearfix">
    <section id="dev-dash">
      <!--sidebar start-->
      <div id="sidebar" class="col-md-2 col-xs-12">
        <ul class="sidebar-menu">
          <li class="menu-item">
            <a href="/">
              <span>My Cameras</span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/">
              <span>Cameras Shared With Me</span>
  </a>
          </li>
          <li class="menu-item">
            <a href="/cameras/new"><span class="glyphicon glyphicon-plus"></span>Add IP Camera</a>
          </li>
          <li class="menu-item">
            <a href="/add-android"><span class="glyphicon glyphicon-plus"></span>Add Android Camera</a>
          </li>
          <li class="menu-item active">
            <a href="/publiccam">Public Cameras</a>
          </li>
        </ul>
      </div>
      <!--sidebar end-->
      <!--main content start-->
      <div class="col-md-10 col-xs-12 wrapper">
        <section id="main-content">
          <div class="row widget-header">
            <div class='col-md-12 widget-article-header'>
              <h3>Public Cameras</h3>
            </div>
          </div>
        <div id="publiccams">
          <!-- Nav tabs -->
         <div class="new-panel-heading">
           <ul class="nav nav-tabs">
            <li id="grid-style" class="<%= 'active' unless cookies['public-style'] == 'list' %>"><a href="#grid" data-toggle="tab"><span class="glyphicon glyphicon-th"></span>Grid</a></li>
            <li id="list-style" class="<%= 'active' if cookies['public-style'] == 'list' %>"><a href="#list" data-toggle="tab"><span class="glyphicon glyphicon-align-justify"></span>List</a></li>
          </ul>
         </div>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane <%= 'active' unless cookies['public-style'] == 'list' %>" id="grid">
              <% @cameras.each do |c| %>

                <a href="/publiccam/<%= c['id'] %>">
                <div class="col-md-4 col-sm-6 col-xs-12 public-cam-box">
                  <div id="cam-name">
                    <h5><%= c["name"] %></h5>
                  </div>
                    <img onerror="this.style.display='none'" src="<%= c["short"]["jpg_url"] %>">
                  <div class="add-to-cams">
                    <h5><a href="#" class="create-share-button" camera_id="<%= c["id"] %>" email="<%= @user.email %>"><span class="glyphicon glyphicon-plus"></span>Add to My Cameras</a></h5>
                  </div>
                </div>
                </a>
              <% end %>

            </div>
            <div class="tab-pane <%= 'active' if cookies['public-style'] == 'list' %>" id="list">
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-hover">
                    <thead>
                    <th class="col-md-6">Preview</th>
                    <th class="col-md-3 public-table">Camera</th>
                    <th class="col-md-2"><span>Add to My Cameras</span></th>
                    <th class="col-md-1 text-right">Status</th>
                    </thead>
                    <% @cameras.each do |c| %>
                      <tr>
                        <td class="col-md-6">
                          <div class="public-preview"><img src="<%= c["short"]["jpg_url"] %>"></div>
                        </td>
                        <td class="col-md-3 public-list-name"><%= link_to(c["name"], "publiccam/#{c['id']}") %></td>
                        <td class="col-md-2">
                          <div class="add-hover">
                            <a href="#" class="create-share-button" camera_id="<%= c["id"] %>" email="<%= @user.email %>"><span class="glyphicon glyphicon-plus"></span>Add to My Cameras</a>
                          </div>
                        </td>
                        <td class="col-md-1 text-right">
                          <% if c["is_online"] %>
                            <span class="green text-right">Online</span>
                          <% else %>
                            <span class="red text-right">Offline</span>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </table>
                </div>
              </div><!-- #row -->
            </div>

            <% unless @pages.blank? %>
            <div class="col-md-12">
              <ul class="pagination">
                <% 1.upto(@pages) do |i| %>
                <% if (@page + 1) == i %>
                <li class="active"><a href="publiccam?page=<%= i %>"><%= i %><span class="sr-only">(current)</span></a></li>
                <% else %>
                <li><a href="publiccam?page=<%= i %>"><%= i %></a></li>
                <% end %>
                <% end %>
              </ul>
            </div>
            <% end %>
          </div>
        </div><!-- #PUBLICCAMS -->
        </section>
      </div>
      <!--main content end-->
    </section>
  </div>
</div> <!--boxed page end-->

<%= javascript_include_tag "publiccam" %>
<script>
$(window.Evercam.Publiccam.initialize);

Notification.init(".bb-alert");
<% if flash[:error] %>
Notification.show('<%= flash[:error] %>');
<% end %>
</script>



