<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<div class="page-container" id="public-index">
  <!-- sidebar menu start-->
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">

      <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
        <!--<li class="sidebar-toggler-wrapper">
          <div class="sidebar-toggler">
          </div>
        </li>-->
        <li>
          <a href="/">Camera Dashboard</a>
        </li>
        <li>
          <a class="active" href="/publiccam">Public Cameras</a>
        </li>

        <li>
          <a href="/cameras/new">Add Camera</a>
        </li>
        <li>
          <a href="/dev">Developer</a>
        </li>

      </ul>
    </div>
  </div>
  <!-- sidebar menu end-->
  <div class="page-content-wrapper">
    <div class="page-content">

    <div id="public-cam-single" class="row">
      <div class="col-md-12">
        <!--progress bar start-->
        <section class="panel">
          <header class="panel-heading">
            <%= @camera['name'] %>
            <span class="tools pull-right">
                                 <a href="#" class="create-share-button btn evercam-btn" camera_id="<%= @camera["id"] %>" email="<%= @user.email %>"><span class="glyphicon glyphicon-plus"></span>Add to Cameras Shared With Me</a>
                            </span>
          </header>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-6 camera-image">
                <img src="<%= @camera['jpg'] %>" width="100%">
              </div>
              <div class="col-lg-6 data">

                <table class="table table-borderless">
                  <tr>
                    <td>Vendor:</td>
                    <td><%= @camera["vendor_name"] %></td>
                  </tr>
                  <tr>
                    <td>Model:</td>
                    <td><%= @camera['model'] %></td>
                  </tr>
                  <tr>
                    <td>Status:</td>
                    <td>
                      <% if @camera['is_online'] %>
                        <span class="green">Online</span>
                      <% else %>
                        <span class="red">Offline</span>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>Location:</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Added date:</td>
                    <td><%= Time.at(@camera['created_at']).to_formatted_s(:long_ordinal) %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </section>
        <!--progress bar end-->

      </div>
    </div>



    <div class="row">
      <div class="col-lg-2">


        <div class="row">
          <div class="col-md-12">
            <!--progress bar start-->
            <section class="panel">

              <div class="panel-body">

                <span class="glyphicon glyphicon-arrow-left"></span><span class="pull-right"><%= link_to 'Public Cameras', '/publiccam' %></span>

              </div>
            </section>
            <!--progress bar end-->

          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>

<%= javascript_include_tag "publiccam" %>
<script>
  $(window.Evercam.Publiccam.initialize);
</script>