<div class="col-md-12">
  <h4>Info</h4>
</div>

<div class='col-lg-7'>
  <table class="table">
    <tr>
      <td class="col-md-4">
        <label class="control-label">Evercam ID</label>
      </td>
      <td class="col-md-6 settings">
        <%= @camera['id'] %>
      </td>
    </tr>
    <tr>
      <td class="col-md-4">
        <label class="control-label" for="camera-name">Camera Owner</label>
      </td>
      <td class="col-md-6">
        <%= @camera['owner'] %>
      </td>
    </tr>
    <tr>
      <td class="col-md-4">
        <label class="control-label" for="camera-name">Local IP</label>
      </td>
      <td class="col-md-6">
        <%= @camera['internal_host'] %>
      </td>
    </tr>
  </table>
</div>

<div class="col-md-5 url-container">
  <div class="row info-panel">
      <div class="col-md-12">
        <h5>Short URLs</h5>
      </div>
      <div class="col-md-2">
        JPEG
      </div>
      <div class="col-md-10">
        <% if @camera['is_public'] %>
          <%= link_to "http://evr.cm/#{@camera['id']}.jpg", "http://evr.cm/#{@camera['id']}.jpg", :only_path => false %>
        <% else %>
          <%= "http://evr.cm/#{@camera['id']}.jpg" %> <small class="grey">(Only available for public cameras, you can change your settings <a class="open-sharing" href="#sharing">here</a>)</small>
        <% end %>
      </div>
  </div>
  <div class="row info-panel">
      <div class="col-md-12">
        <h5>Dynamic DNS URLs</h5>
      </div>
      <div class="col-md-2">
        JPEG
      </div>
      <div class="col-md-10">
        <% url = @camera.fetch('dyndns', {})['jpg_url'] %>
        <%= link_to_unless(url.nil?, url, url, target: '_blank', :only_path => false) %>
      </div>
  </div>
  <div class="row info-panel">
      <div class="col-md-12">
        <h5>Base URLs</h5>
      </div>
      <div class="col-md-2">
        RTSP
      </div>
      <div class="col-md-10">
        <% url = @camera.fetch('external', {})['rtsp_url'] %>
        <%= link_to_unless(url.nil?, url, url,  :only_path => false) %>
      </div>
      <div class="col-md-2">
        JPEG
      </div>
      <div class="col-md-10">
        <% url = @camera.fetch('external', {})['jpg_url']  %>
        <%= link_to_unless(url.nil?, url, url, target: '_blank', :only_path => false) %>
      </div>
  </div>
</div><!--URL Container -->

  
  

<script type="text/javascript">
  $(window.Evercam.Info.initializeTab);
</script>