<div class="col-md-12">
  <h4>Info</h4>
</div>

<div class='col-lg-7'>
  <table class="table">
    <tr>
      <td class="col-md-4">
        <label class="control-label">Evercam ID</label>
      </td>
      <td class="col-md-6 settings">
        <%= @camera['id'] %>
      </td>
      <td class="col-md-2"></td>
    </tr>
    <tr>
      <td class="col-md-4">
        <label class="control-label" for="camera-name">Camera Owner</label>
      </td>
      <td class="col-md-6">
        <%= @camera['owner'] %>
      </td>
      <td class="col-md-2">
      <% if @camera['owner'] %>
         <button id="change_owner_button" type="button" class="btn btn-default">Change</button>
      <% end %>
      </td>
    </tr>
    <tr>
      <td class="col-md-4">
        <label class="control-label" for="camera-name">Local IP</label>
      </td>
      <td class="col-md-6">
        <%= @camera['internal_host'] %>
      </td>
      <td class="col-md-2"></td>
    </tr>
  </table>
</div>

<div class="col-md-5 url-container">
  <div class="row info-panel">
      <div class="col-md-12">
        <h5>Short URLs</h5>
      </div>
      <div class="col-md-2">
        JPEG
      </div>
      <div class="col-md-10">
        <% if @camera['is_public'] %>
          <%= link_to "http://evr.cm/#{@camera['id']}.jpg", "http://evr.cm/#{@camera['id']}.jpg", :only_path => false %>
        <% else %>
          <%= "http://evr.cm/#{@camera['id']}.jpg" %> <small class="grey">(Only available for public cameras, you can change your settings <a class="open-sharing" href="#sharing">here</a>)</small>
        <% end %>
      </div>
  </div>
  <div class="row info-panel">
      <div class="col-md-12">
        <h5>Dynamic DNS URLs</h5>
      </div>
      <div class="col-md-2">
        JPEG
      </div>
      <div class="col-md-10">
        <% url = @camera.fetch('dyndns', {})['jpg_url'] %>
        <%= link_to_unless(url.nil?, url, url, target: '_blank', :only_path => false) %>
      </div>
  </div>
  <div class="row info-panel">
      <div class="col-md-12">
        <h5>Base URLs</h5>
      </div>
      <div class="col-md-2">
        RTSP
      </div>
      <div class="col-md-10">
        <% url = @camera.fetch('external', {})['rtsp_url'] %>
        <%= link_to_unless(url.nil?, url, url,  :only_path => false) %>
      </div>
      <div class="col-md-2">
        JPEG
      </div>
      <div class="col-md-10">
        <% url = @camera.fetch('external', {})['jpg_url']  %>
        <%= link_to_unless(url.nil?, url, url, target: '_blank', :only_path => false) %>
      </div>
  </div>
</div><!--URL Container -->

<div id="change_owner_dialog" class="modal fade" role="fade">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>Transfer Camera Ownership</h4>
         </div>
         <div class="modal-body">
            <p class="text-left">
               Enter the user name or email address of the Evercam user that you want to transfer ownership of this camera to in the field below.
               <p><strong>
                  Note that once you click submit you will no longer be the owner of the camera and may lose all rights to the
                  camera and associated artifacts.
               </strong></p>
            </p>
            <p id="change_owner_error" class="alert alert-danger" style="display: none;"></p><br/>
            <input type="text" id="new_owner_email" name="new_owner_email" placeholder="Enter New Owners Email Address">
            <input type="hidden" id="change_owner_camera_id" name="camera-id" value="<%= @camera['id'] %>">
            <br/>
         </div>
         <div class="modal-footer">
            <hr/>
            <div class="col-sm-8">
               <div class="btn-toolbar pull-left">
                  <div class="btn-group">
                     <button type="button" id="submit_change_owner_button" class="btn btn-default btn-danger">Submit</button>
                  </div>
                  <div class="btn-group">
                     <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>  

<script type="text/javascript">
  $(window.Evercam.Info.initializeTab);
</script>