<div class='panel-body'>
<div class='col-lg-6'>
<div class="row">
      <div class="col-md-4">
        <h5>Evercam ID</h5>
      </div>
      <div class="col-md-6">
        <p><%= @camera['id'] %></p>
      </div>
</div>
  <div class="row info">
      <div class="col-md-4">
        <h5>Camera Owner</h5>
      </div>
      <div class="col-md-6">
       <p><%= @camera['owner'] %>
        <% if @camera['owner'] == current_user.username %>
          <small>(you)  </small><a href="#" id="change_owner_button" type="button" class="blue">  Change</a>
        <% end %>
       </p>
      </div>
      <div class="col-md-2">

      </div>
  </div>
  <div class="row">
      <div class="col-md-4">
        <h5>Local IP</h5>
      </div>
      <div class="col-md-6">
        <p><%= @camera['internal_host'] %></p>
      </div>
      <div class="col-md-2"></div>
  </div>

</div>

<div class="col-md-12">
<div class="url-container">
  <div class="row info-panel">
      <div class="col-md-12">
        <h5>Short URLs</h5>
      </div>
      <div class="col-md-10">
        JPEG
      </div>
      <div class="col-md-10">
          <div id="public-short-link" class="show-on-public" style="<%= 'display: none;' unless @camera['is_public'] %>">
            <%= link_to "http://evr.cm/#{@camera['id']}.jpg", "http://evr.cm/#{@camera['id']}.jpg", target: '_blank', :only_path => false %>
          </div>
          <div id="private-short-link" class="show-on-private" style="<%= 'display: none;' if @camera['is_public'] %>">
            <%= "http://evr.cm/#{@camera['id']}.jpg" %> <small class="grey">(Only available for public cameras, you can change your settings <a class="open-sharing" href="#sharing">here</a>)</small>
          </div>
      </div>
  </div>
  <div class="row info-panel">
      <div class="col-md-12">
        <h5>Dynamic DNS URLs</h5>
      </div>
      <div class="col-md-10">
        JPEG
      </div>
      <div class="col-md-10">

        <% if url = @camera.fetch('dyndns', {})['jpg_url'] %>
        <%= link_to_unless(url.nil?, url, url, target: '_blank', :only_path => false) %>
        <% else %>
        none
        <% end %>

      </div>
  </div>
  <div class="row info-panel">
      <div class="col-md-12">
        <h5>Base URLs</h5>
      </div>
      <div class="col-md-10">
        JPEG
      </div>
      <div class="col-md-10 info-panel">
        <% url = @camera.fetch('external', {})['jpg_url'] %>
        <%= link_to_unless(url.nil?, url, url, target: '_blank', :only_path => false) %>
      </div>
      <div class="col-md-10">
        RTSP
      </div>
      <div class="col-md-10">
        <% url = @camera.fetch('external', {})['rtsp_url'] %>
        <%= link_to_unless(url.nil?, url, url,  :only_path => false) %>
      </div>
  </div>
</div><!--URL Container -->
</div>

<div id="change_owner_dialog" class="modal fade" role="fade">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>Transfer Camera Ownership</h4>
         </div>
         <div class="modal-body">
            <p class="text-left">
               Enter the user name or email address of the Evercam user that you want to transfer ownership of this camera to in the field below.
               <p><strong>
                  Note that once you click submit you will no longer be the owner of the camera and may lose all rights to the
                  camera and associated artifacts.
               </strong></p>
            </p>
            <p id="change_owner_error" class="alert alert-danger" style="display: none;"></p><br/>
            <input type="text" id="new_owner_email" name="new_owner_email" placeholder="Enter New Owners Email Address">
            <input type="hidden" id="change_owner_camera_id" name="camera-id" value="<%= @camera['id'] %>">
            <br/>
         </div>
         <div class="modal-footer">
            <hr/>
            <div class="col-sm-8">
               <div class="btn-toolbar pull-left">
                  <div class="btn-group">
                     <button type="button" id="submit_change_owner_button" class="btn btn-default btn-danger">Submit</button>
                  </div>
                  <div class="btn-group">
                     <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>

<script type="text/javascript">
  $(window.Evercam.Info.initializeTab);
</script>