  <section id="unseen">
    <table class="table table-borderless">
      <thead>
      <tr>
        <th class="col-md-2 first-row">
          General Info
        </th>
        <td>
        </td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          Evercam ID
        </td>
        <td id="ec_cam_id">
          <%= @camera['id'] %>
        </td>
      </tr>
      <tr>
        <td>Camera Owner</td>
        <td><%= @camera['owner'] %>
          <% if @camera['owner'] == current_user.username %>
            <small>(you)  </small><a href="#" id="change_owner_button" type="button" class="blue">  change</a>
          <% end %></td>
      </tr>
      <tr>
        <td>
          Camera Location
        </td>
        <td>
          <%= @camera.deep_fetch(:location, :lng) {} %>
          <%= @camera.deep_fetch(:location, :lat) {} %>
        </td>
      </tr>
      <tr>
        <td>Local IP</td>
        <td><%= @camera.deep_fetch(:internal, :host) {} %></td>
      </tr>
      </tbody>
    </table>
  </section>

  <section id="unseen">
    <table class="table table-borderless">
      <thead>
      <tr>
        <th class="col-md-2 first-row">
          Proxy URLs
        </th>
        <td>
        </td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          JPEG
        </td>
        <td id="public-short-link" class="show-on-public" style="<%= 'display: none;' unless @camera['is_public'] %>">
            <%= link_to "http://evr.cm/#{@camera['id']}.jpg", "http://evr.cm/#{@camera['id']}.jpg", target: '_blank', :only_path => false %>
        </td>
          <td id="private-short-link" class="show-on-private" style="<%= 'display: none;' if @camera['is_public'] %>">
            <%= "http://evr.cm/#{@camera['id']}.jpg" %> <small class="grey">(Only available for public cameras, you can change your settings <a class="open-sharing" href="#sharing">here</a>)</small> `
        </td>
      </tr>
      </tbody>
    </table>
  </section>

  <section id="unseen">
    <table class="table table-borderless">
      <thead>
      <tr>
        <th class="col-md-2 first-row">
          Dynamic DNS URLs
        </th>
        <td>
        </td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          JPEG
        </td>
        <td>
          <% url = @camera.deep_fetch(:dyndns, :http, :jpg) {} %>
          <%= link_to_unless(url.nil?, url, url, target: '_blank', :only_path => false) %>
        </td>
      </tr>
      </tbody>
    </table>
  </section>

  <section id="unseen">
    <table class="table table-borderless">
      <thead>
      <tr>
        <th class="col-md-2 first-row">
          Base URLs
        </th>
        <td>
        </td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          Camera
        </td>
        <td>
          <% url = @camera.deep_fetch(:external, :http, :camera) {} %>
          <%= link_to_unless(url.nil?, url, url, target: '_blank', :only_path => false) %>
        </td>
      </tr>
      <tr>
        <td>
          JPEG
        </td>
        <td>
          <% url = @camera.deep_fetch(:external, :http, :jpg) {} %>
          <%= link_to_unless(url.nil?, url, url, target: '_blank', :only_path => false) %>
        </td>
      </tr>
      <tr>
        <td>
          MJPEG
        </td>
        <td>
          <% url = @camera.deep_fetch(:external, :http, :mjpg) {} %>
          <%= link_to_unless(url.nil?, url, url,  :only_path => false) %>
        </td>
      </tr>
      <tr>
        <td>
          MPEG
        </td>
        <td>
          <% url = @camera.deep_fetch(:external, :rtsp, :mpeg) {} %>
          <%= link_to_unless(url.nil?, url, url,  :only_path => false) %>
        </td>
      </tr>
      <tr>
        <td>
          Audio
        </td>
        <td>
          <% url = @camera.deep_fetch(:external, :rtsp, :audio) {} %>
          <%= link_to_unless(url.nil?, url, url,  :only_path => false) %>
        </td>
      </tr>
      <tr>
        <td>
          H264
        </td>
        <td>
          <% url = @camera.deep_fetch(:external, :rtsp, :h264) {} %>
          <%= link_to_unless(url.nil?, url, url,  :only_path => false) %>
        </td>
      </tr>
      </tbody>
    </table>
  </section>



<div id="change_owner_dialog" class="modal fade" role="fade">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>Transfer Camera Ownership</h4>
         </div>
         <div class="modal-body">
            <p class="text-left">
               Enter the user name or email address of the Evercam user that you want to transfer ownership of this camera to in the field below.
               <p><strong>
                  Note that once you click submit you will no longer be the owner of the camera and may lose all rights to the
                  camera and associated artifacts.
               </strong></p>
            </p>
            <p id="change_owner_error" class="alert alert-danger" style="display: none;"></p><br/>
            <input type="text" id="new_owner_email" name="new_owner_email" placeholder="Enter New Owners Email Address">
            <input type="hidden" id="change_owner_camera_id" name="camera-id" value="<%= @camera['id'] %>">
            <br/>
         </div>
         <div class="modal-footer">
            <hr/>
            <div class="col-sm-8">
               <div class="btn-toolbar pull-left">
                  <div class="btn-group">
                     <button type="button" id="submit_change_owner_button" class="btn btn-default btn-danger">Submit</button>
                  </div>
                  <div class="btn-group">
                     <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


<script type="text/javascript">
  $(window.Evercam.Info.initializeTab);
</script>