<div class="checkout page-content-wrapper">
  <div class="page-content">
    <%= render partial: "users/section_header", locals: { section_header_title: "Checkout" } %>
    <div class="portlet-body">
      <div class="plans">
      <%= render 'subscriptions/navigation' %>
        <div class="row">
          <div>
            <h3>Cart</h3>
            <%= render "subscriptions/cart" %>
            <li>Total <%= cents_to_currency(@total_charge) %></li>
            <% if add_ons_in_cart? %>
              <li>Add-ons Subtotal to Renewal: <%= cents_to_currency(@pro_rated_add_ons_charge) %></li>
              <li>Add-ons per month: <%= cents_to_currency(@add_ons_charge) %></li>
            <% end %>
            <%= button_to "Pay Now", new_charge_path({ amount: @total_charge }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>