<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EvercamAdmin</title>
  <%= stylesheet_link_tag    "admin/admin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "admin/admin", "data-turbolinks-track" => true %>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body class="page-header-fixed page-quick-sidebar-over-content" id='<%= "#{params[:controller].parameterize}-#{params[:action]}" %>'>
  <%= render 'admin/shared/header' %>
  <div class="page-container">
    <%= render 'admin/shared/sidebar' %>
    <%= yield %>
  </div>
</body>
</html>
